@import "functions.scss";


/* ==========================================================================
	fv
========================================================================== */
.fv{
	position: relative;
	padding-top: var(--head-mt);
	.inr{
		$conW:1440;
		h1{
			width: get_calc(183,$conW);
			min-width:183px;
		}
	}
	@include max-width(1050){
		.inr{
			$conW:740;
			h1{
				width: get_calc(225,$conW);
				min-width:112px;
			}
		}
	}
}


/* ==========================================================================
	company-wrap
========================================================================== */
.company-wrap{
	position: relative;
	z-index: 30;
	$conW:1500;
	container-type: inline-size;
	@include gradient-bg(to bottom, transparent,var(--base-bg-color05));
	.inr{
		position: relative;
		background:var(--base-bg-color06);
		&:before{
			content: "";
			position: absolute;
			inset: 0;
			background-image: url(../img/common/bg-pattern.webp);
			background-repeat: repeat;
			background-size:cover;
			// background-size: 987px 1270px;
			opacity: .7;
			mix-blend-mode: soft-light;
			pointer-events: none;
			border-radius:60px;
			z-index: 1;
		}
	}
	.company-sec{
		position: relative;
		margin-top: getCqw(150,1500);
		width: get_calc(1140,1400);
		margin-inline:auto;
		z-index: 15;
	}
	.tit_area{
		width: 100%;
		@include fch;
		.en{
			font-size: max(13px,getCqw(20,$conW));
		}
	}
	h2{
		margin-right: getCqw(30,$conW);
	}
	.kumo{
		position: absolute;
		z-index: 30;
		animation: bird-float 6s ease-in-out infinite;
	}
	.-risu{
		width: get_calc(212,$conW);
		left: get_calc(960,$conW);
		bottom: calc(100% - getCqw(60,$conW));
	}
	.-kumonchu{
		width: get_calc(431,$conW);
		left: get_calc(1065,$conW);
		bottom: calc(100% - getCqw(225,$conW));
		animation-delay: -0.5s;
	}
	.-message{
		@include fl;
		align-items:flex-start;
		$areaW:2280;
		padding-top: getCqw(140,$conW);
		margin-top: getCqw(80,$conW);
		h2{
			width: getCqw(293,$conW);
		}
		.img_area{
			position: relative;
			width: get_calc(1040,$areaW);
			padding-top: 20px;
			padding-right: 20px;
			padding-left: 20px;
			margin-top: getCqw(80,$conW);
			box-sizing:border-box;
			&:after{
				content:"";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border:20px solid var(--base-color-green09);
				z-index: 20;
			}
		}
		.img{
			position: relative;
			overflow: hidden;
			aspect-ratio:960/1320;
			&:after{
				content:"";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border:6px solid var(--base-color-green04);
				z-index: 20;
			}
		}
		.risu{
			position: absolute;
			width: getCqw(225,$conW);
			bottom: getCqw(-36,$conW);
			left: getCqw(-95,$conW);
			z-index: 30;
		}
		.text_area{
			width: get_calc(1120,$areaW);
			margin-top: getCqw(80,$conW);
			.n_txt{
				font-size: max(15px,getCqw(15,1400));
				line-height: calc(39/16);
				font-weight: 500;
				letter-spacing:-0.08em;
			}
			.r_txt{
				display: block;
				text-align:right;
			}
		}
	}
	.-company{
		position: relative;
		h2{
			width: getCqw(195,$conW);
		}
		.-kumonchu02{
			width: get_calc(431,1140);
			left: get_calc(930,1140);
			top: 0;
			animation-delay: -0.5s;
			--W:431;
			--H:595;
			&:after{
				--bW:207;
				--bT:29;
				--bL:-73;
				--imgURL: url("../img/company/company-kumonchu-sb.png");
				aspect-ratio:207/68;
				transition-delay:.4s;
			}
		}
		.data-list{
			padding:getCqw(60,$conW) getCqw(80,$conW);
			margin-top: getCqw(80,$conW);
		}
		.data_head,.data_body{
			font-size: max(14px,getCqw(15,$conW));
			line-height: calc(64/32);
			font-weight: 500;
		}
		.data_row{
			padding: 1.7rem 0;
		}
		li{
			position: relative;
			font-size: max(15px,getCqw(15,$conW));
			line-height: calc(64/32);
			font-weight: 500;
			padding-left: getCqw(17,$conW);
			letter-spacing: -0.06em;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: getCqw(13,$conW);
				width: getCqw(8,$conW);
				height: 3px;
				border-radius:3px;
				background: var(--base-btn-color03);
			}
		}
	}
	.-office{
		position: relative;
		padding-bottom: getCqw(190,$conW);
		h2{
			width: getCqw(387,$conW);
		}
		.duck{
			position: absolute;
			width: get_calc(123,1140);
			right: get_calc(45,1140);
			top: max(35px,getCqw(50,$conW));
			z-index: 1;
			--W:123;
			--H:140;
			&:after{
				--bW:164;
				--bT:-74;
				--bL:-75;
				--imgURL: url("../img/company/office-duck-sb.png");
				aspect-ratio:164/65;
				transition-delay:.4s;
			}
		}
		ul{
			position: relative;
			@include fl;
			margin-top:getCqw(80,$conW);
			z-index: 10;
		}
		li{
			width: 30.7%;
		}
		.img{
			position: relative;
			width: calc(100% - 10px);
			margin-bottom: getCqw(35,$conW);
			img{
				position: relative;
				z-index: 5;
			}
			&:before{
				content:"";
				display:block;
				position: absolute;
				left: 10px;
				top: 10px;
				width: 100%;
				height: 100%;
				background:#d5dee1;
				z-index: 1;
			}
			&:after{
				content:"";
				display:block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				border:2px solid var(--base-color-white);
				z-index: 30;
			}
		}
		h3{
			font-size: max(17px,getCqw(18,$conW));
			line-height: 1;
			color:var(--base-color-green05);
			font-weight: 500;
			margin-bottom: getCqw(20,$conW);
		}
		.n_txt{
			font-size: max(13px,getCqw(14,$conW));
			line-height: calc(52/28);
			margin-bottom: getCqw(17,$conW);
			letter-spacing:-0.05em;
			font-weight: 500;
		}
	}
	@include max-width(1050){
		$conW:760;
		.inr:before{
			border-radius:30px;
		}
		.company-sec{
			margin-top: getCqw(120,$conW);
			width: get_calc(640,$conW);
		}
		.tit_area{
			display: block;
			text-align: center;
			.en{
				font-size:getCqw(24,$conW);
			}
		}
		h2{
			margin:0 auto getCqw(24,$conW);
		}
		.-risu{
			width: get_calc(230,$conW);
			left: get_calc(358,$conW);
			bottom: calc(100% + getCqw(103,$conW));
		}
		.-kumonchu{
			width: get_calc(517,$conW);
			left: get_calc(430,$conW);
			bottom: calc(100% - getCqw(100,$conW));
		}
		.-message{
			@include fl;
			align-items:flex-start;
			$areaW:640;
			padding-top: getCqw(140,$conW);
			h2{
				width: getCqw(333,$conW);
			}
			.img_area{
				width: get_calc(520,$areaW);
				padding-top: 10px;
				padding-right: 10px;
				padding-left: 10px;
				margin-top: getCqw(70,$conW);
				margin-inline:auto;
				&:after{
					border-width:10px;
				}
			}
			.risu{
				width: getCqw(226,$conW);
				bottom: getCqw(-36,$conW);
				left: getCqw(-64,$conW);
			}
			.text_area{
				width: 100%;
				margin-top: getCqw(125,$conW);
				.n_txt{
					font-size: min(18px,getCqw(28,$conW));
					line-height: calc(66/28);
				}
			}
		}
		.-company{
			width: get_calc(720,760);
			margin-top: getCqw(470,$conW);;
			h2{
				width: getCqw(225,$conW);
			}
			.-kumonchu02{
				width: get_calc(517,720);
				left: auto;
				right: get_calc(395,720);
				top:getCqw(-340,$conW);
				z-index: 1;
				--W:259;
				--H:358;
				&:after{
					--bW:141;
					--bT:18;
					--bL:181;
					--imgURL: url("../img/company/company-kumonchu-sb-sp.png");
					aspect-ratio:141/49;
					transition-delay:.4s;
				}
				img{
					transform:var(--hantenX);
				}
			}
			.data-list{
				position: relative;
				padding:getCqw(76,$conW) getCqw(55,$conW);
				margin-top: getCqw(85,$conW);
				z-index: 10;
				.map_link{
					margin-left: 0;
					margin-bottom: 10px;
				}
			}
			.data_row{
				display: block;
				padding: 1.2rem 0;
			}
			.data_head,.data_body{
				font-size: min(17px,getCqw(28,$conW));
				line-height: calc(60/28);
			}
			li{
				font-size: min(17px,getCqw(28,$conW));
				line-height: calc(60/28);
				padding-left: getCqw(40,$conW);
				&:before{
					top: getCqw(20,$conW);
					left: getCqw(12,$conW);
					width: 8px;
				}
			}
		}
		.-office{
			padding-bottom:getCqw(300,$conW);
			h2{
				width: getCqw(447,$conW);
			}
			.duck{
				width: get_calc(431,660);
				right: auto;
				left: get_calc(410,660);
				top:auto;
				bottom: getCqw(-70,$conW);
				--W:216;
				--H:175;
				&:after{
					--bW:121;
					--bT:3;
					--bL:-95;
					--imgURL: url("../img/company/office-duck-sb-sp.png");
					aspect-ratio:121/49;
					transition-delay:.4s;
				}
			}
			ul{
				display: block;
				margin-top:getCqw(80,$conW);
			}
			li{
				width: 100%;
				+ li{
					margin-top:getCqw(100,$conW);
				}
			}
			.img{
				width: calc(100% - 5px);
				margin-bottom: getCqw(50,$conW);
				&:before{
					left: 5px;
					top: 5px;
				}
				&:after{
					border:1px solid var(--base-color-white);
				}
			}
			h3{
				font-size: min(24px,getCqw(32,$conW));
				margin-bottom: getCqw(20,$conW);
			}
			.n_txt{
				font-size: min(18px,getCqw(28,$conW));
				line-height: calc(50/28);
				margin-bottom: getCqw(40,$conW);
			}
		}

	}

}
