@import "functions.scss";
@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@400;700&display=swap');


/* ==========================================================================
	fv
========================================================================== */
.fv{
	position: relative;
	padding-top: var(--head-mt);
	.inr{
		$conW:1440;
		h1{
			width: get_calc(269,$conW);
			min-width:304px;
		}
	}
	@include max-width(1050){
		.inr{
			$conW:740;
			h1{
				width: get_calc(330,$conW);
				margin-top: min(60px,getCqw(90,$conW));
				min-width:165px;
			}
		}
	}
}

/* ==========================================================================
	contact_wrap
========================================================================== */
.contact_wrap{
	position: relative;
	$conW:1400;
	z-index: 20;
	@include gradient-bg(to bottom, transparent,var(--base-bg-color05));
	.inr{
		position: relative;
		container-type: inline-size;
		z-index: 10;
	}
	.intro_txt{
		width: get_calc(1140,$conW);
		margin: getCqw(70,$conW) auto getCqw(75,$conW);
		font-size: getCqw(16,$conW);
		font-weight: 500;
		line-height: calc(66/28);
		letter-spacing: -0.04em;
	}
	.kumonchu{
		position: absolute;
		width: get_calc(431,1400);
		max-width:530px;
		bottom:calc(100% - 290px);
		left: get_calc(1120,1400);
		z-index: 5;
	}
	.-tell{
		@include fl;
		padding:getCqw(60,$conW) getCqw(130,$conW) getCqw(50,$conW);
		margin-bottom:getCqw(60,$conW);
		.tit_area{
			width: get_calc(917,2280);
			h2{
				width: 100%;
				margin-bottom: getCqw(22,$conW);
			}
			.en{
				font-size: getCqw(18,$conW);
				color:var(--base-text-color02);
				letter-spacing: 0.08em;
			}
		}
		.tel_area{
			position: relative;
			width: get_calc(1060,2280);
			a{
				position: relative;
				display: block;
				margin-bottom: getCqw(10,$conW);
				.line{
					font-family:var(--line-seed);
					font-size: getCqw(24,$conW);
					position: absolute;
					left: 0;
					bottom: 0;
					transform:translateX(-100%);
				}
				span{
					display: block;
					font-size: getCqw(90,$conW);
					color:var(--base-color-green07);
					letter-spacing: -0.04em;
					font-weight: 300;
					white-space: nowrap;
					margin-top: -20px;
				}
			}
			.btm_txt{
				p{
					display:inline-block;
					font-size: getCqw(14,$conW);
					font-weight: 500;
					margin-right: getCqw(40,$conW);
					margin-left: 10px;

				}
				span{
					font-weight: 500;
					color:var(--base-color-green05);
				}
			}
		}
	}
	@include max-width(1050){
		$conW:760;
		.intro_txt{
			width: get_calc(640,$conW);
			margin: getCqw(110,$conW) auto getCqw(120,$conW);
			font-size: min(20px,getCqw(28,$conW));
		}
		.kumonchu{
			width: get_calc(527,$conW);
			max-width:530px;
			bottom:calc(100% - getCqw(220,$conW));
			left: get_calc(380,$conW);
		}
		.-tell{
			display: block;
			padding:min(90px,getCqw(130,$conW)) 0  min(80px,getCqw(130,$conW));
			.tit_area{
				width: 100%;
				h2{
					width: get_calc(540,$conW);
					margin:0 auto;
					margin-bottom: getCqw(25,$conW);
				}
				.en{
					display: block;
					font-size: getCqw(24,$conW);
					text-align: center;
					margin:0 auto;
				}
			}
			.tel_area{
				text-align: center;
				width: 100%;
				margin-top: min(60px,getCqw(90,$conW));
				a{
					display:table;
					margin:0 auto;
					margin-bottom: getCqw(30,$conW);
					.line{
						font-size: min(20px,getCqw(30,$conW));
					}
					span{
						font-size: min(60px,getCqw(90,$conW));
						margin-top:0;
					}
				}
				.btm_txt{
					p{
						font-size: min(13px,getCqw(20,$conW));
						margin-right: 0;
						margin-left: 0;
						&:first-child{
							margin-right: getCqw(40,$conW);
						}
					}
				}
			}
		}
	}

}

