@import "functions.scss";


// ==========================================================================
//	footer
//===========================================================================
.footer{
	position: relative;
	width: 100%;
	&.index{
		background:rgba(197, 252, 253, 1);
	}
	@include max-width(800){
		padding-top: 5rem;
		padding-bottom: 9rem;
	}
	.contents_wrap{
		position: relative;
		width: 100%;
		max-width:2000px;
		z-index: 10;
		margin-inline:auto;
		padding-top: get_min(200);
		// padding-bottom: get_min(70);
	}
	.cloud{
		position: absolute;
		width: getCqw(364,1500);
		left: getCqw(-50,1500);
		top: getCqw(91,1500);

	}
	.-w1400{
		container-type: inline-size;
		width: 93.333%;
		max-width:1866px;
		z-index: 50;
		opacity:0;
		transform: translateY(-20px);
		transition: opacity 0.5s ease, transform 0.7s ease;
		pointer-events: none;
		transition-delay:.6s;
		$areaW:1400;
		&.move{
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}
		.contents{
			@include fl;
			padding:getCqw(90,$areaW) getCqw(70,$areaW);
			box-sizing:border-box;
			$conW:1240;
			background:var(--base-color-white);
			border-radius:6rem;
			.footer_logo-area{
				width: getCqw(280,$conW);
				h2{
					width: get_calc(202,280);
					margin:0 auto getCqw(30,$areaW);
				}
				.n_txt{
					font-size: getCqw(13,$areaW);
					line-height: calc(26/14);
					text-align: center;
					margin-bottom: getCqw(37,$areaW);
					span{
						font-size: getCqw(12,$areaW);
						letter-spacing: -0.1em;
					}
				}
				.link_btn{
					width: getCqw(280,$conW);
					border-radius:getCqw(30,$conW);
					aspect-ratio: 280 / 60;
					&:before{
						background-image:url(../img/common/link-btn_border02.png);
						aspect-ratio: 270 / 50;
					}
					.text{
						font-size: getCqw(18,$conW);
					}
					.arrow{
						width: getCqw(16,$conW);
						height: getCqw(16,$conW);
					}
				}
			}
			.footer_link-area{
				width: get_calc(850,$conW);
			}
			.company-area{
				@include fl;
				padding-bottom: getCqw(60,$areaW);
				border-bottom:1px solid var(--base-color-green02);
			}
			.company-block{
				width: calc(845/3);
				h3{
					font-size: getCqw(16,$areaW);
					font-weight: 500;
					margin-bottom:getCqw(21,$areaW);
				}
				.n_txt{
					font-size: getCqw(13,$areaW);
					line-height: 2;
					font-weight: 500;
					margin-bottom:getCqw(21,$areaW);
				}
				// .map_link{
				// 	padding:getCqw(4,$areaW) getCqw(20,$areaW) getCqw(5,$areaW) getCqw(35,$areaW);
				// 	font-size: getCqw(13,$areaW);
				// 	border-radius:getCqw(15,$areaW);
				// }
				// .map_icon{
				// 	width: 24px;
				// 	left: getCqw(10,$areaW);
				// 	bottom: getCqw(6,$areaW);
				// }
			}
			.link-area{
				display:flex;
				padding-top: getCqw(50,$areaW);
				li{
					width: get_calc(253,850);
				}
				.link{
					display: block;
					font-size: getCqw(15,$areaW);
					margin-bottom: getCqw(18,$areaW);
					font-weight: 500;
					@include min-width(801){
						&:hover{
							font-weight: 700;
						}
					}
				}
				.s_link{
					position: relative;
					display: table;
					padding-left: getCqw(14,$areaW);
					font-size: getCqw(13,$areaW);
					margin-bottom: getCqw(18,$areaW);
					font-weight: 500;
					@include min-width(801){
						&:hover{
							color:var(--theme-color);
						}
					}
					&:before{
						content:"";
						display:block;
						position: absolute;
						left: 0;
						top: getCqw(6,$areaW);
						width: 5px;
						height: 1px;
						background:var(--base-color-black);
					}
					+ .s_link{
						margin-top:getCqw(15,$areaW);
					}
				}
			}
		}
		.copy{
			display: block;
			text-align: center;
			font-size: getCqw(12,$areaW);
			color:#fff;
			margin-top: getCqw(80,$areaW);
			margin-bottom: getCqw(95,$areaW);
		}
		.pagetop{
			display: block;
			position: absolute;
			width: getCqw(180,$areaW);
			right: getCqw(49,$areaW);
			bottom: 0;
			@include min-width(801){
				&:hover{
					.arrow-area{
						transform:translateY(-30px);
					}
					.tori{
						transform:translateY(-30px);
						img{
							animation: bird-float-s 2s ease-in-out infinite;
						}
					}
					.bf{opacity: 0;}
					.af{opacity: 1;}

				}
			}
		}
		.arrow-area{
			position: relative;
			@include fch;
			width: getCqw(124,$areaW);
			aspect-ratio:1/1;
			margin-left: auto;
			margin-bottom: getCqw(90,$areaW);
			transition: transform 1s ease;
			&:before{
				content:"";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background:url(../img/common/pagetop-circle.png);
				background-size:cover;
				transform-origin: center;
				animation: bg-rotate 30s linear infinite;
				will-change: transform;
			}
			.arrow{
				position: absolute;
				width: get_calc(26,124);
				aspect-ratio:1/1;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin:auto;
			}
		}
		.illust_area{
			position: relative;
			width: getCqw(141,$areaW);
		}
		.tori{
			position: absolute;
			width: get_calc(180,141);
			left: get_calc(-25,141);
			bottom: get_calc(152,168);
			img{
				position: absolute;
				bottom: 0;
				left: 0;
				transition:opacity .1s ease;
			}
			.af{opacity:0;z-index: 10;}
		}
	}
	.footer_illust-area{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}
}