@import "functions.scss";
/* ==========================================================================
	ヘッダー
========================================================================== */
.head {
	position: absolute;
	width: 100%;
	box-sizing:border-box;
	z-index:100;
	opacity:1;
	transition: all 0.3s ease;
	$areaW:1420;
	&.index{
		display: none;
	}
	&:not(.index){
		@include fl;
		padding: 28px get_calc(83,3000) 0 get_calc(74,3000);
	}
	&.index{
		height: 100%;
	}
	.logo{
		width: get_calc(223,$areaW);
	}
	.index_head_link-area{
		position: absolute;
		width: 100%;
		height: 100%;
		$conW:1500;
		$conH:995;
		z-index: 50;
		.main-nav{
			position: absolute;
			display:flex;
			flex-direction:column;
			gap: 24px;
			align-items:flex-start;
			left: get_calc(47,$conW);
			bottom: get_calc(144,$conH);
		}
		.hv_ar{
			font-size: 16px;
			letter-spacing: 0.04em;
			color:var(--base-color-blue);
		}
		.copy{
			font-size: 11px;
			padding-left: 12px;
			color:var(--base-color-blue);
			margin-top: 25px;
			letter-spacing:0.13em;
		}

		.info-nav{
			position: absolute;
			display: grid;
			grid-template-columns: repeat(2, max-content);
			justify-content: center;
			gap: 12px;
			width: 168px;
			right: get_calc(60,$conW);
			top: get_calc(45,$conH);
		}
		.w_link{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-height: 30px;
			padding: 0 14px;
			background: #fff;
			border-radius: 999px;
			color: var(--base-text-color02);
			font-size: 13px;
			letter-spacing: 0.04em;
			box-shadow: 1.4px 1.4px 6px 0 rgba(203, 250, 252, .8);
			@include transition(background);
		}
		.contact_link{
			position: relative;
			@include fc;
			grid-column: 1 / -1;
			width: 100%;
			aspect-ratio:169/50;
			color: #fff;
			background:url(../img/common/head_contact-btn_bg.png);
			background-size:cover;
			&::after{
				content:"";
				position:absolute;
				inset:0;
				background:url(../img/common/head_contact-btn_bg-af.png);
				background-size:cover;
				background-position:center;
				opacity:0;
				transition: opacity .4s var(--easeOutSine);
				pointer-events:none;
			}

			&:hover::after{
				opacity:1;
			}
			img{
				position: relative;
				width: get_calc(83,169);
				z-index: 10;
			}
		}
	}

	.logo{
		width: 318px;
		// width: clamp(250px,get_calc(318,1540),318px);
	}
	.head_link-area{
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items:flex-start;
		justify-content:flex-end;
		flex:1;
		padding-top: 9px;
		// margin-right: 4rem;
		z-index:20;
	}
	.g-nav{
		@include fl;
		.info-nav{
			display: grid;
			grid-template-columns: repeat(3, max-content);
			justify-content: center;
			align-items:center;
			gap: 12px;
			width: 340px;
		}
		.w_link{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-height: 30px;
			padding: 0 14px;
			background: var(--base-color-black);
			border-radius: 999px;
			color: var(--base-color-white);
			font-size: 13px;
			letter-spacing: 0.04em;
			@include transition(background);
		}
		.contact_link{
			position: relative;
			@include fc;
			width: 100%;
			aspect-ratio:169/50;
			color: #fff;
			background:url(../img/common/head_contact-btn_bg.png);
			background-size:cover;
			&::after{
				content:"";
				position:absolute;
				inset:0;
				background:url(../img/common/head_contact-btn_bg-af.png);
				background-size:cover;
				background-position:center;
				opacity:0;
				transition: opacity .4s var(--easeOutSine);
				pointer-events:none;
			}

			&:hover::after{
				opacity:1;
			}
			img{
				position: relative;
				width: get_calc(83,169);
				z-index: 10;
			}
		}
	}
	.main-nav{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items:center;
		flex:1;
		gap:26px;
		margin-right: 25px;
	}
	.text{
		position: relative;
		display:inline-block;
		--color:var(--base-text-color);
		font-size: var(--fz14);
		font-weight: 500;
		@include min-width(801){
			&:hover{
				--color:var(--theme-color);
			}
			&:hover:after{
				opacity:1;
			}
		}

	}
	.company-nav{
		display: flex;
		position: absolute;
		top: 9px;
		right: 195px;
		gap:15px;
		.text{
			&.-company{--width:62px;}
			&.-recruit{--width:62px;}
		}
	}
	.contact-nav{
		.text{
			--width: 89px;
		}
	}
	&.op{
		opacity:0;
	}
	&.fix{
		opacity:1;
		background:var(--base-bg-color);
		padding-bottom: 20px;
		display: none !Important;
		.head_link-area{
			padding-top: 0;
		}
		.contact-nav,.company-nav{top: 0;}
		.logo{
			width: 242px;
		}
	}
}

@include max-width(1400){
	.head {
		.logo{
			width: clamp(280px,get_calc(318,1400),318px);
		}
		.main-nav{
			gap:20px;
			margin-right: 15px;
		}
	}
}


@include min-width(1301){
	.head.fix{
		.main-nav{
			align-items: center;
			margin-right: 165px;
			gap:28px;
		}
		.text{
			&.-about{--width:96px;}
			&.-service{--width:83px;}
			&.-data{--width:111px;}
			&.-journal{--width:87px;}
			&.-interview{--width:106px;}
			&.-news{--width:53px;}
		}
		.company-nav{
			top: 0;
			bottom: 0;
			right: 165px;
			width: 115px;
			height: 70px;
			a{
				position: absolute;
				&:first-child{
					top: 0;
				}
				&:last-child{
					bottom: 0;
				}
				.arrow{display: none;}
			}
			.link_btn{
				@include fc;
				width: 115px;
				height: 33px;
			}
			.text{
				&.-company{
					--width:57px;
				}
				&.-recruit{
					--width:57px;
				}
			}
		}
		.contact-nav{
			.link_btn{
				padding: 30px 23px;
			}
			.text{
				--width: 82px;
			}
		}
	}
}

@include max-width(1300){
	.head {
		.head_link-area{
			padding-top: 62px;
		}
		.company-nav{right: 167px;}
		.contact-nav{
			position: absolute;
			right: 0;
			top: 9px;
		}
		&.fix{
			.head_link-area{
				padding-top: 50px;
			}
		}
	}
}
@include max-width(1080){
	.head{
		.head_link-area{display: none;}
	}
}
@include min-width(801){
	.head.fix{
		position: fixed;
		top: 0;
	}
}
@include max-width(800){
	.head {
		padding: 23px get_calc(25,750) 0 get_calc(25,750);
		.logo{
			width: get_calc(473,750);
			max-width:280px;
		}
	}
}
/* ==========================================================================
	hamburger
========================================================================== */

@include max-width(1080){
	.hamburger {
		display: block;
		// position: absolute;
		position:fixed;
		right: 2rem;
		// top: 4rem;
		top: 35px;
		cursor: pointer;
		z-index: 9999;
		opacity: 100;
		width: 90px;
		height: 50px;
		border-radius:40px;
		background:var(--base-color-black);
		box-sizing:border-box;
		transition: all .4s ease;
		z-index:9999;
		// &.fix{
		// 	position:fixed;
		// }
		.line_area{
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin:auto;
			width: 30px;
			height: 10px;
		}
		.border{
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			z-index:5;
			margin:auto;
			transition:all .6s ease;
			transform-origin:center center;
			box-sizing:border-box;
			background:var(--base-color-white);
			&:first-child{
				top: 0;
				bottom: auto;
			}
			&:nth-child(2){
				top: auto;
				bottom: 0;
			}
		}
	}
}
@include max-width(800){
	.hamburger {
		right: get_calc(25,750);
		top: 30px;
		width: 7.5rem;
		height: 4rem;
		border-radius:2rem;
		.line_area{
			width: 2.5rem;
			height: .6rem;
		}
		.border{
			height: 1px;
		}
	}

}

.nav-open .hamburger{
	span{
		transition:all .4s ease;
		&:first-child{
			-webkit-animation: hamburger_top ease .4s forwards;
			animation: hamburger_top ease .4s forwards;
		}
		&:nth-child(2){
			-webkit-animation: hamburger_center ease .4s forwards;
			animation: hamburger_center ease .4s forwards;
		}
	}
}
.nav-close .hamburger{
	span{
		transition:all .4s ease;
		&:first-child{
			-webkit-animation: hamburger_top_rev ease .4s forwards;
			animation: hamburger_top_rev ease .4s forwards;
		}
		&:nth-child(2){
			-webkit-animation: hamburger_center_rev ease .4s forwards;
			animation: hamburger_center_rev ease .4s forwards;
		}
	}
}

/*==========================================================================
	global-nav
========================================================================== */

/*ハンバーガーメニュー*/
.global-nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-size:cover;
	box-sizing: border-box;
	z-index:-1;
	opacity: 0;
	visibility: hidden;
	background:var(--base-bg-color);
	overflow: scroll;
	height: 100vh;
	opacity:0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);
	@at-root .nav-open .global-nav {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		z-index:9997;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 24vh;
		width: 100%;
		height: 83.27vh;
		background: var(--theme-color);
		-webkit-clip-path: polygon(0 0, 100% 190px, 100% 100%, 0% calc(100% - 190px));
		clip-path: polygon(0 0, 100% 190px, 100% 100%, 0% calc(100% - 190px));
		z-index: 1;
	}
@include max-width(800){
	&:before{
		-webkit-clip-path: polygon(0 0, 100% 45px, 100% 100%, 0% calc(100% - 45px));
		clip-path: polygon(0 0, 100% 45px, 100% 100%, 0% calc(100% - 45px));
	}
}

	.nav_inr {
		position: relative;
		width: 100%;
		padding: 22px get_calc(74,3000) 2.5rem;
		margin-inline:auto;
		z-index:10;
		overflow:hidden;
		box-sizing:border-box;
	}
	@at-root .is-safari .nav_inr{
		padding-bottom: 8rem;
	}

	.menu-logo{
		position: relative;
		width: clamp(280px, 22.7142857143%, 318px);
		margin-bottom: 5rem;
	@include max-width(800){
		margin-bottom: 4.8rem;
	}
}

	.paren-label{
		margin-left: 4rem;
		margin-bottom: 3rem;
	@include max-width(800){
		margin-left: 3rem;
		margin-bottom: 1.5rem;
	}
}

	.global-nav_link-box{
		position: relative;
		background:#fff;
		border-radius:30px;
		border:1px solid var(--base-color-black);
		width: 100%;
		min-height:60px;
		+ .global-nav_link-box{
			margin-top: 1.5rem;
		}
	}
	.half-area{
		margin-top: 1.5rem;
		@include fl;
		.global-nav_link-box{
			width: get_calc(345,700);
			margin-top: 0 !Important;
		}
	}
	.global-nav_link{
		@include fch;
		position: relative;
		font-size: var(--fz18);
		font-weight: 700;
		padding:0 20px;
		width: 100%;
		box-sizing:border-box;
		min-height:60px;
		.arrow{
			position: absolute;
			right: 3rem;
			top: 0;
			bottom: 0;
			margin:auto;
		}
		+ .global-nav_link{
			margin-top: 3rem;
		}
	}
@include max-width(800){
	.global-nav_link-box{
		min-height:4.5rem;
		+ .global-nav_link-box{
			margin-top: 1rem;
		}
	}
	.half-area{
		margin-top: 1rem;
	}
	.global-nav_link{
		font-size: var(--fz14);
		padding:0 2.5rem;
		min-height:4.5rem;
		+ .global-nav_link{
			margin-top: 1rem;
		}
	}
}

	.c-button{
		position: absolute;
		top: 17px;
		right: 2rem;
		width: 50px;
		height: 25px;
		border-radius:15px;
		background:var(--base-color-black);
		z-index:20;
		&:before,&:after{
			content:"";
			display:block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin:auto;
			background:var(--base-color-white);
		}
		&:before{
			width: 10px;
			height: 1px;
		}
		&:after{
			width: 1px;
			height: 8px;
			transition: .4s ease transfom;
		}
		&.active:after{
			transform:rotate(90deg);
		}
	}
	.oc_area{
		display: none;
		padding-bottom: 2.5rem;
	}
	.global-nav_sub-link{
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 1rem;
		padding:0 20px;
		font-size: var(--fz16);
		color:var(--base-color-gray02);
		font-weight: 500;
		&:before{
			content: "";
			display: block;
			width: 12px;
			height: 6px;
			border-radius: 8px;
			background: var(--theme-color);
		}
		+ .global-nav_sub-link{
			margin-top: 1.5rem;
		}
	}
@include max-width(800){
	.c-button{
		top:1.2rem;
		right: 2rem;
		width: 4.2rem;
		height: 21px;
	}
	.oc_area{
		padding-bottom: 1.5rem;
	}
	.global-nav_sub-link{
		padding:0 2rem;
		font-size: var(--fz12);
		&:before{
			width: 8px;
			height: 5px;
		}
		+ .global-nav_sub-link{
			margin-top: 1rem;
		}
	}

}
	.contact-area{
		position: relative;
		width: 100%;
		height: 33rem;
		padding-top: 5rem;
		background:var(--base-color-black);
		border-radius:1rem;
		box-sizing:border-box;
		margin-top: 3rem;
		margin-bottom: 5rem;
		.paren-label{
			position: absolute;
			right: 4rem;
			top: 6.5rem;
		}
		h3{
			position: relative;
			width: 322px;
			margin:0 auto 2.5rem;
		}
		.dq-icon{
			--dqL:-3.5rem;
			--dqT:-2.8rem;
		}
		.n_txt{
			display:table;
			margin:0 auto 2rem;
			--lh:calc(54/32);
			color:#fff;
		}
		.link_wrap{
			display: table;
			margin-inline:auto;
			.link_btn{
				gap:2.5rem;
			}
		}
		.shishi_area{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			margin:auto;
		}
		.shishishi{
			position: absolute;
			bottom: 0;
			&.-L{
				width: 132px;
				left: calc(50% - 305px);
				&:before{
					left: -45px;
					top: -63px;
					--b_width:85px;
					--b_aspect:170/76;
					--b_path:url(../img/common/footer_contect-shishi-l_bubllue.png);
				}
			}
			&.-R{
				width: 133px;
				left: calc(50% + 180px);
				&:before{
					left: 102px;
					top: -50px;
					--b_width:85px;
					--b_aspect:170/76;
					--b_path:url(../img/common/footer_contect-shishi-r_bubllue.png);
				}
			}
		}
	}
// @include max-width(1180){
// 	.contact-area{
// 		position: relative;
// 		left: auto;
// 		right: auto;
// 		bottom: auto;
// 		margin: auto;
// 		width: 90%;
// 		height: 350px;
// 		padding-top: 8rem;
// 		margin-bottom: 5rem;
// 		.paren-label{
// 			position: absolute;
// 			right: calc(50% - 200px);
// 			top: 4.5rem;
// 		}
// 		h3{
// 			margin:0 auto 2.5rem;
// 		}
// 		.dq-icon{
// 			--dqL:-4rem;
// 			--dqT:-2.5rem;
// 		}
// 		.n_txt{
// 			margin:0 auto 2.5rem;
// 		}
// 		.shishi_area{
// 			position: absolute;
// 			left: 0;
// 			bottom: 0;
// 			width: 100%;
// 			margin:auto;
// 		}
// 		.shishishi{
// 			position: absolute;
// 			bottom: 0;
// 			&.-L{
// 				left: 20px;
// 			}
// 			&.-R{
// 				left: auto;
// 				right: 20px;
// 			}
// 		}
// 	}
//}
@include max-width(800){
	.contact-area{
		height: auto;
		padding-top: 5rem;
		padding-bottom: 4rem;
		border-radius:.5rem;
		.paren-label{
			right: calc(50% - 12rem);
			top: 2.5rem;
		}
		h3{
			width: get_calc(417,700);
			max-width:322px;
			margin-bottom: 2.2rem;
		}
		.dq-icon{
			--dqL:-1.7rem;
			--dqT:-2.5rem;
		}
		.n_txt{
			font-size: var(--fz12);
			margin-bottom: 2.5rem;
		}
		.link_wrap{
			.link_btn{
				gap:1rem;
			}
		}
		.shishi_area{
			position: absolute;
			left: 0;
			bottom: -1.3rem;
			width: 100%;
			margin:auto;
		}
		.shishishi{
			position: absolute;
			bottom: 0;
			&.-L{
				width: 8.8rem;
				left: -1.3rem;
				&:before{
					left: .8rem;
					top: -3.6rem;
					--b_width:5rem;
				}
			}
			&.-R{
				width: 8.8rem;
				left: auto;
				right: -1.3rem;
				&:before{
					left: 3.2rem;
					top: -3rem;
					--b_width:5rem;
				}
			}
		}
	}
}
}


