@import "functions.scss";


/* ==========================================================================
	news-fv
========================================================================== */
.news-fv{
	position: relative;
	padding-top: var(--head-mt);
	.inr{
		width: get_calc(1440,1500);
		$conW:1440;
		container-type: inline-size;
		padding-top: 160px;
		padding-bottom: 160px;
		h1{
			position: relative;
			z-index: 20;
			width: get_calc(169,$conW);
			margin-left: get_calc(70,$conW);
			margin-bottom: 3rem;
			opacity: 0;
			-webkit-mask-image: linear-gradient(to right, #000 0 100%);
			mask-image: linear-gradient(to right, #000 0 100%);
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: left top;
			mask-position: left top;
			-webkit-mask-size: 0% 100%;
			mask-size: 0% 100%;

			transition:
				opacity .4s ease,
				-webkit-mask-size 1.2s cubic-bezier(.22, 1, .36, 1),
				mask-size 1.2s cubic-bezier(.22, 1, .36, 1);
			&.move{
				opacity: 1;
				-webkit-mask-size: 100% 100%;
				mask-size: 100% 100%;
			}
		}
		.title-text{
			@include fch;
			width: 100%;
		}
		.en{
			font-size: getCqw(20,$conW);
			color:var(--base-text-color02);
			margin-right: 2.5rem;
			letter-spacing: 0.08em;
		}
		.ja{
			font-size: getCqw(60,$conW);
			font-weight: 500;
			color:var(--base-btn-color03);
		}
		.pan{
			position: relative;
			margin-left: get_calc(70,$conW);
			z-index: 20;
			color:var(--base-btn-color03);
			transition-delay:.8s;
			a{
				position: relative;
				display:inline-block;
				font-size: max(13px,getCqw(13,$conW));
				margin-right: 38px;
				@include transition((color));
				font-weight: 500;
				color:var(--base-btn-color03);
				&:after{
					content:"›";
					display:block;
					position: absolute;
					left: calc(100% + 15px);
					top: 50%;
					transform: translateY(-54%);
					font-size: max(22px,getCqw(22,$conW));
					line-height: 1;
				}
			}
			p{
				display: inline-block;
				font-size: max(13px,getCqw(13,$conW));
				font-weight: 500;
				text-decoration: underline;
			}
		}
		.cloud{
			display: block;
			position: absolute;
			z-index: 15;
			&.-left{
				width: get_calc(942,$conW);
				right: get_calc(993,$conW);
				bottom: getCqw(-30,$conW);
			}
			&.-right{
				width: get_calc(1439,$conW);
				left: get_calc(930,$conW);
				bottom: getCqw(-60,$conW);
			}
		}
		.town_bg{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 142px;
			background:url(../img/news/fv-town.webp) center repeat-x;
			background-size:1580px 142px;
			z-index: 1;
		}
		&.-detail{
			padding-bottom: 100px;
			.day{
				position: relative;
				display: inline-block;
				margin-left: get_calc(70,$conW);
				font-size: getCqw(18,$conW);
				margin-right: getCqw(10,$conW);
				@include transition(color);
				color:var(--base-text-color02);
				z-index: 20;
			}
			.cate{
				position: relative;
				display:inline-block;
				font-size: getCqw(14,$conW);
				font-weight: 500;
				padding: 5px getCqw(13,$conW) 7px;
				background:var(--base-color-black);
				color:var(--base-color-white);
				border-radius: getCqw(13,$conW);
				transform:translateY( getCqw(-3,$conW));
				z-index: 20;
				@include min-width(801){
					&:hover{
						background:var(--base-btn-color01-hv);
					}
				}
			}
			h1{
				font-size: getCqw(54,$conW);
				line-height: calc(128/108);
				color:var(--base-btn-color03);
				font-weight: 500;
				width: get_calc(1200,$conW);
				transform: scaleX(.75);
				transform-origin: left center;
				margin-top: getCqw(25,$conW);
			}
		}
	}
	@include max-width(1050){
		.inr{
			width: get_calc(640,800);
			$conW:640;
			padding-top: getCqw(90,$conW);
			padding-bottom: getCqw(180,$conW);
			h1{
				width: get_calc(206,$conW);
				margin-left: 0;
				margin-bottom: getCqw(40,$conW);
			}
			.en{
				font-size:  min(18px,getCqw(22,$conW));
				margin-right: 1.2rem;
				min-width: 60px;
			}
			.ja{
				font-size: min(40px,getCqw(74,$conW));
			}
			.pan{
				margin-left:0;
				a{
					font-size: min(15px,getCqw(24,$conW));
					margin-right: 28px;
					&:after{
						left: calc(100% + 12px);
						font-size: min(23px,getCqw(42,$conW));
						transform: translateY(-59%);
					}
				}
				p{
					font-size: min(15px,getCqw(24,$conW));
				}
			}
			.cloud{
				&.-left{
					width: get_calc(951,$conW);
					right: get_calc(310,$conW);
					bottom: getCqw(-140,$conW);
				}
				&.-right{
					width: get_calc(1442,$conW);
					left: get_calc(212,$conW);
					bottom: getCqw(-80,$conW);
				}
			}
			.town_bg{
				height: 75px;
				background-size:835px 75px;
				bottom: 30px;
			}
			&.-detail{
				padding-bottom: getCqw(100,$conW);
				.day{
					margin-left: 0;
					font-size: getCqw(28,$conW);
					margin-right: getCqw(28,$conW);
				}
				.cate{
					font-size: getCqw(26,$conW);
					padding: 5px getCqw(20,$conW) 7px;
					border-radius: getCqw(25,$conW);
					transform:translateY( getCqw(-3,$conW));
				}
				h1{
					font-size: getCqw(74,$conW);
					line-height: calc(90/74);
					width: 130%;
					transform: scaleX(.75);
					transform-origin: left center;
					margin-top: getCqw(20,$conW);
				}
			}
		}
	}
}


/* ==========================================================================
	news_wrap
========================================================================== */
.news_wrap{
	position: relative;
	z-index: 30;
	background: linear-gradient(to bottom, transparent 5%,#f8ffff 5%, var(--base-bg-color05) 100%);

	.base-wrap{
		display:flex;
		flex-wrap:wrap;
		align-items:flex-start;
		$conW:1400;
		container-type: inline-size;
		&.-archive{
			background:var(--base-bg-color06);
			// padding-bottom: 150px;
		}
		&.-nf{
			background:var(--base-bg-color06);
		}
		.bird{
			position: absolute;
			z-index: 30;
		}
		.bird01{
			width: getCqw(177,$conW);
			right: getCqw(230,$conW);
			top:getCqw(-320,$conW);
		}
		.bird02{
			width: getCqw(209,$conW);
			right: getCqw(50,$conW);
			top:getCqw(-187,$conW);
			--W:209;
			--H:224;
			&:after{
				--bW:109;
				--bT:-75;
				--bL:105;
				--imgURL: url("../img/news/fv-bird02-sb.png");
				aspect-ratio:109/65;
				transition-delay:.4s;
			}
		}
		.categorys{
			position: absolute;
			// left:getCqw(-50,$conW);
			// left: -50px;
			left: -3.33vw;
			top: -80px;
			// position: sticky;
			// top: 130px;
			width: getCqw(340,$conW);
			padding-top:getCqw(48,$conW);
			padding-bottom:getCqw(65,$conW);
			border-radius:0 60px 60px 0;
			// transform:translate(getCqw(-50,$conW),-80px);
			background:var(--base-btn-color03);
			overflow: hidden;
			z-index: 30;
			@include min-width(1920){
				border-radius:60px;
			}
			&:after{
				content: "";
				position: absolute;
				inset: 0;
				z-index: 1;
				pointer-events: none;
				background: url(../img/common/texture.webp);
				background-size:1154px 536px;
				opacity: 0.2;
				mix-blend-mode: soft-light;
				border-radius:0 60px 60 0;
			}
			.tit_area{
				padding-bottom:getCqw(38,$conW);
				padding-left: get_calc(60,340);
				box-sizing:border-box;
			}
			h2{
				width: getCqw(190,$conW);
				padding-bottom:getCqw(14,$conW);
			}
			.en-tit{
				display: block;
				font-size: getCqw(16,$conW);
				color:var(--base-color-white);
			}
			ul{
				padding-top:getCqw(60,$conW);
				padding-left: get_calc(60,340);
				border-top:1px solid var(--base-border-color08);
				box-sizing:border-box;
			}
			li + li{
				margin-top: getCqw(30,$conW);
			}
			a{
				position: relative;
				display:table;
				padding-left: getCqw(25,$conW);
				font-size: getCqw(16,$conW);
				font-weight: 500;
				color:var(--base-color-white);
				box-sizing:border-box;
				&:before{
					content:"";
					display: block;
					position: absolute;
					left: 0;
					top: getCqw(8,$conW);
					width: getCqw(8,$conW);
					height: getCqw(3,$conW);
					border-radius: getCqw(4,$conW);
					background:var(--base-text-color02);
				}
				.en{
					display:inline-block;
					margin-left: 8px;
					font-size: getCqw(14,$conW);
					color:var(--base-color-white);
				}
				@include min-width(801){
					&:hover{
						opacity:.6;
					}
				}
			}
		}
		.archive_wrap{
			position: relative;
			width: get_calc(1720,2800);
			padding-top: 120px;
			padding-bottom: 130px;
			// margin-left: getCqw(80,$conW);
			margin-left: getCqw(420,$conW);
			.non-text{
				font-size: getCqw(18,$conW);
				line-height: 2;
				font-weight: 500;
			}
			&.-wrap_404{
				margin:0 auto;
				text-align: center;
				h3{
					font-size:getCqw(40,$conW);
					font-weight: 500;
					line-height: 1.5;
					letter-spacing: -0.08em;
					color:var(--base-btn-color03);
					margin-bottom: 6rem;
				}
				.text-404{
					font-size: getCqw(16,$conW);
					line-height: 2;
					font-weight: 500;
					margin-bottom: 4rem;
				}
				.link_wrap{
					margin-inline:auto;
				}
			}

		}
		.news-link{
			@include fl;
			width: 100%;
			z-index: 120;
			+ .news-link{
				margin-top: getCqw(65,$conW);
			}
			.img_area{
				position: relative;
				width: get_calc(350,850);
				aspect-ratio:700/480;
				border:1px solid var(--base-color-white);
				box-sizing:border-box;
				@include transition((transform,opacity));
				&:before{
					content:"";
					display: block;
					position: absolute;
					left: 10px;
					top: 10px;
					width: 100%;
					height: 100%;
					opacity:.1;
					background:var(--base-color-green);
					@include transition(opacity);
				}
				.img_inr{
					position: relative;
					width: 100%;
					height: 100%;
					z-index: 5;
					overflow: hidden;
				}
				img{
					z-index: 10;
				}
			}
			.link_text{
				@include fch;
				flex:1;
				margin-left: get_calc(60,850);
			}
			.en{
				display: inline-block;
				font-size: getCqw(18,$conW);
				margin-right: getCqw(10,$conW);
				@include transition(color);
				color:var(--base-text-color02);
			}
			.cate{
				display:inline-block;
				font-size: getCqw(14,$conW);
				padding: getCqw(5,$conW) getCqw(13,$conW);
				background:var(--base-color-black);
				color:var(--base-color-white);
				border-radius: getCqw(13,$conW);
				transform:translateY( getCqw(-3,$conW));
			}
			p{
				font-size: getCqw(18,$conW);
				font-weight: 500;
				--lh:calc(30/18);
				@include lhCrop();
				color:var(--base-text-color02);
				margin-top:  getCqw(13,$conW);
			}
			@include min-width(801){
				&:hover{
					.img_area{
						transform:rotate(-5deg);
						img{
							transform:scale(1.05);
						}
					}
					p{
						font-weight:700;
					}
				}
			}
		}
		.archive-pager_wrap{
			//margin-top: getCqw(130,$conW);
			margin-left: getCqw(420,$conW);
			margin-bottom: 150px;
		}
		.detail_wrap{
			position: relative;
			width: get_calc(2380,2800);
			$areaW:2380;
			margin-left: auto;
			border-radius:60px;
			padding-bottom:getCqw(140,$conW);
			background: var(--base-bg-color06);
			&:before{
				content: "";
				position: absolute;
				inset: 0;
				background-image: url(../img/common/bg-pattern.webp);
				background-size:cover;
				opacity: .7;
				mix-blend-mode: soft-light;
				pointer-events: none;
				border-radius:60px;
				z-index: 1;
			}
			.main-image{
				position: relative;
				width: get_calc(2328,$areaW);
				margin:getCqw(11,$conW) auto getCqw(110,$conW);
				aspect-ratio:2328/1535;
				border-radius:50px;
				overflow: hidden;
				z-index: 10;
			}
			.kiji_area{
				position: relative;
				width: 100%;
				// width: get_calc(1900,$areaW);
				padding:0 get_calc(75,$conW) get_calc(120,$conW) get_calc(160,$conW);
				// margin-left: get_calc(320,$areaW);
				box-sizing:border-box;
				z-index: 10;
				border-bottom:1px solid var(--base-border-color06);
				.tit_area{
					margin-bottom: getCqw(30,$conW);
					h2{
						font-size:getCqw(48,$conW);
					}
					.en{
						font-size: getCqw(20,$conW);
					}
				}
				h2:not([class]){
					font-size: getCqw(48,$conW);
				}
				h3:not([class]){
					font-size: getCqw(30,$conW);
				}
				p:not([class]),a:not([class]){
					font-size: getCqw(16,$conW);
				}
				ol {
					li {
						font-size: getCqw(16,$conW);
						padding-left: getCqw(12,$conW);
					}
				}
				ul {
					li {
						font-size: getCqw(16,$conW);
						padding-left: getCqw(12,$conW);
						&:before{
							top: getCqw(12,$conW);
							width: getCqw(7,$conW);
							height: getCqw(3,$conW);
							border-radius: getCqw(3,$conW);
						}
					}
				}
				.link_btn{
					width: auto;
					aspect-ratio:auto;
					padding:getCqw(17,$conW) getCqw(75,$conW) getCqw(17,$conW) getCqw(40,$conW);
					.arrow{
						right: getCqw(30,$conW);
					}
					img{border:none;}
				}
				blockquote{
					font-size: getCqw(14,$conW);
					> *,p:not([class]),a:not([class]){
						font-size: getCqw(14,$conW);
					}
				}
			}
			.d-pager_wrap {
				width: get_calc(2140,2380);
				$conW:2140;
				.pager_link{
					padding:getCqw(60,$conW) getCqw(55,$conW) getCqw(80,$conW) getCqw(65,$conW);
				}
				.img{
					width: get_calc(300,620);
					aspect-ratio:300/200;
					&:before{
						left: 7px;
						top: 7px;
					}
				}
				.text_area{
					width: get_calc(280,620);
					p{
						margin-top: getCqw(18,$conW);
						font-size:getCqw(32,$conW);
					}
				}
			}
		}
	}
	// @include min-width(1051){
	// 	.round-con.-detail{
	// 		background:none;
	// 		&:before,&:after{
	// 			display: none;
	// 		}
	// 	}
	// }
	@include max-width(1050){
		.base-wrap{
			display: block;
			$conW:760;
			// padding-bottom: getCqw(180,$conW);
			border-radius:30px;
			background: var(--base-bg-color06);
			&.-archive{
				// padding-bottom: min(120px,getCqw(180,$conW));
			}
			&.-nf{
				padding-bottom: 0;
			}
			&:after{
				content:"";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border:1px solid var(--base-text-color);
				border-radius:30px;
				z-index: 10;
				pointer-events:none;
				-webkit-mask-image: linear-gradient(to right,#000 0,	#000 85px,
					transparent 85px,transparent calc(100% - 85px),	#000 calc(100% - 85px),
					#000 100%);
				mask-image: linear-gradient(to right,#000 0,#000 85px,transparent 85px,transparent calc(100% - 85px),#000 calc(100% - 85px),#000 100%);
			}
			&:before{
				border-radius:30px;
			}
			.bird01{
				width: getCqw(177,$conW);
				right: getCqw(185,$conW);
				top:getCqw(-340,$conW);
			}
			.bird02{
				width: getCqw(207,$conW);
				right: getCqw(3,$conW);
				top:getCqw(-222,$conW);
				--W:207;
				--H:222;
				&:after{
					--bW:142;
					--bT:-116;
					--bL:60;
					--imgURL: url("../img/news/fv-bird02-sb-sp.png");
					aspect-ratio:142/98;
					transition-delay:.4s;
				}
			}
			.categorys{
				position: relative;
				top: auto;
				left: auto;
				width: get_calc(680,760);
				transform:translateY(-40px);
				margin:0 auto;
				padding:0;
				border-radius:30px;
				&:after{
					border-radius:30px;
				}
				.tit_area{
					position: relative;
					@include fch;
					width: 100%;
					min-height: 80px;
					padding: 20px 6.25vw;
					height: auto;
					h2{
						width: getCqw(209,$conW);
						padding-bottom:0;
					}
					.en-tit{
						font-size: getCqw(20,$conW);
						margin-left: getCqw(30,$conW);
					}
					.btn{
						@include fc;
						width: 40px;
						height: 30px;
						position: absolute;
						right: 25px;
						top: 0;
						bottom: 0;
						margin:auto;
						background-image:url(../img/news/conditions_btn-bg-sp.jpg);
						background-size:cover;
						border-radius:20px;
						z-index:10;
						transition: background .4s ease;
					}
					&.is-active{
						.btn {
							background-image:url(../img/news/conditions_btn-bg02-sp.jpg);
						}
					}
				}
				ul{
					display: none;
					padding: 30px 6.25vw;
				}
				li + li{
					margin-top: getCqw(35,$conW);
				}
				a{
					padding-left: getCqw(50,$conW);
					font-size: getCqw(24,$conW);
					&:before{
						top: getCqw(8,$conW);
						width: getCqw(15,$conW);
						height: getCqw(6,$conW);
						border-radius: getCqw(6,$conW);
					}
					.en{
						margin-left: 10px;
						font-size: getCqw(22,$conW);
					}
				}
			}
			.archive_wrap{
				width: get_calc(640,760);
				padding-top: 0;
				margin:0 auto;
				padding-bottom: 70px;
				.non-text{
					font-size: getCqw(18,$conW);
				}
				&.-wrap_404{
					padding-top:getCqw(120,$conW);
					padding-bottom:getCqw(120,$conW);
					h3{
						font-size:min(45px,getCqw(60,$conW));
						margin-bottom: 4rem;
					}
					.text-404{
						font-size:min(17px,getCqw(28,$conW));
					}
				}
			}
			.news-link{
				display: block;
				margin-top: 0;
				+ .news-link{
					margin-top: getCqw(75,$conW);
				}
				.img_area{
					position: relative;
					width: 100%;
					aspect-ratio:700/480;
					border:1px solid var(--base-color-white);
					box-sizing:border-box;
					@include transition((transform,opacity));
					&:before{
						left: 5px;
						top: 5px;
					}
				}
				.link_text{
					display: block;
					margin-left: 0;
					margin-top: getCqw(50,$conW)
				}
				.en{
					font-size: getCqw(28,$conW);
					margin-right: getCqw(10,$conW);
				}
				.cate{
					font-size: getCqw(26,$conW);
					padding: getCqw(6,$conW) getCqw(20,$conW);
					border-radius: getCqw(50,$conW);
					transform:translateY( getCqw(-3,$conW));
				}
				p{
					font-size: getCqw(32,$conW);
					margin-top:  getCqw(13,$conW);
				}
			}
			.archive-pager_wrap{
				//margin: getCqw(140,$conW) auto 0;
				margin: 0 auto  min(90px,getCqw(150,$conW));
			}
			.detail_wrap{
				width: get_calc(720,760);
				$areaW:720;
				margin-left: auto;
				border-radius:30px;
				margin:-20px auto 0;
				padding-bottom:0;
				background: none;
				&:before{
					display: none;
				}
				&:after{
					display:none;
				}
				.main-image{
					width: 100%;
					margin:0 auto getCqw(110,$conW);
					border-radius:25px;
				}
				.kiji_area{
					position: relative;
					width: 100%;
					padding:0 get_calc(35,$conW) get_calc(120,$conW);
					.tit_area{
						margin-bottom: getCqw(60,$conW);
						h2{
							font-size:min(45px,getCqw(60,$conW));
						}
						.en{
							font-size: getCqw(22,$conW);
						}
					}
					h2:not([class]){
						font-size:min(45px,getCqw(60,$conW));
					}
					h3:not([class]){
						font-size:min(30px,getCqw(42,$conW));
					}
					p:not([class]),a:not([class]){
						font-size:min(17px,getCqw(28,$conW));
					}
					ol {
						li {
							font-size:min(17px,getCqw(28,$conW));
							padding-left: getCqw(40,$conW);
						}
					}
					ul {
						li {
							font-size:min(17px,getCqw(28,$conW));
							padding-left: getCqw(40,$conW);
							&:before{
								top: getCqw(24,$conW);
								width: getCqw(14,$conW);
								height: getCqw(6,$conW);
								border-radius: getCqw(6,$conW);
							}
						}
					}
					.link_wrap{
						width: 100%;
					}
					.link_btn{
						width: 100%;
						padding:getCqw(30,$conW) getCqw(100,$conW) getCqw(30,$conW) getCqw(65,$conW);
						.arrow{
							right: getCqw(40,$conW);
						}
					}
					blockquote{
						font-size:  min(15px,getCqw(28,$conW));
						> *,p:not([class]),a:not([class]){
							font-size: min(15px,getCqw(28,$conW));
						}
					}
				}
				.d-pager_wrap {
					width: get_calc(680,760);
					$conW:680;
					.pager_link{
						padding:getCqw(50,$conW) getCqw(60,$conW) getCqw(60,$conW) getCqw(65,$conW);
					}
					.img{
						width: get_calc(300,620);
						aspect-ratio:300/200;
						&:before{
							left: 3px;
							top: 3px;
						}
					}
					.text_area{
						width: get_calc(280,620);
						p{
							margin-top: getCqw(25,$conW);
							font-size:getCqw(26,$conW);
						}
					}
					.link_btn{
						aspect-ratio: 230 / 50;
						.text{font-size: 16px;}
					}
				}
			}

		}

	}

}


