@import "functions.scss";

@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@100;400;700&display=swap');

/* ==========================================================================
	fv
========================================================================== */
.fv{
	position: relative;
	padding-top: var(--head-mt);
	.inr{
		$conW:1440;
		h1{
			width: get_calc(188,$conW);
			min-width:188px;
		}
	}
	@include max-width(1050){
		.inr{
			$conW:740;
			h1{
				width: get_calc(230,$conW);
				min-width:115px;
			}
		}
	}
}

/* ==========================================================================
	intro
========================================================================== */
.intro{
	position: relative;
	@include gradient-bg(to bottom, transparent,var(--base-bg-color11));
	margin-bottom: 12rem;
	.inr{
		$conW:1400;
		container-type: inline-size;
		z-index: 20;
		.text_wrap{
			@include fl;
			padding-top:getCqw(90,$conW);
			width: get_calc(1020,$conW);
			margin-inline:auto;
			margin-bottom: getCqw(140,$conW);
		}
		h2{
			width: get_calc(154,1020);
			margin-left: getCqw(70,$conW);
		}
		p{
			font-size: max(13px,getCqw(16,$conW));
			line-height: calc(80/32);
			width: get_calc(550,1020);
			font-weight: 500;
			letter-spacing: -0.08em;
		}
		.tori{
			position: absolute;
			width: min(350px,get_calc(238,$conW));
			left: max(-200px,getCqw(-60,$conW));
			top:getCqw(380,$conW);
			z-index: 10;
			animation: bird-float 6s ease-in-out infinite;
			img{

			animation: bird-sway 4.6s ease-in-out infinite;
			will-change: transform;
			transform-origin: 50% 60%;

			}
		}
	}
	.intro-loop{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		z-index: 10;
		gap:70px;
	}
	.intro-loop__inner{
		position: relative;
		display: flex;
		align-items: center;
		// flex: 0 0 auto;
		gap:70px;
		will-change: transform;
		animation: LoopX 70s infinite linear 1s both;
	}
	.intro-loop__img{
		display: block;
		width: 340px;
		height: auto;
		flex: 0 0 auto;
		border-radius:30px;
	}
	.cloud-bg{
		position: absolute;
		width: 2015px;
		left: -63px;
		bottom: -90px;
		z-index: 6;

	}
	.town-bg{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 758px;
		z-index: 5;
		background:url(../img/recruit/intro-town_bg.webp) center bottom;
		background-size:4999px 758px;
	}
	.btm_cloud{
		position: absolute;
		z-index: 15;
		&.cloud01{
			width: 1804px;
			right: calc(50% - 340px);
			top: calc(100% - 235px);
		}
		&.cloud02{
			width: 1807px;
			left: calc(50% - 616px);
			top: calc(100% - 150px);
		}
	}

	@include max-width(1050){
		margin-bottom: 9.5rem;
		.inr{
			width: get_calc(640,800);
			$conW:640;
			.text_wrap{
				display: block;
				padding-top:getCqw(140,$conW);
				width: 100%;
				// margin-bottom: getCqw(400,$conW);
				margin-bottom: 180px;
			}
			h2{
				width: get_calc(444,640);
				margin:0 0  getCqw(120,$conW);
			}
			p{
				font-size: min(17px,getCqw(28,$conW));
				line-height: calc(66/28);
				width: 100%;
			}
			.tori{
				width: get_calc(286,$conW);
				left: getCqw(460,$conW);
				top:calc(100% - getCqw(270,$conW));
			}
		}
		.intro-loop{
			gap:40px;
		}
		.intro-loop__inner{
			gap:40px;
		}
		.intro-loop__img{
			width: 205px;
			border-radius:15px;
		}
		.cloud-bg{
			width: 992px;
			left: calc(50% - 378px);
			bottom: 0;
		}
		.town-bg{
			height: 376px;
			background-size:2480px 376px;
			bottom: 50px;
		}
		.btm_cloud{
			position: absolute;
			z-index: 15;
			&.cloud01{
				width: 865px;
				right:16px;
				top: calc(100% - 140px);
			}
			&.cloud02{
				width: 869px;
				left: calc(50% - 274px);
				top: calc(100% - 150px);
			}
		}

	}
}



/* ==========================================================================
	attractive
========================================================================== */
.recruit-wrap{
	position: relative;
	z-index: 30;
	max-width:2000px;
	margin:0 auto;
	container-type: inline-size;
	@include gradient-bg(to bottom, transparent,var(--base-bg-color05));
	.inr{
		position: relative;
		background:var(--base-bg-color06);
		container-type: inline-size;
		$conW:1400;
		&:before{
			content: "";
			position: absolute;
			inset: 0;
			background-image: url(../img/common/bg-pattern.webp);
			background-repeat: repeat;
			background-size:cover;
			// background-size: 987px 1270px;
			opacity: .7;
			mix-blend-mode: soft-light;
			pointer-events: none;
			border-radius:60px;
			z-index: 1;
		}
		.attractive{
			padding: getCqw(175,$conW) 0;
		}
		h2{
			width: get_calc(593,1400);
			margin:0 auto getCqw(25,$conW);
		}
		.en-tit{
			display: block;
			text-align: center;
			font-size: getCqw(20,$conW);
		}
		.attractive_list{
			@include fl;
			align-items:flex-start;
			width: get_calc(1140,1400);
			margin:0 auto;
			li{
				position: relative;
				width: get_calc(500,1140);
				&:before{
					content:"";
					display: block;
					position: absolute;
					left: calc(getCqw(-70,$conW) + 5px);
					top: calc(getCqw(80,$conW) + 5px);
					background:var(--base-bubble-bg02);
					mix-blend-mode:multiply;
					z-index: 5;
					opacity:0;
					transition:all .4s ease;
					transition-delay:.6s;
				}
				&.move:before{
					opacity:1;
				}
			}
			.num{
				display: flex;
				align-items: flex-end;
				gap: 1rem;
				font-size: getCqw(18,$conW);
				margin-left: getCqw(-70,$conW);
				margin-bottom: getCqw(60,$conW);
				color:var(--base-text-color03);
			}
			.line{
				font-family:var(--line-seed);
				font-size: getCqw(66,$conW);
				color:var(--base-btn-color03);
				font-style:italic;
				font-weight: 100;
			}
			h3{
				position: absolute;
				left: getCqw(-70,$conW);
				top: getCqw(80,$conW);
				z-index: 10;
				img{
					position: relative;
					z-index: 10;
				}
			}
			.points-img{
				position: relative;
				margin-bottom:getCqw(25,$conW);
				img{border-radius:10px;}
				z-index: 4;
			}
			.n_txt{
				font-size: getCqw(16,$conW);
				font-weight: 500;
				letter-spacing: -0.08em;
			}
			li:nth-child(2n){
				margin-top: getCqw(135,$conW);
				.line{
					color:var(--base-color-green10);
				}
			}
			.list01{
				margin-bottom: getCqw(200,$conW);
				&:before{
					width: get_calc(530,1000);
					aspect-ratio:530/140;
				}
				h3{
					width: get_calc(530,1000);
				}
			}
			.list02{
				&:before{
					width: get_calc(530,1000);
					aspect-ratio:530/140;
				}
				h3{
					width: get_calc(530,1000);
				}
			}
			.list03{
				&:before{
					width: get_calc(620,1000);
					aspect-ratio:620/140;
				}
				h3{
					width: get_calc(620,1000);
				}
			}
			.list04{
				&:before{
					width: get_calc(950,1000);
					aspect-ratio:950/140;
				}
				h3{
					width: get_calc(950,1000);
				}
			}
		}
		.flow{
			h2{
				width: get_calc(210,1400);
			}
			.flow_list{
				display:flex;
				flex-wrap:wrap;
				width: get_calc(1140,1400);
				margin:getCqw(100,$conW) auto 0;
				gap: get_calc(33,1140);
			}
			li{
				position: relative;
				width: get_calc(260,1140);
				background:var(--base-color-white);
				border-radius:30px;
				padding-top: getCqw(90,$conW);
				padding-bottom: getCqw(90,$conW);
				margin-bottom: getCqw(100,$conW);
			}
			li:nth-child(2n){
				.num_box{
					transform:translateY(-50%) rotate(5deg);
					background:var(--base-color-green10);
				}
			}
			.num_box{
				position: absolute;
				width: get_calc(100,260);
				aspect-ratio:1/1;
				display: block;
				left: 0;
				right: 0;
				top: 0;
				margin:auto;
				transform:translateY(-50%) rotate(-5deg);
				padding-top: getCqw(25,$conW);
				z-index: 10;
				text-align: center;
				background:var(--base-color-green08);
				&:after{
					content:"";
					position: absolute;
					inset: 0;
					z-index: 1;
					pointer-events: none;
					background: url(../img/common/texture.webp);
					background-size:cover;
					opacity:.5;
					mix-blend-mode: soft-light;
				}
				.en{
					position: relative;
					font-weight: 500;
					color:var(--base-color-white);
					font-size: max(13px,getCqw(15,$conW));
					z-index: 5;
				}
				.num{
					font-size: getCqw(42,$conW);
				}
			}
			h3{
				margin:0 auto getCqw(30,$conW);
			}
			.n_txt{
				font-size: max(13px,getCqw(16,$conW));
				line-height: 60/32;
				font-weight: 500;
				width: get_calc(380,520);
				margin:0 auto;
			}
			.link_wrap{
				width: get_calc(440,520);
				margin:getCqw(27,$conW) auto 0;
			}
			.link_btn{
				width: 100%;
				aspect-ratio:auto;
				padding:20px 0;
				padding-left: getCqw(30,$conW);
				.text{
					font-size: max(12px,getCqw(14,$conW));
				}
			}
			.list01{
				padding-bottom: getCqw(40,$conW);
				h3{
					width: get_calc(155,260);
				}
			}
			.list02{
				h3{
					width: get_calc(107,260);
				}
			}
			.list03{
				h3{
					width: get_calc(106,260);
				}
			}
			.list04{
				h3{
					width: get_calc(101,260);
				}
			}
			.list05{
				h3{
					width: get_calc(103,260);
				}
			}
			.list06{
				h3{
					width: get_calc(48,260);
				}
			}
			.list07{
				h3{
					width: get_calc(48,260);
				}
			}
		}
		.description{
			margin-bottom: getCqw(180,$conW);
			h2{
				width: get_calc(210,1400);
			}
			h3{
				position: absolute;
				left: get_calc(40,1140);
				top: 0;
				transform:translateY(-50%);
				&:after{
					content:"";
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					left: 5px;
					top: 5px;
					background:var(--base-color-green11);
					z-index: 1;
				}
				img{
					position: relative;
					z-index: 10;
				}
			}
			.data-list_wrap{
				position: relative;
				width: get_calc(1140,1400);
				margin-inline:auto;
				z-index: 10;
				h3{
					width: max(215px,get_calc(215,1140));
				}
			}
			.data-list{
				padding:getCqw(80,$conW) getCqw(80,$conW) getCqw(60,$conW);
				margin-top: getCqw(80,$conW);
			}
			.data_head,.data_body{
				font-size: max(14px,getCqw(15,$conW));
				line-height: calc(39/16);
				font-weight: 500;
			}
			li{
				position: relative;
				font-size: max(15px,getCqw(15,$conW));
				line-height: calc(39/16);
				font-weight: 500;
				padding-left: getCqw(17,$conW);
				letter-spacing: -0.04em;
				&:before{
					content: "";
					position: absolute;
					left: 0;
					top: getCqw(17,$conW);
					width: getCqw(8,$conW);
					height: 3px;
					border-radius:3px;
					background: var(--base-btn-color03);
				}
			}
			.data_row{
				.link_wrap{
					margin-top: getCqw(30,$conW);
				}
				.link_btn{
					width: auto;
					aspect-ratio:auto;
					padding:20px  getCqw(140,$conW) 20px getCqw(30,$conW);
					&:before{
						width: get_calc(740,760);
					}
					.text{
						font-size: max(14px,getCqw(18,$conW));
					}
				}
			}
			.non-text{
				font-size: max(15px,getCqw(15,$conW));
				line-height: calc(39/16);
				font-weight: 500;
				padding-left: getCqw(17,$conW);
				letter-spacing: -0.04em;
			}
		}

	}
	@include max-width(1050){
		$conW:760;
		.inr{
			$conW:760;
			&:before{
				border-radius:30px;
			}
			.attractive{
				padding: getCqw(150,$conW) 0;
			}
			h2{
				width: get_calc(528,$conW);
				margin:0 auto getCqw(28,$conW);
			}
			.en-tit{
				display: block;
				text-align: center;
				font-size: min(18px,getCqw(24,$conW));
			}
			.attractive_list{
				display: block;
				width: get_calc(640,$conW);
				margin-top: get_calc(90,$conW);
				li{
					position: relative;
					width: 100%;
					&:before{
						content:"";
						display: block;
						position: absolute;
						left: calc(getCqw(-30,$conW) + 5px);
						top: calc(getCqw(80,$conW) + 5px);
					}
				}
				.num{
					gap: 7px;
					font-size: getCqw(32,$conW);
					margin-left: getCqw(-30,$conW);
					margin-bottom: getCqw(75,$conW);
				}
				.line{
					font-size: getCqw(72,$conW);
				}
				h3{
					position: absolute;
					left: getCqw(-30,$conW);
					top: getCqw(80,$conW);
				}
				.points-img{
					margin-bottom:getCqw(50,$conW);
					img{border-radius:5px;}
				}
				.n_txt{
					font-size: max(18px,getCqw(28,$conW));
				}
				li:not(:first-child){
					margin-top: getCqw(140,$conW);
				}
				li:nth-child(2n){
					margin-top: getCqw(140,$conW);
				}
				.list01{
					margin-bottom: 0;
					&:before{
						width: get_calc(370,640);
						aspect-ratio:370/90;
					}
					h3{
						width: get_calc(370,640);
					}
				}
				.list02{
					&:before{
						width: get_calc(370,640);
						aspect-ratio:370/90;
					}
					h3{
						width: get_calc(370,640);
					}
				}
				.list03{
					&:before{
						width: get_calc(440,640);
						aspect-ratio:440/90;
					}
					h3{
						width: get_calc(440,640);
					}
				}
				.list04{
					&:before{
						width: get_calc(650,640);
						aspect-ratio:650/90;
					}
					h3{
						width: get_calc(650,640);
					}
				}
			}
			.flow{
				h2{
					width: get_calc(210,1400);
				}
				.flow_list{
					display:flex;
					flex-wrap:wrap;
					width: get_calc(1140,1400);
					margin:getCqw(100,$conW) auto 0;
					gap: get_calc(33,1140);
				}
				li{
					position: relative;
					width: get_calc(260,1140);
					background:var(--base-color-white);
					border-radius:30px;
					padding-top: getCqw(90,$conW);
					padding-bottom: getCqw(90,$conW);
					margin-bottom: getCqw(100,$conW);
				}
				li:nth-child(2n){
					.num_box{
						transform:translateY(-50%) rotate(5deg);
						background:var(--base-color-green10);
					}
				}
				.num_box{
					position: absolute;
					width: get_calc(100,260);
					aspect-ratio:1/1;
					display: block;
					left: 0;
					right: 0;
					top: 0;
					margin:auto;
					transform:translateY(-50%) rotate(-5deg);
					padding-top: getCqw(25,$conW);
					z-index: 10;
					text-align: center;
					background:var(--base-color-green08);
					&:after{
						content:"";
						position: absolute;
						inset: 0;
						z-index: 1;
						pointer-events: none;
						background: url(../img/common/texture.webp);
						background-size:cover;
						opacity:.5;
						mix-blend-mode: soft-light;
					}
					.en{
						position: relative;
						font-weight: 500;
						color:var(--base-color-white);
						font-size: max(13px,getCqw(15,$conW));
						z-index: 5;
					}
					.num{
						font-size: getCqw(42,$conW);
					}
				}
				h3{
					margin:0 auto getCqw(30,$conW);
				}
				.n_txt{
					font-size: max(13px,getCqw(16,$conW));
					line-height: 60/32;
					font-weight: 500;
					width: get_calc(380,520);
					margin:0 auto;
				}
				.link_wrap{
					width: get_calc(440,520);
					margin:getCqw(27,$conW) auto 0;
				}
				.link_btn{
					width: 100%;
					aspect-ratio:auto;
					padding:20px 0;
					padding-left: getCqw(30,$conW);
					.text{
						font-size: max(12px,getCqw(14,$conW));
					}
				}
				.list01{
					padding-bottom: getCqw(40,$conW);
					h3{
						width: get_calc(155,260);
					}
				}
				.list02{
					h3{
						width: get_calc(107,260);
					}
				}
				.list03{
					h3{
						width: get_calc(106,260);
					}
				}
				.list04{
					h3{
						width: get_calc(101,260);
					}
				}
				.list05{
					h3{
						width: get_calc(103,260);
					}
				}
				.list06{
					h3{
						width: get_calc(48,260);
					}
				}
				.list07{
					h3{
						width: get_calc(48,260);
					}
				}
			}
			.description{
				margin-bottom: getCqw(180,$conW);
				h2{
					width: get_calc(210,1400);
				}
				h3{
					position: absolute;
					left: get_calc(40,1140);
					top: 0;
					transform:translateY(-50%);
					&:after{
						content:"";
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						left: 5px;
						top: 5px;
						background:var(--base-color-green11);
						z-index: 1;
					}
					img{
						position: relative;
						z-index: 10;
					}
				}
				.data-list{
					position: relative;
					padding:getCqw(76,$conW) getCqw(55,$conW);
					margin-top: getCqw(85,$conW);
					z-index: 10;
					.map_link{
						margin-left: 0;
					}
				}
				.data_row{
					display: block;
				}
				.data_head,.data_body{
					font-size: min(17px,getCqw(28,$conW));
					line-height: calc(60/28);
				}
				li{
					font-size: min(17px,getCqw(28,$conW));
					line-height: calc(60/28);
					padding-left: getCqw(40,$conW);
					&:before{
						top: getCqw(20,$conW);
						left: getCqw(12,$conW);
						width: 8px;
					}
				}
				.data_row{
					.link_wrap{
						margin-top: getCqw(30,$conW);
					}
					.link_btn{
						width: auto;
						aspect-ratio:auto;
						padding:20px  getCqw(140,$conW) 20px getCqw(30,$conW);
						&:before{
							width: get_calc(740,760);
						}
						.text{
							font-size: max(14px,getCqw(18,$conW));
						}
					}
				}
				.non-text{
					font-size: max(15px,getCqw(15,$conW));
					line-height: calc(39/16);
					font-weight: 500;
					padding-left: getCqw(17,$conW);
					letter-spacing: -0.04em;
				}
			}
		}

	}

}


.contact_wrap{
	position: relative;
	$conW:1400;
	z-index: 20;
	margin-top: 5.5rem;
	.inr{
		position: relative;
		container-type: inline-size;
		z-index: 10;
		background:none;
		&:before{display: none;}
		.form .tit_area h2{
			width: get_calc(356,1140) !Important;
			margin:0 0 getCqw(22,$conW);
		}
	}
}

