@import "functions.scss";

@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@100;400;700&display=swap');

/* ==========================================================================
	fv
========================================================================== */
.fv{
	position: relative;
	padding-top: var(--head-mt);
	.inr{
		$conW:1440;
		h1{
			width: get_calc(201,$conW);
			min-width:201px;
		}
	}
	&:after{
		content:"";
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 97px;
		background: linear-gradient(to bottom, #fff 0%, #f3fefe 100%);
		z-index: 1;
	}
	@include max-width(1050){
		.inr{
			$conW:740;
			h1{
				width: get_calc(240,$conW);
				min-width:120px;
			}
		}
	}
}

/* ==========================================================================
	intro
========================================================================== */
.intro{
	position: relative;
	background: linear-gradient(to bottom, #f3fefe 0%, #b9fbfc calc(100% - 35rem), #fff 100%);
	padding-bottom: 12rem;
	.top_cloud{
		position: absolute;
		z-index: 5;
		&.cloud01{
			width: 981px;
			right: calc(50% + 350px);
			top: -39px;
			z-index: 1;
		}
		&.cloud02{
			width: 981px;
			left: calc(50% + 400px);
			top:-100px;
		}
	}
	.inr{
		$conW:1140;
		container-type: inline-size;
		z-index: 20;
		.text_wrap{
			position: relative;
			padding-top:getCqw(110,$conW);
			width: get_calc(1020,$conW);
			margin-inline:auto;
			margin-bottom: getCqw(115,$conW);
			z-index: 15;
		}
		h2{
			width: max(390px,get_calc(420,$conW));
		}
		.kumonchu{
			position: absolute;
			width: getCqw(431,$conW);
			z-index: 10;
			-webkit-animation: bird-float 6s ease-in-out infinite;
			animation: bird-float 6s ease-in-out infinite;
			&.kumonchu01{
				top: getCqw(60,$conW);
				left: get_calc(800,$conW);
				z-index: 10;
				-webkit-animation-delay: -0.5s;
				animation-delay: -0.5s;
				--W:862;
				--H:1174;
				&:after{
					--bW:268;
					--bT:-14;
					--bL:0;
					--imgURL: url("../img/staff/intro-kumonchu01-sb.png");
					aspect-ratio:268/130;
					transition-delay:1.6s;
				}
			}
			&.kumonchu02{
				top: getCqw(-80,$conW);
				left: get_calc(960,$conW);
				--W:862;
				--H:1190;
				&:after{
					--bW:388;
					--bT:15;
					--bL:-62;
					--imgURL: url("../img/staff/intro-kumonchu02-sb.png");
					aspect-ratio:388/130;
					transition-delay:1.2s;
				}
			}
		}
	}
	.intro-loop{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		z-index: 20;
	}
	.intro-loop__inner{
		position: relative;
		display: flex;
		align-items: flex-start;
		// flex: 0 0 auto;
		gap:30px;
		will-change: transform;
		animation: LoopX 70s infinite linear 1s both;
	}
	.intro-loop__img{
		display: block;
		width: 320px;
		height: auto;
		flex: 0 0 auto;
		border-radius:30px;
		&:last-child{margin-right: 30px;}
		&:nth-child(even){
			margin-top: 70px;
		}
	}
	.cloud-bg{
		position: absolute;
		width: 2015px;
		left: -63px;
		bottom: -90px;
		z-index: 6;

	}
	.town-bg{
		position: absolute;
		left: 0;
		bottom: 155px;
		width: 100%;
		height: 609px;
		z-index: 5;
		background:url(../img/staff/intro-town_bg.webp) center bottom;
		background-size:4261px 609px;
		-webkit-mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
		mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
	}
	.btm_risu{
		position: absolute;
		width: 340px;
		right:-35px;
		bottom: -170px;
		z-index: 20;
		@include min-width(2000){
			right: auto;
			left: calc(50% + 690px);
		}
	}
	.btm_cloud{
		position: absolute;
		z-index: 15;
		width: 2319px;
		left: calc(50% - 1175px);
		bottom:-60px;
		z-index: 8;
	}

	@include max-width(1050){
		padding-bottom: 7rem;
		.top_cloud{
			&.cloud01{
				width: 490px;
				right: get_calc(580,800);
				top:29.5vw;
				opacity:.6;
			}
		}
		.inr{
			$conW:640;
			width: get_calc(640,800);
			.text_wrap{
				padding-top:getCqw(160,$conW);
				width: 100%;
				margin-bottom: getCqw(180,$conW);
			}
			h2{
				width: get_calc(554,$conW);
			}
			.kumonchu{
				width: getCqw(517,$conW);
				z-index: 5;
				&.kumonchu01{
					top: getCqw(-320,$conW);
					left: get_calc(270,$conW);
					--W:517;
					--H:704;
					&:after{
						--bW:184;
						--bT:-30;
						--bL:-25;
						--imgURL: url("../img/staff/intro-kumonchu01-sb-sp.png");
						aspect-ratio:184/96;
					}
				}
				&.kumonchu02{
					top: getCqw(-500,$conW);
					left: get_calc(412,$conW);
					z-index: 1;
					--W:517;
					--H:714;
					&:after{
						--bW:278;
						--bT:15;
						--bL:-104;
						--imgURL: url("../img/staff/intro-kumonchu02-sb-sp.png");
						aspect-ratio:278/96;
					}
				}
			}
		}
		.intro-loop__inner{
			gap:20px;
			animation: LoopX 70s infinite linear 1s both;
		}
		.intro-loop__img{
			width: 190px;
			border-radius:30px;
			&:last-child{margin-right: 20px;}
			&:nth-child(even){
				margin-top: 40px;
			}
		}
		.cloud-bg{
			position: absolute;
			width: 2015px;
			left: -63px;
			bottom: -90px;
			z-index: 6;

		}
		.town-bg{
			bottom: 112px;
			height: 303px;
			background-size:2117px 303px;
		}
		.btm_risu{
			width: 204px;
			right:-9px;
			bottom: -120px;
		}
		.btm_cloud{
			width: 1008px;
			left: calc(50% - 394px);
			bottom:-135px;
		}

	}
}



/* ==========================================================================
	profile-wrap
========================================================================== */
.profile-wrap{
	position: relative;
	z-index: 30;
	margin:0 auto;
	@include gradient-bg(to bottom, transparent,var(--base-bg-color05));
	.inr{
		position: relative;
		background:var(--base-color-green12);
		container-type: inline-size;
		$conW:1400;
		padding-top: 16rem;
		&:before{
			content: "";
			position: absolute;
			inset: 0;
			background-image: url(../img/common/bg-pattern.webp);
			background-repeat: repeat;
			background-size:cover;
			// background-size: 987px 1270px;
			opacity: .4;
			mix-blend-mode: soft-light;
			pointer-events: none;
			border-radius:60px;
			z-index: 1;
		}
		.profile-box{
			position: relative;
			// @include fl;
			// align-items:flex-start;
			width: get_calc(1140,$conW);
			margin-bottom:getCqw(110,$conW);
			margin-inline:auto;
			z-index: 10;
			&.-rev{
				.img_area{
					right: auto;
					left: 0;
					background-image: url(../img/staff/profile-img_bg02.png);
					.img{
						border-color:var(--base-color-green10);
					}
				}
				.title-box,.question-box,.num{
					margin-left: auto;
				}
			}
			// .text_area{
			// 	width: get_calc(1240,2280);
			// }
			.num{
				position: relative;
				display: flex;
				align-items: flex-end;
				gap: 1rem;
				width: get_calc(1240,2280);
				font-size: getCqw(18,$conW);
				margin-bottom: getCqw(18,$conW);
				color:var(--base-text-color03);
				z-index: 10;
			}
			.line{
				position: relative;
				font-family:var(--line-seed);
				font-size: getCqw(66,$conW);
				color:var(--base-btn-color03);
				font-style:italic;
				font-weight: 100;
				z-index: 10;
			}
			.title-box{
				position: relative;
				width: get_calc(1240,2280);
				margin-bottom: getCqw(60,$conW);
				span{
					position: relative;
					display: block;
					&:after{
						content:"";
						display: block;
						position: absolute;
						left: 5px;
						top: 5px;
						width: 100%;
						height: 100%;
						background:#ace2e3;
						z-index: 1;
					}
					+ span{
						margin-top: 5px;
					}
					img{
						position: relative;
						z-index: 10;
					}
				}
			}
			.question-box{
				position: relative;
				width: get_calc(1240,2280);
				+ .question-box{
					margin-top:getCqw(45,$conW);
				}
				.question{
					margin-bottom: getCqw(20,$conW);
				}
				.n_txt{
					font-size: max(14px,getCqw(16,$conW));
					line-height: calc(60/32);
					font-weight: 500;
					letter-spacing: -0.06em;
				}
			}
			.img_area{
				// position: relative;
				position: absolute;
				right: 0;
				top: 0;
				width: get_calc(860,2280);
				padding:30px;
				margin-top:getCqw(40,$conW);
				box-sizing:border-box;
				background-image: url(../img/staff/profile-img_bg01.png);
				background-size:cover;
				isolation: isolate;
				.img{
					border:10px solid var(--base-color-green13);
				}
				img{
					position: relative;
					z-index: 10;
				}
				.cloud{
					position: absolute;
					z-index: 20;
				}
				.cloud01{
					width: getCqw(762,$conW);
					bottom:get_calc(977,1120);
					left: get_calc(416,860);
				}
				.cloud02{
					width: getCqw(965,$conW);
					bottom:get_calc(960,1120);
					right: get_calc(138,860);
				}
				.name_area{
					position: absolute;
					left: getCqw(-40,$conW);
					bottom: getCqw(65,$conW);
					z-index: 10;
					img{
						position: relative;
						z-index: 10;
					}
				}
				.job:before,.name:before{
					content:"";
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background:#fff;
					z-index: 2;
				}
				.job:after,.name:after{
					content:"";
					display: block;
					position: absolute;
					left: 5px;
					top: 5px;
					width: 100%;
					height: 100%;
					background: #7fc7c6;
					opacity:.5;
					z-index: 1;
				}
				.job{
					position: relative;
					display: table;
					padding:getCqw(10,$conW) getCqw(17,$conW);
					background:var(--base-color-white);
					&.-director img{
						width: 90px;
					}
					&.-senior-planner img{
						width: 127px;
					}
					&.-planner img{
						width: 80px;
					}
					&.-engineer img{
						width: 75px;
					}
					&.-assistant img{
						width: 88px;
					}
					&.-partner-support img{
						width: 137px;
					}
					&.-president img{
						width: 120px;
					}
					&.-chairman img{
						width: 32px;
					}
				}
				.name{
					position: relative;
					display: table;
					padding:getCqw(10,$conW) getCqw(17,$conW);
					background:var(--base-color-white);
					margin-top: 2px;
				}
			}

			.question01{
				width: get_calc(542,1240);
			}
			.question02{
				width: get_calc(782,1240);
			}
			.question03{
				width: get_calc(632,1240);
			}
			.question04{
				width: get_calc(538,1240);
			}
			.question05{
				width: get_calc(690,1240);
			}
			.question06{
				width: get_calc(710,1240);
			}
			&.-box01{
				margin-bottom:getCqw(150,$conW);
				.name img{
					width: 131px;
				}
				.title02{display: none;}
			}
			&.-box02{
				.title01{
					width: get_calc(1110,1240);
				}
				.title02{
					width: get_calc(620,1240);
				}
				.img_area{
					margin-top:getCqw(90,$conW);
				}
				.name img{
					width: 161px;
				}
			}
			&.-box03{
				.title01{
					width: get_calc(1080,1240);
				}
				.title02{
					width: get_calc(410,1240);
				}
				.img_area{
					margin-top:getCqw(90,$conW);
				}
				.name img{
					width: 98px;
				}
			}
			&.-box04{
				margin-bottom:getCqw(195,$conW);
				.title01{
					width: get_calc(950,1240);
				}
				.title02{
					display: none;
				}
				.name img{
					width: 136px;
				}
			}
			&.-box05{
				margin-bottom:getCqw(170,$conW);
				z-index: 20;
				.title01{
					width: get_calc(950,1240);
				}
				.title02{
					display: none;
				}
				.name img{
					width: 130px;
				}
			}
			&.-box06{
				margin-bottom:getCqw(100,$conW);
				.title01{
					width: get_calc(1170,1240);
				}
				.title02{
					width: get_calc(1300,1240);
				}
				.title03{
					display: none;
				}
				.img_area{
					margin-top:getCqw(90,$conW);
				}
				.name img{
					width: 99px;
				}
			}
			&.-box07{
				margin-bottom:getCqw(155,$conW);
				.title01{
					width: get_calc(1070,1240);
				}
				.title02{
					display: none;
				}
				.name img{
					width: 99px;
				}
			}
			&.-box08{
				margin-bottom:getCqw(140,$conW);
				.title01{
					width: get_calc(800,1240);
				}
				.title02{
					display: none;
				}
				.name img{
					width: 100px;
				}
			}
			&.-box09{
				margin-bottom:getCqw(190,$conW);
				.title01{
					width: get_calc(670,1240);
				}
				.name img{
					width: 164px;
				}
			}
			&.-box10{
				margin-bottom:getCqw(155,$conW);
				.title01{
					width: get_calc(920,1240);
				}
				.name img{
					width: 131px;
				}
			}
			&.-box11{
				margin-bottom:getCqw(190,$conW);
				z-index: 20;
				.title01{
					width: get_calc(1060,1240);
				}
				.title02{
					display: none;
				}
				.name img{
					width: 100px;
				}
			}
			&.-box12{
				margin-bottom:getCqw(170,$conW);
				.title01{
					width: get_calc(1170,1240);
				}
				.title02{
					display: none;
				}
				.name img{
					width: 132px;
				}
			}
			&.-box13{
				margin-bottom:getCqw(120,$conW);
				.title01{
					width: get_calc(920,1240);
				}
				.title02{
					width: get_calc(610,1240);
				}
				.name img{
					width: 131px;
				}
			}
			&.-box14{
				margin-bottom:getCqw(115,$conW);
				.title01{
					width: get_calc(520,1240);
				}
				.name img{
					width: 166px;
				}
			}
			&.-box15{
				margin-bottom:getCqw(125,$conW);
				.title01{
					width: get_calc(840,1240);
				}
				.name img{
					width: 165px;
				}
			}
			&.-box16{
				margin-bottom:getCqw(120,$conW);
				.title01{
					width: get_calc(1240,1240);
				}
				.title02{
					display: none;
				}
				.name img{
					width: 163px;
				}
			}
			&.-box17{
				margin-bottom:getCqw(140,$conW);
				z-index: 20;
				.title01{
					width: get_calc(1240,1240);
				}
				.title02{
					display: none;
				}
				.name img{
					width: 133px;
				}
			}
			&.-box18{
				margin-bottom:getCqw(200,$conW);
				.title01{
					width: get_calc(1160,1240);
				}
				.title02{
					width: get_calc(730,1240);
				}
				.title03{
					display: none;
				}
				.img_area{
					margin-top:getCqw(90,$conW);
				}
				.name img{
					width: 135px;
				}
			}
		}
	}

	@include max-width(1050){
		$conW:760;
		.inr{
			$conW:760;
			&:before{
				border-radius:30px;
			}
			.profile-box{
				display: block;
				width: get_calc(640,$conW);
				margin:0 auto getCqw(150,$conW);
				&.-rev{
					.img_area{
						right: auto;
						left: auto;
					}
					.title-box,.question-box,.num{
						margin-left: 0;
					}
				}
				.text_area{
					width: 100%;
				}
				.num{
					width: 100%;
					gap: .5rem;
					font-size: getCqw(32,$conW);
					margin-bottom: getCqw(30,$conW);
				}
				.line{
					font-size: getCqw(72,$conW);
				}
				.title-box{
					width: 100%;
					margin-bottom: getCqw(60,$conW);
					span{
						&:after{
							left: 3px;
							top: 3px;
						}
						+ span{
							margin-top: 1px;
						}
					}
				}
				.question-box{
					width: 100%;
					+ .question-box{
						margin-top:getCqw(65,$conW);
					}
					.question{
						margin-bottom:15px;
					}
					.n_txt{
						font-size: max(18px,getCqw(28,$conW));
						line-height: calc(56/28);
					}
				}
				.img_area{
					position: relative;
					width: get_calc(520,640);
					padding:20px;
					margin:getCqw(70,$conW) auto getCqw(65,$conW) !Important;
					.img{
						border:5px solid var(--base-color-green13);
					}
					.name_area{
						left: getCqw(-50,$conW);
						bottom: getCqw(90,$conW);
					}
					.job:after,.name:after{
						left: 3px;
						top: 3px;
					}
					.job{
						padding:getCqw(18,$conW) getCqw(20,$conW);
						&.-director img{
							width: max(54px,getCqw(108,$conW));
							// width: 54px;
						}
						&.-senior-planner img{
							width: max(75px,getCqw(150,$conW));
							// width: 75px;
						}
						&.-planner img{
							width: max(46px,getCqw(92,$conW));
							// width: 46px;
						}
						&.-engineer img{
							width: max(47px,getCqw(94,$conW));
							// width: 47px;
						}
						&.-assistant img{
							width: max(54px,getCqw(108,$conW));
							// width: 54px;
						}
						&.-partner-support img{
							width: max(83px,getCqw(166,$conW));
							// width: 83px;
						}
						&.-president img{
							width: max(72px,getCqw(144,$conW));
							// width: 72px;
						}
						&.-chairman img{
							width: max(19px,getCqw(38,$conW));
							// width: 19px;
						}
					}
					.name{
						padding:getCqw(17,$conW) getCqw(20,$conW);
						margin-top: 1px;
					}
				}

				.question01{
					width: get_calc(439,640);
				}
				.question02{
					width: get_calc(634,640);
				}
				.question03{
					width: get_calc(507,640);
				}
				.question04{
					width: get_calc(433,640);
				}
				.question05{
					width: get_calc(555,640);
				}
				.question06{
					width: get_calc(571,640);
				}
				&.-box01{
					.name img{
						width: max(79px,getCqw(158,$conW));
					}
					.title01{
						width: get_calc(570,640);
					}
					.title02{
						display: block;
						width: get_calc(380,640);
					}
				}
				&.-box02{
					.title01{
						width: get_calc(600,640);
					}
					.title02{
						width: get_calc(630,640);
					}
					.name img{
						width: max(98px,getCqw(196,$conW));
					}
				}
				&.-box03{
					.title01{
						width: get_calc(590,640);
					}
					.title02{
						width: get_calc(470,640);
					}
					.img_area{
						margin-top:getCqw(90,$conW);
					}
					.name img{
						width: max(59px,getCqw(118,$conW));
					}
				}
				&.-box04{
					.title01{
						width: get_calc(570,640);
					}
					.title02{
						display: block;
						width: get_calc(380,640);
					}
					.name img{
						width: max(82px,getCqw(164,$conW));
					}
				}
				&.-box05{
					z-index: 20;
					.title01{
						width: get_calc(650,640);
					}
					.title02{
						display: none;
					}
					.name img{
						width: max(79px,getCqw(158,$conW));
					}
				}
				&.-box06{
					.title01{
						width: get_calc(580,640);
					}
					.title02{
						width: get_calc(640,640);
					}
					.title03{
						display: block;
						width: get_calc(580,640);
					}
					.name img{
						width: max(60px,getCqw(120,$conW));
					}
				}
				&.-box07{
					.title01{
						width: get_calc(570,640);
					}
					.title02{
						display: block;
						width: get_calc(210,640);
					}
					.name img{
						width: max(61px,getCqw(122,$conW));
					}
				}
				&.-box08{
					.title01{
						width: get_calc(570,640);
					}
					.name img{
						width: max(62px,getCqw(124,$conW));
					}
				}
				&.-box09{
					.title01{
						width: get_calc(480,640);
					}
					.name img{
						width: max(62px,getCqw(124,$conW));
					}
				}
				&.-box10{
					.title01{
						width: get_calc(640,640);
					}
					.name img{
						width: max(80px,getCqw(160,$conW));
					}
				}
				&.-box11{
					z-index: 20;
					.title01{
						width: get_calc(610,640);
					}
					.title02{
						display: block;
						width: get_calc(210,640);
					}
					.name img{
						width: max(61px,getCqw(122,$conW));
					}
				}
				&.-box12{
					.title01{
						width: get_calc(600,640);
					}
					.title02{
						display: block;
						width: get_calc(290,640);
					}
					.name img{
						width: max(80px,getCqw(160,$conW));
					}
				}
				&.-box13{
					.title01{
						width: get_calc(650,640);
					}
					.title02{
						width: get_calc(430,640);
					}
					.name img{
						width: max(80px,getCqw(160,$conW));
					}
				}
				&.-box14{
					.title01{
						width: get_calc(360,640);
					}
					.name img{
						width: max(101px,getCqw(202,$conW));
					}
				}
				&.-box15{
					.title01{
						width: get_calc(590,640);
					}
					.name img{
						width: max(100px,getCqw(200,$conW));
					}
				}
				&.-box16{
					.title01{
						width: get_calc(550,640);
					}
					.title02{
						display: block;
						width: get_calc(440,640);
					}
					.name img{
						width: max(99px,getCqw(198,$conW));
					}
				}
				&.-box17{
					z-index: 20;
					.title01{
						width: get_calc(400,640);
					}
					.title02{
						display: block;
						width: get_calc(540,640);
					}
					.name img{
						width: max(81px,getCqw(162,$conW));
					}
				}
				&.-box18{
					.title01{
						width: get_calc(610,640);
					}
					.title02{
						display: block;
						width: get_calc(510,640);
					}
					.title03{
						display: block;
						width: get_calc(290,640);
					}
					.name img{
						width: max(83px,getCqw(166,$conW));
					}
				}
			}
		}
	}

}

