@import "functions.scss";

// ==========================================================================
//	animation
// ==========================================================================

@keyframes kv-blackout{
	0%   { filter: brightness(1); }
	45%  { filter: brightness(0); }
	65%  { filter: brightness(0); }
	100% { filter: brightness(1); }
}
html.is-loading,
html.is-loading body{
	overflow: hidden;
	height: 100%;
}
html.is-loading::after{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 160px; /* 端末差の保険で大きめ */
	background:var(--base-bg-color);
	z-index: 1000000;
	pointer-events: none;
}


// ==========================================================================
//	load
// ==========================================================================
.load{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
    height: 100dvh;
    height: 100lvh;
	// min-height: 850px;
	inset: 0;
	z-index: 999999;
	opacity: 1;
	background:var(--base-bg-color);
	overflow: hidden;

// &:after{

// 	content: "";
// 	position: fixed;
// 	left: 0;
// 	right: 0;
// 	top: 100%;
// 	height: 140px; /* ちょい大きめに保険 */
// 	background:var(--base-bg-color);
// 	z-index: 999998;
// 	pointer-events: none;
// }
	// &:before{
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 24vh;
	// 	width: 100%;
	// 	height: 63.27vh;
	// 	background: var(--theme-color);
	// 	-webkit-clip-path: polygon(0 0, 100% 190px, 100% 100%, 0% calc(100% - 190px));
	// 	clip-path: polygon(0 0, 100% 190px, 100% 100%, 0% calc(100% - 190px));
	// 	z-index: 1;
	// }
	.logo-area{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 80%;
		max-width: 400px;
		aspect-ratio:491/457;
		margin:auto;
		z-index:10;
		@include max-width(800){
			transform:translateY(0);
		}
		figure{
			position: absolute;
			width:calc((var(--W)/491)*100%);
			top:calc((var(--T)/457)*100%);
		}
		.symbol.-top{
			width: 100%;
			top:0;
			transform:translateY(50%);
		}
		.symbol.-bottom{
			--W:441;
			top:auto;
			bottom:0;
			left: 0;
			right: 0;
			margin:auto;
			transform:translateY(-50%);
		}
		.text{
			--W:478;
			--T:125;
			left:calc((8/491)*100%);
			opacity:0;
			transition:opacity .4s var(--easeInOutQuad);
			transition-delay:2s;
		}
	}
	&.loaded {
		.symbol.-top{
			animation: load-symbol_top 2s var(--easeInOutQuad) both;
		}
		.symbol.-bottom{
			animation: load-symbol_bottom 2s var(--easeInOutQuad) both;
		}
		.text{
			opacity:1;
		}

		opacity: 0;
		transition: opacity .8s ease;
		transition-delay: 3.1s;
	}
	&.load.loaded02 {
		z-index: -9999;
		display: none;
	}
}

// ==========================================================================
//	kv
// ==========================================================================
#kv{
	position: relative;
	width: 100%;
	background: linear-gradient(to bottom, #b9fbfc 0%, #b9fbfc 13%, #ffffff 100%);
	$conW:1500;
	// $conH:900;
	$conH:995;
	z-index: 10;
	// &:after{
	// 	content:"";
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 100%;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: linear-gradient(to bottom, #b9fbfc 0%, #b9fbfc 13%, #dffdfe 100%);
	// 	z-index: -1;
	// }
	.inr{
		position: relative;
		container-type: inline-size;
		max-width:2000px;
		z-index: 10;
	}
	.index_head_link-area{
		position: absolute;
		width: 100%;
		height: 100%;
		$conW:1500;
		$conH:995;
		z-index: 50;
		.main-nav{
			position: absolute;
			display:flex;
			flex-direction:column;
			gap: 24px;
			align-items:flex-start;
			left: get_calc(47,$conW);
			bottom: get_calc(144,$conH);
		}
		.hv_ar{
			font-size: 16px;
			letter-spacing: 0.04em;
			color:var(--base-color-blue);
		}
		.copy{
			font-size: 11px;
			padding-left: 12px;
			color:var(--base-color-blue);
			margin-top: 25px;
			letter-spacing:0.13em;
		}

		.info-nav{
			position: absolute;
			display: grid;
			grid-template-columns: repeat(2, max-content);
			justify-content: center;
			gap: 12px;
			width: 168px;
			right: get_calc(60,$conW);
			top: get_calc(45,$conH);
		}
		.w_link{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-height: 30px;
			padding: 0 14px;
			background: #fff;
			border-radius: 999px;
			color: var(--base-text-color);
			font-size: 13px;
			letter-spacing: 0.04em;
			box-shadow: 1.4px 1.4px 6px 0 rgba(203, 250, 252, .8);
			@include transition((background, color));
			&:hover{
				background:var(--base-color-blue02);
				color:#fff;
			}
		}
		.contact_link{
			position: relative;
			@include fc;
			grid-column: 1 / -1;
			width: 100%;
			aspect-ratio:169/50;
			color: #fff;
			background:url(../img/common/head_contact-btn_bg.png);
			background-size:cover;
			&::after{
				content:"";
				position:absolute;
				inset:0;
				background:url(../img/common/head_contact-btn_bg-af.png);
				background-size:cover;
				background-position:center;
				opacity:0;
				transition: opacity .4s var(--easeOutSine);
				pointer-events:none;
			}

			&:hover::after{
				opacity:1;
			}
			img{
				position: relative;
				width: get_calc(83,169);
				z-index: 10;
			}
		}
	}
	h1{
		position: relative;
		z-index:50;
		margin-top:getCqw(50,1500);
		width: getCqw(202,1500);
		margin-inline:auto;
		margin-bottom: getCqw(50,$conW);
	}
	h2{
		position: relative;
		width: getCqw(721,$conW);
		margin-inline:auto;
		margin-bottom: getCqw(115,$conW);
		z-index:50;
	}
	.yane-area{
		position: relative;
		width: getCqw(969,$conW);
		aspect-ratio:969/440;
		margin-inline:auto;
		$W:969;
		$H:440;
		z-index: 5;
		h3{
			position: absolute;
			width: get_calc(513,969);
			left: get_calc(202,$W);
			top: get_calc(-87,$H);
		}
		.yane{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
		}
	}
	.blog-link_area{
		position: absolute;
		@include fl;
		width: get_calc(380,$conW);
		right: get_calc(50,$conW);
		bottom: get_calc(140,$conH);
		z-index: 120;
		.img_area{
			position: relative;
			width: get_calc(130,380);
			aspect-ratio:130/90;
			border:5px solid var(--base-color-white);
			box-sizing:border-box;
			@include transition((transform,opacity));
			&:before{
				content:"";
				display: block;
				position: absolute;
				left: 10px;
				top: 10px;
				width: 100%;
				height: 100%;
				opacity:.1;
				background:var(--base-color-green);
				@include transition(opacity);
			}
			img{
				z-index: 10;
			}
		}
		.text_area{
			@include fch;
			flex:1;
			margin-left: get_calc(40,380);
		}
		.en{
			display: block;
			font-size: 14px;
			margin-bottom: 12px;
			@include transition(color);
		}
		p{
			font-size: 15px;
			font-weight: 500;
			--lh:calc(24/15);
			@include lhCrop();
			@include transition(color);
		}
		@include min-width(801){
			&:hover{
				.img_area{
					transform:translate(10px,10px);
					opacity:.9;
					&:before{
						opacity:0;
					}
				}
				.en,p{
					color:var(--base-color-blue);
				}
			}
		}
	}
	.bird{
		position: absolute;
		z-index: 20;
		animation: bird-float 6s ease-in-out infinite;
		will-change: transform;
	}
	.bird01{
		width: get_calc(320,$conW);
		left:0;
		top: get_calc(-84,$conH);
		img{
			animation: bird-sway 4.6s ease-in-out infinite;
			will-change: transform;
			transform-origin: 50% 60%;
		}
	}
	.bird02{
		width: get_calc(240,$conW);
		right: get_calc(25,$conW);
		bottom: get_calc(258,$conH);
		animation: bird-float-rev 4s ease-in-out infinite;
		z-index: 30;
		img{
			animation: bird-sway-rev 2s ease-in-out infinite;
			will-change: transform;
			transform-origin: 50% 60%;
		}
	}
	.bg-leaf_area{
		position: absolute;
		left: 0;
		top: get_calc(86,$conH);
		width: 100%;
		height: get_calc(669,$conH);
		z-index: 25;
		$leafH:669;
		$seasons: winter, autumn, summer, spring;
		$leafCount: 5;
		$leafDir: "../img/top/";
		.bg-leaf{
			position: absolute;
			background-size: cover;
		}
		.leaf01{
			height: get_calc(66,$leafH);
			aspect-ratio:59/66;
			left: get_calc(1457,$conW);
			top: 0;
		}
		.leaf02{
			height: get_calc(90,$leafH);
			aspect-ratio:89/90;
			left: get_calc(1181,$conW);
			top: get_calc(143,$leafH);
			transform-origin: left 60%;
			will-change: transform;
			animation: leafRotate var(--leaf-rot-dur, 30s) ease-in-out infinite
		}
		.leaf03{
			height: get_calc(57,$leafH);
			aspect-ratio:58/57;
			left: get_calc(1066,$conW);
			top: get_calc(359,$leafH);
		}
		.leaf04{
			height: get_calc(88,$leafH);
			aspect-ratio:82/88;
			left: get_calc(215,$conW);
			top: get_calc(425,$leafH);
		}
		.leaf05{
			height: get_calc(50,$leafH);
			aspect-ratio:51/50;
			left:0;
			bottom: 0;
		}
		@each $season in $seasons{
			&.-#{$season}{
				@for $i from 1 through $leafCount{
					.leaf0#{$i}{
						background-image: url("#{$leafDir}#{$season}_fv-leaf0#{$i}.png");
					}
				}
			}
		}

	}
	.bg-cloud_area{
		position: absolute;
		width: 100%;
		height: get_calc(275,$conH);
		left: 0;
		top: get_calc(219,$conH);
		z-index: 1;
		.bg-cloud{
			position: absolute;
			right: 0;
			width: auto;
			height: get_calc(97,275);
			will-change: transform;
			transform: translate3d(0,0,0);
			--duration: 240s;
			--gap: 120px;
			animation: cloudFlow var(--duration) linear infinite;
			img{
				width: auto;
				height: 100%;
			}
		}
		.bgcloud01{
			top: 0;
			animation-delay:-60s;
		}
		.bgcloud02{
			bottom: 0;
			// animation-delay:5s;
			--duration:280s;
		}
	}
	.cloud{
		position: absolute;
		z-index: 5;
	}
	.cloud01{
		width: get_calc(640,$conW);
		left: get_calc(1100,$conW);
		top: get_calc(-60,$conH);
		opacity:.9;
		animation: cloudFloat1 15s linear infinite;
	}
	.cloud02{
		width: get_calc(1092,$conW);
		left: get_calc(-550,$conW);
		bottom: get_calc(200,$conH);
		opacity:.8;
		animation: cloudFloat3 8s linear infinite;
	}
	.cloud03{
		width: get_calc(1550,$conW);
		left: get_calc(880,$conW);
		bottom: get_calc(0,$conH);
		animation: cloudFloat1 8s linear infinite;
		z-index: 20;
	}
	.cloud04{
		width: get_calc(1093,$conW);
		right: get_calc(839,$conW);
		top: get_calc(939,$conH);
		animation: cloudFloat1 8s linear infinite;
		z-index: 20;
	}
	.cloud05{
		width: get_calc(1533,$conW);
		left: get_calc(560,$conW);
		// top: get_calc(1158,$conH);
		top: get_calc(1458,$conH);
		animation: cloudFloat3 15s linear infinite;
		z-index: 20;
	}
	.cloud06{
		width: get_calc(1197,$conW);
		// top: get_calc(1461,$conH);
		top: get_calc(1761,$conH);
		right: get_calc(582,$conW);
		z-index: 25;
		animation: cloudFloat1 8s linear infinite;
	}

	.town_bg{
		position: absolute;
		left: 0;
		bottom: get_calc(57,$conH);
		width: 100%;
		height: 392px;
		background:url(../img/top/kv_town.webp) center repeat-x;
		background-size:1752px 392px;
		z-index: 1;
	}

}

// ==========================================================================
//	sv
//===========================================================================
.sv{
	position: relative;
	width: 100%;
	// aspect-ratio:1500/1052;
	aspect-ratio:1500/1752;
	max-height:1763px;
	$conW:1500;
	// $conH:900;
	$conH:1052;
	z-index: 5;
	padding-bottom: 300px;
	background: linear-gradient(to bottom, #fff 0%, #fff 13%, #dffdfe 100%);
	.inr{
		position: relative;
		container-type: inline-size;
		max-width:2000px;
		height: 100%;
		z-index: 10;
	}
	.sv-house{
		position:sticky;
		top: 0;
		width: get_calc(969,$conW);
		// left: get_calc(340,$conW);
		// top: get_calc(-70,1052);
		// transform:translateY();
		margin-inline:auto;
		z-index: 10;
	}
	.sv-cloud{
		position: absolute;
		width: get_calc(1332,$conW);
		left: get_calc(520,$conW);
		// top: get_calc(849,$conH);
		bottom: get_calc(-326,$conH);
	}
}
// ==========================================================================
//----intro
//===========================================================================
.intro{
	position: relative;
	background: linear-gradient(to bottom, #dffdfe 0%, #b9fbfc 100%);
	$conW:1500;
	.yane{
		width: get_calc(904,$conW);
		margin-left:auto;
	}
	.intro-contents_wrap{
		position: relative;
		$conH:1008;
		container-type: inline-size;
	}
	.intro-text_area{
		position: absolute;
		width: getCqw(530,$conW);
		top: getCqw(250,$conW);
		left: getCqw(121,$conW);
	}
	h2{
		width: getCqw(493,$conW);
		margin-bottom: getCqw(57,$conW);
	}
	.link_wrap{
		margin-left:auto;
	}
	.intro-text{
		font-size: getCqw(16,$conW);
		--lh: calc(36/16);
		@include lhCrop();
		letter-spacing:-0.1em;
		font-weight: 500;
		color:var(--base-text-color02);
		margin-bottom: getCqw(60,$conW);
	}
	.link_btn{
		width: getCqw(250,$conW);
		border-radius:getCqw(30,$conW);
		.text{
			font-size: getCqw(19,$conW);
		}
		.arrow{
			width: getCqw(16,$conW);
			height: getCqw(16,$conW);
		}
	}
	.intro-house_area{
		position: relative;
		width: get_calc(928,$conW);
		margin-left: auto;
		$areaW:929;
		$areaH:1016;
		$illustW:1346;
		$illustH:1890;
		.house_wrap{
			position: relative;
			z-index: 5;
		}
		.intro-house-illust_area{
			position: absolute;
			width: get_calc(673,$areaW);
			top: 0;
			right: 0;
			z-index: 1;
		}
		.move-illust{
			position: absolute;
			z-index: 10;
		}
		.tori01{
			width: get_calc(210,$illustW);
			left: get_calc(372,$illustW);
			top: get_calc(185,$illustH);
			animation: bird-float 8s ease-in-out infinite;
			// &:before{
			// 	content:"";
			// 	display: block;
			// 	width: get_calc(166,210);
			// 	aspect-ratio:166/172;
			// 	position: absolute;
			// 	left: get_calc(4,210);
			// 	bottom: get_calc(-46,366);
			// 	z-index: 1;
			// 	background:url(../img/top/intro_tori01-kage.webp);
			// 	background-size:cover;
			// 	mix-blend-mode:color-burn;
			// }
			img{
				position: relative;
				animation: bird-sway 4.6s ease-in-out infinite;
				z-index: 10;
			}
		}
		.tori_kage01{
			width: get_calc(166,$illustW);
			left: get_calc(377,$illustW);
			top: get_calc(424,$illustH);
			animation: bird-float 8s ease-in-out infinite;
			mix-blend-mode:color-burn;
			z-index: 1;
			img{
				position: relative;
				animation: bird-sway 4.6s ease-in-out infinite;
				z-index: 10;
				transform-origin:top right;

			}
		}
		.tori02{
			width: get_calc(268,$illustW);
			left: get_calc(474,$illustW);
			top: get_calc(548,$illustH);
			animation: bird-float 6s ease-in-out infinite;
			img{
				position: relative;
				animation: bird-sway-rev 4.6s ease-in-out infinite;
				z-index: 10;
			}
		}
		.tori_kage02{
			width: get_calc(124,$illustW);
			left: get_calc(441,$illustW);
			top: get_calc(766,$illustH);
			animation: bird-float 6s ease-in-out infinite;
			mix-blend-mode:color-burn;
			z-index: 1;
			img{
				position: relative;
				animation: bird-sway-rev 4.6s ease-in-out infinite;
				z-index: 10;
			}
		}
		.hebi{
			width: get_calc(280,$illustW);
			left: get_calc(126,$illustW);
			bottom: get_calc(166,$illustH);
			z-index: 5;
			animation: anim-sway-left 4.6s ease-in-out infinite;
		}
		.duck-area{
			width: get_calc(264,$illustW);
			left: get_calc(583,$illustW);
			bottom: get_calc(521,$illustH);
			z-index: 4;
		}
		.pc{
			left: 0;
			top: 0;
			z-index: 20;
		}
		.duck{
			left: 0;
			top: 0;
			animation: anim-sway-right 3.5s ease-in-out infinite;
		}
		.man-area{
			width: get_calc(662,$illustW);
			left: 0;
			bottom: 0;
			z-index: 10;
		}
		.man{
			width: get_calc(490,662);
			right: 0;
			top: 0;
			// left: get_calc(169,$illustW);
			// bottom: get_calc(122,$illustH);
			transform-origin:left bottom;
			animation: bird-sway-s 1.7s ease-in-out infinite;
		}
		.girl{
			width: get_calc(208,$illustW);
			left: get_calc(892,$illustW);
			bottom: get_calc(254,$illustH);
			transform-origin:right bottom;
			animation: bird-sway-rev2 3.2s ease-in-out infinite;
		}
		.risu01{
			width: get_calc(230,$illustW);
			left: get_calc(540,$illustW);
			bottom: get_calc(374,$illustH);
			z-index: 5;
		}
		.risu02{
			width: get_calc(112,$illustW);
			left: get_calc(695,$illustW);
			bottom: get_calc(304,$illustH);
			animation: anim-bounce 2s ease-in-out infinite;
		}
		.tora{
			width: get_calc(244,$illustW);
			left: get_calc(969,$illustW);
			bottom: get_calc(139,$illustH);
			animation: anim-wiggle 4s linear infinite;
		}
	}
}

// ==========================================================================
//----project
//===========================================================================
.project{
	position: relative;
	background:#b9fbfc;
	$conW:1500;
	.inr{
		container-type:inline-size;
	}
	.title_area{
		position: absolute;
		width: getCqw(250,$conW);
		top: getCqw(468,$conW);
		left: getCqw(150,$conW);
		z-index: 10;
	}
	h2{
		width: getCqw(193,$conW);
		margin-inline:auto;
		margin-bottom: getCqw(30,$conW);
	}
	.en{
		display: block;
		font-size: getCqw(20,$conW);
		color:var(--base-color-wood);
		letter-spacing: 0.08em;
		text-align: center;
		margin-bottom: getCqw(50,$conW);
	}
	.link_btn{
		width: getCqw(250,$conW);
		border-radius:getCqw(30,$conW);
		.text{
			font-size: getCqw(19,$conW);
		}
		.arrow{
			width: getCqw(16,$conW);
			height: getCqw(16,$conW);
		}
	}
	.picks{
		position: absolute;
		width: calc(getCqw(975,$conW) + 30px );
		top: getCqw(423,$conW);
		left: calc(getCqw(525,$conW) - 30px);
		overflow: hidden;
		padding-left: 30px;
		box-sizing:border-box;
	}
	.splide__track{
		overflow: visible;
		padding-top: 60px;
	}
	.splide__slide{
		width: getCqw(360,$conW);
		margin-right:  getCqw(60,$conW);
	}
	.pick-card{
		transition: transform .35s ease;
		transform: translateY(0);
		will-change: transform;
		position: relative;
		width: 100%;
	}
	.is-next-up{
		.pick-card{
			transform: translateY(-60px);
		}
	}
	.pick-card__photo{
		position: relative;
		border:15px solid #fff;
		box-sizing:border-box;
		margin-bottom: getCqw(26,$conW);
		width: 100%s;
		aspect-ratio:360/260;
		@include transition(transform);
		img{
			border:6px solid #ebebeb;
		}
		&:after{
			content:"";
			display:block;
			position: absolute;
			width: get_calc(90,360);
			aspect-ratio:90/49;
			left:getCqw(280,$conW);
			top: getCqw(214,$conW);
			background-size:cover;
			z-index: 10;
		}
		&.uchi:after{
			background-image:url(../img/common/icon_uchirino.png);
		}
		&.soto:after{
			background-image:url(../img/common/icon_sotorino.png);
		}
	}
	.pick-card__title{
		font-size: getCqw(20,$conW);
		font-weight: 500;
		margin-bottom: getCqw(15,$conW);
	}
	.pick-card__tags{
		margin-bottom: getCqw(20,$conW);
		span{
			position: relative;
			display: inline-block;
			font-size: getCqw(14,$conW);
			font-weight: 500;
			margin-right:11px;
			&:after{
				content:"";
				display: block;
				width: 100%;
				height: 1px;
				position: absolute;
				left: 0;
				bottom: -1px;
				background:#d7b95b;
			}
		}
	}
	.pick-card__area{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: getCqw(30,$conW);
		padding: 0 getCqw(13,$conW);
		border-radius: 999px;
		background: #111;
		color: #fff;
		font-size: getCqw(14,$conW);
		font-weight: 500;

	}
	@include min-width(801){
		a:hover{
			.pick-card__photo{
				transform:rotate(5deg);
			}
			.pick-card__title{
				font-weight: 600;
			}
			.pick-card__tags span{
				font-weight: 600;
			}
		}
	}
	.risu{
		position: absolute;
		left:getCqw(50,$conW);
		bottom:getCqw(64,$conW);
		width:getCqw(418,$conW);
		z-index: 50;
		opacity:0;
		&.move{
			opacity:1;
			animation: move-x-left-to-right 3s ease-in-out both;
			img{
				animation: pyoko-bounce 3s ease-in-out both;}
		}
	}
}

// ===========================================================================
//----reform
// ===========================================================================
.reform{
	position: relative;
	$conW:1500;
	background:#b9fbfc;
	.inr{
		container-type:inline-size;
	}
	.reform-bath_area{
		position: relative;
		width: get_calc(494,$conW);
		margin-left: auto;
		$areaW:494;
		$areaH:1226;
		.illust_base{
			position: relative;
			z-index: 5;
		}
		.bubble{
			position: absolute;
			left: 0;
			top:getCqw(45,$conW);
			width: 100%;
			z-index: 10;
			animation: bird-float 8s ease-in-out infinite;
		}
		.wani{
			position: absolute;
			top: get_calc(871,$areaH);
			left: get_calc(222,$areaW);
			width: get_calc(356,$areaW);
			z-index: 7;
			--dist: 10px;
			--dur: 2s;
			animation: anim-move-lr var(--dur) ease-in-out infinite alternate;
		}
	}
	.reform-contents_area{
		position: absolute;
		width: get_calc(1006,$conW);
		left: 0;
		top: 0;
		$areaW:1006;
		$areaH:1226;
		.illust_base{
			position: relative;
			width: 100%;
			z-index: 5;
		}
		.reform-light_area{
			position: absolute;
			top: get_calc(133,$areaH);
			left: get_calc(55,$areaW);
			width: get_calc(826,$areaW);
			$lightW:826;
			z-index: 10;
			.light{
				position: absolute;
				top: 0;
				opacity:.2;
				--base:.2;
				animation: lightBlink 5s ease-in-out infinite;
			}
			.light01{
				width: get_calc(531,$lightW);
				left: 0;
			}
			.light02{
				width: get_calc(534,$lightW);
				left:  get_calc(156,$lightW);
				opacity:.3;
				--base:.3;
				animation-delay: 1.2s;
			}
			.light03{
				width: get_calc(516,$lightW);
				right: 0;
				animation-delay: 2.4s;
			}
		}
		.photo_area{
			position: absolute;
			top: get_calc(217,$areaH);
			left: get_calc(195,$areaW);
			width: get_calc(560,$areaW);
			z-index: 7;
		}
		h2{
			position: absolute;
			top: get_calc(472,$areaH);
			left: get_calc(100,$areaW);
			width: get_calc(532,$areaW);
			z-index: 7;
		}
		.text_area{
			position: absolute;
			top: get_calc(875,$areaH);
			left: get_calc(200,$areaW);
			width: get_calc(660,$areaW);
			z-index: 7;
			.n_txt{
				font-size: getCqw(16,$conW);
				--lh: calc(36/16);
				@include lhCrop();
				font-weight: 500;
				letter-spacing: 0;
				margin-bottom: getCqw(40,$conW);
			}
			.link_wrap{
				margin-left: auto;
			}
			.link_btn{
				width: getCqw(250,$conW);
				border-radius:getCqw(30,$conW);
				.text{
					font-size: getCqw(19,$conW);
				}
				.arrow{
					width: getCqw(16,$conW);
					height: getCqw(16,$conW);
				}
			}
		}
		.reform-loop{
			position: absolute;
			left: get_calc(775,$areaW);
			bottom: 0;
			width: get_calc(146,$areaW);
			height: get_calc(1173,$areaH);
			overflow: hidden;
			z-index: 6;
		}
		.reform-loop__inner{
			position: absolute;
			inset: 0;
			width: 100%;
			will-change: transform;
			animation: LoopY 14s linear infinite;
		}
		.reform-loop__img{
			display: block;
			width: 100%;
			height: auto;
		}
		.reform-loop__img.-second{
			margin-top: 0;
		}
	}
}


// ===========================================================================
//----reform
// ===========================================================================
.staff{
	position: relative;
	$conW:1500;
	background:#b9fbfc;
	.inr{
		container-type:inline-size;
	}
	.staff-kitchen_area{
		position: relative;
		width: get_calc(595,$conW);
		$areaW:595;
		$areaH:1223;
		.illust_base{
			position: relative;
			z-index: 5;
		}
		.table{
			position: absolute;
			left: 0;
			top: get_calc(612,$areaH);
			width: get_calc(490,$areaW);
			z-index: 10;
		}
		.men{
			position: absolute;
			width: get_calc(315,$areaW);
			left: get_calc(178,$areaW);
			top: get_calc(486,$areaH);
			z-index: 7;
			--dist: 10px;
			--dur: 2s;
			animation: anim-move-lr var(--dur) ease-in-out infinite alternate;
		}
		.kemuri{
			position: absolute;
			left: get_calc(365,$areaW);
			top: get_calc(252,$areaH);
			width: get_calc(162,$areaW);
			z-index: 10;
			--dist: 5px;
			--dur: 2.8s;
			animation: anim-move-lr var(--dur) ease-in-out infinite alternate;
			img{
				animation:Blink 5s ease-in-out infinite;
			}
		}
		.kuma{
			position: absolute;
			top: get_calc(560,$areaH);
			left: get_calc(50,$areaW);
			width: get_calc(124,$areaW);
			animation: anim-sway-left 4.6s ease-in-out infinite;
			transform-orighin:bottom left;
			z-index: 12;
		}
	}
	.staff-contents_area{
		position: absolute;
		width: get_calc(905,$conW);
		right: 0;
		top: 0;
		$areaW:906;
		$areaH:1223;
		overflow: hidden;
		.illust_base{
			position: relative;
			width: 100%;
			z-index: 5;
		}
		.staff-loop{
			position: absolute;
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
			top: get_calc(417,$areaH);
			z-index: 10;
			display: flex;
		}

		.staff-loop__inner{
			position: relative;
			display: flex;
			align-items: center;
			flex: 0 0 auto;
			gap:40px;
			will-change: transform;
			display: flex;
			animation: LoopX 35s infinite linear 1s both;
			&:nth-child(2){
				transform: translate3d(100%,0,0);
				animation-delay: 0s;
			}
		}
		.staff-loop__img{
			display: block;
			width: getCqw(200,$conW);
			height: auto;
			flex: 0 0 auto;
		}

		.risu{
			position: absolute;
			top: get_calc(800,$areaH);
			left:get_calc(820,$areaW);
			width: get_calc(119,$areaW);
			z-index: 6;
		}
		.kaidan{
			position: absolute;
			bottom: 0;
			right: 0;
			width: get_calc(311,$areaW);
			z-index: 10;
		}
		.text_area{
			position: absolute;
			top: get_calc(760,$areaH);
			left: get_calc(85,$areaW);
			width: get_calc(625,$areaW);
			z-index: 7;
			$textW:625;
			h2{
				position: relative;
				width: get_calc(327,$textW);
				margin-bottom: getCqw(55,$conW);
			}
			.n_txt{
				font-size: getCqw(16,$conW);
				--lh: calc(36/16);
				@include lhCrop();
				font-weight: 500;
				letter-spacing: 0;
				margin-bottom: getCqw(45,$conW);
			}
			.link_btn{
				width: getCqw(250,$conW);
				border-radius:getCqw(30,$conW);
				.text{
					font-size: getCqw(19,$conW);
				}
				.arrow{
					width: getCqw(16,$conW);
					height: getCqw(16,$conW);
				}
			}
		}
	}

}