@import "functions.scss";

// ==========================================================================
//	animation
// ==========================================================================

@keyframes kv-blackout{
	0%   { filter: brightness(1); }
	45%  { filter: brightness(0); }
	65%  { filter: brightness(0); }
	100% { filter: brightness(1); }
}
html.is-loading,
html.is-loading body{
	overflow: hidden;
	height: 100%;
}
html.is-loading::after{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 160px; /* 端末差の保険で大きめ */
	background:var(--base-bg-color);
	z-index: 1000000;
	pointer-events: none;
}


// ==========================================================================
//	load
// ==========================================================================
.load{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
    height: 100dvh;
    height: 100lvh;
	// min-height: 850px;
	inset: 0;
	z-index: 999999;
	opacity: 1;
	background:var(--base-bg-color);
	overflow: hidden;

// &:after{

// 	content: "";
// 	position: fixed;
// 	left: 0;
// 	right: 0;
// 	top: 100%;
// 	height: 140px; /* ちょい大きめに保険 */
// 	background:var(--base-bg-color);
// 	z-index: 999998;
// 	pointer-events: none;
// }
	// &:before{
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 24vh;
	// 	width: 100%;
	// 	height: 63.27vh;
	// 	background: var(--theme-color);
	// 	-webkit-clip-path: polygon(0 0, 100% 190px, 100% 100%, 0% calc(100% - 190px));
	// 	clip-path: polygon(0 0, 100% 190px, 100% 100%, 0% calc(100% - 190px));
	// 	z-index: 1;
	// }
	.logo-area{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 80%;
		max-width: 400px;
		aspect-ratio:491/457;
		margin:auto;
		z-index:10;
		@include max-width(800){
			transform:translateY(0);
		}
		figure{
			position: absolute;
			width:calc((var(--W)/491)*100%);
			top:calc((var(--T)/457)*100%);
		}
		.symbol.-top{
			width: 100%;
			top:0;
			transform:translateY(50%);
		}
		.symbol.-bottom{
			--W:441;
			top:auto;
			bottom:0;
			left: 0;
			right: 0;
			margin:auto;
			transform:translateY(-50%);
		}
		.text{
			--W:478;
			--T:125;
			left:calc((8/491)*100%);
			opacity:0;
			transition:opacity .4s var(--easeInOutQuad);
			transition-delay:2s;
		}
	}
	&.loaded {
		.symbol.-top{
			animation: load-symbol_top 2s var(--easeInOutQuad) both;
		}
		.symbol.-bottom{
			animation: load-symbol_bottom 2s var(--easeInOutQuad) both;
		}
		.text{
			opacity:1;
		}

		opacity: 0;
		transition: opacity .8s ease;
		transition-delay: 3.1s;
	}
	&.load.loaded02 {
		z-index: -9999;
		display: none;
	}
}

// ==========================================================================
//	kv
// ==========================================================================
#kv{
	position: relative;
	width: 100%;
	background: linear-gradient(to bottom, #b9fbfc 0%, #b9fbfc 13%, #ffffff 100%);
	$conW:1500;
	// $conH:900;
	$conH:995;
	z-index: 10;
	// &:after{
	// 	content:"";
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 100%;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: linear-gradient(to bottom, #b9fbfc 0%, #b9fbfc 13%, #dffdfe 100%);
	// 	z-index: -1;
	// }
	.inr{
		position: relative;
		container-type: inline-size;
		max-width:2000px;
		z-index: 10;
	}
	.index_head_link-area{
		position: absolute;
		width: 100%;
		height: 100%;
		$conW:1500;
		$conH:995;
		z-index: 50;
		.main-nav{
			position: absolute;
			display:flex;
			flex-direction:column;
			gap: 24px;
			align-items:flex-start;
			left: get_calc(47,$conW);
			bottom: get_calc(144,$conH);
		}
		.hv_ar{
			font-size: 16px;
			letter-spacing: 0.04em;
			color:var(--base-color-blue);
		}
		.copy{
			font-size: 11px;
			padding-left: 12px;
			color:var(--base-color-blue);
			margin-top: 25px;
			letter-spacing:0.13em;
		}

		.info-nav{
			position: absolute;
			display: grid;
			grid-template-columns: repeat(2, max-content);
			justify-content: center;
			gap: 12px;
			width: 168px;
			right: get_calc(60,$conW);
			top: get_calc(45,$conH);
		}
		.w_link{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-height: 30px;
			padding: 0 14px;
			background: #fff;
			border-radius: 999px;
			color: var(--base-text-color);
			font-size: 13px;
			letter-spacing: 0.04em;
			box-shadow: 1.4px 1.4px 6px 0 rgba(203, 250, 252, .8);
			@include transition((background, color));
			&:hover{
				background:var(--base-color-blue02);
				color:#fff;
			}
		}
		.contact_link{
			position: relative;
			@include fc;
			grid-column: 1 / -1;
			width: 100%;
			aspect-ratio:169/50;
			color: #fff;
			background:url(../img/common/head_contact-btn_bg.png);
			background-size:cover;
			&::after{
				content:"";
				position:absolute;
				inset:0;
				background:url(../img/common/head_contact-btn_bg-af.png);
				background-size:cover;
				background-position:center;
				opacity:0;
				transition: opacity .4s var(--easeOutSine);
				pointer-events:none;
			}

			&:hover::after{
				opacity:1;
			}
			img{
				position: relative;
				width: get_calc(83,169);
				z-index: 10;
			}
		}
	}
	h1{
		position: relative;
		z-index:50;
		margin-top:getCqw(50,1500);
		width: getCqw(202,1500);
		margin-inline:auto;
		margin-bottom: getCqw(50,$conW);
	}
	h2{
		position: relative;
		width: getCqw(721,$conW);
		margin-inline:auto;
		margin-bottom: getCqw(115,$conW);
		z-index:50;
	}
	.yane-area{
		position: relative;
		width: getCqw(969,$conW);
		aspect-ratio:969/440;
		margin-inline:auto;
		$W:969;
		$H:440;
		z-index: 5;
		h3{
			position: absolute;
			width: get_calc(513,969);
			left: get_calc(202,$W);
			top: get_calc(-87,$H);
		}
		.yane{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
		}
	}
	.blog-link_area{
		position: absolute;
		@include fl;
		width: get_calc(380,$conW);
		right: get_calc(50,$conW);
		bottom: get_calc(140,$conH);
		z-index: 120;
		.img_area{
			position: relative;
			width: get_calc(130,380);
			aspect-ratio:130/90;
			border:5px solid var(--base-color-white);
			box-sizing:border-box;
			@include transition((transform,opacity));
			&:before{
				content:"";
				display: block;
				position: absolute;
				left: 10px;
				top: 10px;
				width: 100%;
				height: 100%;
				opacity:.1;
				background:var(--base-color-green);
				@include transition(opacity);
			}
			img{
				z-index: 10;
			}
		}
		.text_area{
			@include fch;
			flex:1;
			margin-left: get_calc(40,380);
		}
		.en{
			display: block;
			font-size: 14px;
			margin-bottom: 12px;
			@include transition(color);
		}
		p{
			font-size: 15px;
			font-weight: 500;
			--lh:calc(24/15);
			@include lhCrop();
			@include transition(color);
		}
		@include min-width(801){
			&:hover{
				.img_area{
					transform:translate(10px,10px);
					opacity:.9;
					&:before{
						opacity:0;
					}
				}
				.en,p{
					color:var(--base-color-blue);
				}
			}
		}
	}
	.bird{
		position: absolute;
		z-index: 20;
		animation: bird-float 6s ease-in-out infinite;
		will-change: transform;
	}
	.bird01{
		width: get_calc(320,$conW);
		left:0;
		top: get_calc(-84,$conH);
		img{
			animation: bird-sway 4.6s ease-in-out infinite;
			will-change: transform;
			transform-origin: 50% 60%;
		}
	}
	.bird02{
		width: get_calc(240,$conW);
		right: get_calc(25,$conW);
		bottom: get_calc(258,$conH);
		animation: bird-float-rev 4s ease-in-out infinite;
		z-index: 30;
		img{
			animation: bird-sway-rev 2s ease-in-out infinite;
			will-change: transform;
			transform-origin: 50% 60%;
		}
	}
	.bg-leaf_area{
		position: absolute;
		left: 0;
		top: get_calc(86,$conH);
		width: 100%;
		height: get_calc(669,$conH);
		z-index: 25;
		$leafH:669;
		$seasons: winter, autumn, summer, spring;
		$leafCount: 5;
		$leafDir: "../img/top/";
		.bg-leaf{
			position: absolute;
			background-size: cover;
		}
		.leaf01{
			height: get_calc(66,$leafH);
			aspect-ratio:59/66;
			left: get_calc(1457,$conW);
			top: 0;
		}
		.leaf02{
			height: get_calc(90,$leafH);
			aspect-ratio:89/90;
			left: get_calc(1181,$conW);
			top: get_calc(143,$leafH);
			transform-origin: left 60%;
			will-change: transform;
			animation: leafRotate var(--leaf-rot-dur, 30s) ease-in-out infinite
		}
		.leaf03{
			height: get_calc(57,$leafH);
			aspect-ratio:58/57;
			left: get_calc(1066,$conW);
			top: get_calc(359,$leafH);
		}
		.leaf04{
			height: get_calc(88,$leafH);
			aspect-ratio:82/88;
			left: get_calc(215,$conW);
			top: get_calc(425,$leafH);
		}
		.leaf05{
			height: get_calc(50,$leafH);
			aspect-ratio:51/50;
			left:0;
			bottom: 0;
		}
		@each $season in $seasons{
			&.-#{$season}{
				@for $i from 1 through $leafCount{
					.leaf0#{$i}{
						background-image: url("#{$leafDir}#{$season}_fv-leaf0#{$i}.png");
					}
				}
			}
		}

	}
	.bg-cloud_area{
		position: absolute;
		width: 100%;
		height: get_calc(275,$conH);
		left: 0;
		top: get_calc(219,$conH);
		z-index: 1;
		.bg-cloud{
			position: absolute;
			right: 0;
			width: auto;
			height: get_calc(97,275);
			will-change: transform;
			transform: translate3d(0,0,0);
			--duration: 80s;
			--gap: 120px;
			animation: cloudFlow var(--duration) linear infinite;
			img{
				width: auto;
				height: 100%;
			}
		}
		.bgcloud01{
			top: 0;
			animation-delay:-45s;
		}
		.bgcloud02{
			bottom: 0;
			animation-delay:-10s;
			--duration:60s;
		}
	}
	.cloud{
		position: absolute;
		z-index: 5;
	}
	.cloud01{
		width: get_calc(640,$conW);
		left: get_calc(1100,$conW);
		top: get_calc(-60,$conH);
		opacity:.9;
		animation: cloudFloat1 15s linear infinite;
	}
	.cloud02{
		width: get_calc(1092,$conW);
		left: get_calc(-550,$conW);
		bottom: get_calc(200,$conH);
		opacity:.8;
		animation: cloudFloat3 8s linear infinite;
	}
	.cloud03{
		width: get_calc(1550,$conW);
		left: get_calc(880,$conW);
		bottom: get_calc(0,$conH);
		animation: cloudFloat1 8s linear infinite;
		z-index: 20;
	}
	.cloud04{
		width: get_calc(1093,$conW);
		right: get_calc(839,$conW);
		top: get_calc(939,$conH);
		animation: cloudFloat1 8s linear infinite;
		z-index: 20;
	}
	.cloud05{
		width: get_calc(1533,$conW);
		left: get_calc(560,$conW);
		// top: get_calc(1158,$conH);
		top: get_calc(1458,$conH);
		animation: cloudFloat3 15s linear infinite;
		z-index: 20;
	}
	.cloud06{
		width: get_calc(1197,$conW);
		// top: get_calc(1461,$conH);
		top: get_calc(1761,$conH);
		right: get_calc(582,$conW);
		z-index: 25;
		animation: cloudFloat1 8s linear infinite;
	}

	.town_bg{
		position: absolute;
		left: 0;
		bottom: get_calc(57,$conH);
		width: 100%;
		height: 392px;
		background:url(../img/top/kv_town.webp) center repeat-x;
		background-size:1752px 392px;
		z-index: 1;
	}

}

// ==========================================================================
//	sv
//===========================================================================
.sv{
	position: relative;
	width: 100%;
	// aspect-ratio:1500/1052;
	aspect-ratio:1500/1752;
	max-height:1763px;
	$conW:1500;
	// $conH:900;
	$conH:1052;
	z-index: 5;
	padding-bottom: 300px;
	background: linear-gradient(to bottom, #fff 0%, #fff 13%, #dffdfe 100%);
	.inr{
		position: relative;
		container-type: inline-size;
		max-width:2000px;
		height: 100%;
		z-index: 10;
	}
	.sv-house{
		position:sticky;
		top: 0;
		width: get_calc(969,$conW);
		// left: get_calc(340,$conW);
		// top: get_calc(-70,1052);
		// transform:translateY();
		margin-inline:auto;
		z-index: 10;
	}
	.sv-cloud{
		position: absolute;
		width: get_calc(1332,$conW);
		left: get_calc(520,$conW);
		// top: get_calc(849,$conH);
		bottom: get_calc(-326,$conH);
	}

}
// ==========================================================================
//----intro
//===========================================================================
.intro{
	position: relative;
	background: linear-gradient(to bottom, #dffdfe 0%, #b9fbfc 100%);
	$conW:1500;
	@include min-width(2000){
		.-m2000{
			-webkit-mask-image: linear-gradient(
			to right,
			rgba(0,0,0,1) 0%,
			rgba(0,0,0,1) 88%,
			rgba(0,0,0,0) 100%
		);
		mask-image: linear-gradient(
			to right,
			rgba(0,0,0,1) 0%,
			rgba(0,0,0,1) 88%,
			rgba(0,0,0,0) 100%
		);
		}
	}

	.yane{
		width: get_calc(904,$conW);
		margin-left:auto;
	}
	.intro-contents_wrap{
		position: relative;
		$conH:1008;
		container-type: inline-size;
	}
	.intro-text_area{
		position: absolute;
		width: getCqw(530,$conW);
		top: getCqw(250,$conW);
		left: getCqw(121,$conW);
	}
	h2{
		width: getCqw(493,$conW);
		margin-bottom: getCqw(57,$conW);
	}
	.link_wrap{
		margin-left:auto;
	}
	.intro-text{
		font-size: getCqw(16,$conW);
		--lh: calc(36/16);
		@include lhCrop();
		letter-spacing:-0.1em;
		font-weight: 500;
		color:var(--base-text-color02);
		margin-bottom: getCqw(60,$conW);
	}
	.link_btn{
		width: getCqw(250,$conW);
		border-radius:getCqw(30,$conW);
		.text{
			font-size: getCqw(19,$conW);
		}
		.arrow{
			width: getCqw(16,$conW);
			height: getCqw(16,$conW);
		}
	}
	.intro-house_area{
		position: relative;
		width: get_calc(928,$conW);
		margin-left: auto;
		$areaW:929;
		$areaH:1016;
		$illustW:1346;
		$illustH:1890;
		.house_wrap{
			position: relative;
			z-index: 5;
		}
		.intro-house-illust_area{
			position: absolute;
			width: get_calc(673,$areaW);
			top: 0;
			right: 0;
			z-index: 1;
		}
		.move-illust{
			position: absolute;
			z-index: 10;
		}
		.tori01{
			width: get_calc(210,$illustW);
			left: get_calc(372,$illustW);
			top: get_calc(185,$illustH);
			animation: bird-float 8s ease-in-out infinite;
			img{
				animation: bird-sway 4.6s ease-in-out infinite;
			}
		}
		.tori02{
			width: get_calc(268,$illustW);
			left: get_calc(474,$illustW);
			top: get_calc(548,$illustH);
			animation: bird-float 6s ease-in-out infinite;
			img{
				animation: bird-sway-rev 4.6s ease-in-out infinite;
			}
		}
		.hebi{
			width: get_calc(280,$illustW);
			left: get_calc(126,$illustW);
			bottom: get_calc(166,$illustH);
			z-index: 5;
			animation: anim-sway-left 4.6s ease-in-out infinite;
		}
		.duck-area{
			width: get_calc(264,$illustW);
			left: get_calc(583,$illustW);
			bottom: get_calc(521,$illustH);
			z-index: 4;
		}
		.pc{
			left: 0;
			top: 0;
			z-index: 20;
		}
		.duck{
			left: 0;
			top: 0;
			animation: anim-sway-right 3.5s ease-in-out infinite;
		}
		.man-area{
			width: get_calc(662,$illustW);
			left: 0;
			bottom: 0;
			z-index: 10;
		}
		.man{
			width: get_calc(490,662);
			right: 0;
			top: 0;
			// left: get_calc(169,$illustW);
			// bottom: get_calc(122,$illustH);
			transform-origin:left bottom;
			animation: bird-sway-s 1.7s ease-in-out infinite;
		}
		.girl{
			width: get_calc(208,$illustW);
			left: get_calc(892,$illustW);
			bottom: get_calc(254,$illustH);
			transform-origin:right bottom;
			animation: bird-sway-rev2 3.2s ease-in-out infinite;
		}
		.risu01{
			width: get_calc(230,$illustW);
			left: get_calc(540,$illustW);
			bottom: get_calc(374,$illustH);
			z-index: 5;
		}
		.risu02{
			width: get_calc(112,$illustW);
			left: get_calc(695,$illustW);
			bottom: get_calc(304,$illustH);
			animation: anim-bounce 2s ease-in-out infinite;
		}
		.tora{
			width: get_calc(244,$illustW);
			left: get_calc(969,$illustW);
			bottom: get_calc(139,$illustH);
			animation: anim-wiggle 4s linear infinite;
		}
	}



}



// ==========================================================================
//---inter-loop_slide
//===========================================================================
.inter-loop_slide_wrap{
	position: relative;
	&:before{
		content:"";
		@include parallelogram(290px,180px,"right");
		left: 0;
		bottom: -1px;
		background:var(--base-color-blue);
	}
	.inter-loop_slide{
		--W:100%;
		--H:620px;
		--imgW:460px;
		--gap:3rem;
		--speed:30s;
		img{
			border-radius:10px;
			border:1px solid var(--base-border-color);
			box-sizing:border-box;
		}
	}
	.shishishi{
		position: absolute;
		right: -48px;
		top: -94px;
		width: 210px;
		--delay:.6s;
		z-index:20;
		&:before{
			left: -56px;
			top: -8px;
			--b_width: 85px;
			--b_aspect: 85 / 38;
			--b_path: url(../img/top/inter-loop_shishishi-bubble.png);
		}
	}
}

@include max-width(800){
	.inter-loop_slide_wrap{
		&:before{
			@include parallelogram(130px,80px,"right");
		}
		.inter-loop_slide{
			--H:310px;
			--imgW:230px;
			--gap:1.5rem;
			--speed:30s;
		}
		.shishishi{
			position: absolute;
			right: -2.5rem;
			top: -5.9rem;
			width: 11.5rem;
			&:before{
				left: -4.1rem;
				top: .22px;
				--b_width: 5.2rem;
			}
		}
	}

}

// ===========================================================================
//----data
// ===========================================================================
.data{
	position: relative;
	padding-top: 18rem;
	background:var(--base-color-blue);
	&:before{
		content:"";
		display:block;
		position: absolute;
		bottom:-1px;
		left: 0;
		width: 100%;
		height: 190px;
		height: clamp(100px, 12.6vw, 190px);
		background:var(--base-bg-color);
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		z-index:5;
	}
	@include max-width(1050){
		overflow: clip;
		&:before{
			height: get_vw(100,750);
			z-index:30;
		}
	}
	@include max-width(800){
		padding-top: 6.5rem;
		background:var(--base-color-blue);
	}

	.loop-text{
		left: 0;
		top: 15.5rem;
		--W:100%;
		--H:116px;
		--imgW:3187px;
		--gap:5rem;
		--speed:50s;
		@include max-width(800){
			top: 5rem;
			--H:58px;
			--imgW:1593px;
			--gap:2.5rem;
			--speed:50s;
		}
	}

	.text_area{
		position: relative;
		max-width: 1260px;
		padding-top: 295px;
		padding-bottom: 197px;
		z-index:5;
		@include max-width(1050){
			padding-bottom: 0;
		}
		@include max-width(800){
			padding-top: 33vw;
		}
	}

	h2{
		position: relative;
		width: get_calc(635,1260);
		max-width:535px;
		margin-bottom: 4rem;
		z-index:5;
		@include max-width(1050){
			width: get_calc(590,750);
			margin-inline:auto;
		}
		@include max-width(1050){
			margin-bottom: 3rem;
		}
		@include max-width(800){
			width: get_calc(580,675);
		}
	}

	.dq-icon{
		--dqL:-5rem;
		--dqT:-6.7rem;
		@include max-width(800){
			--dqL:-2rem;
			--dqT:-3.5rem;
		}
	}

	.data-text_bg{
		position: absolute;
		left: -240px;
		top:0;
		z-index:1;
		width: 1040px;
		aspect-ratio:2080/1448;
		@include max-width(1050){
			left: 50%;
			transform:translateX(-54.5%);
		}
		@include max-width(800){
			width: get_calc(1143,675);
		}
	}

	.label{
		position: absolute;
		left: 37.5rem;
		top: 230px;
		width: 225px;
		z-index:10;
		@include max-width(1050){
			left: get_calc(425,750);
		}
		@include max-width(800){
			top: 26vw;
			width: get_calc(278,675);
			// width: 139px;
		}
	}

	.text-btn_wrap{
		position: relative;
		width: get_calc(700,1260);
		max-width:600px;
		@include fch;
		z-index:5;
		@include max-width(1050){
			display: block;
			width: get_calc(590,750);
			margin: 0 auto 6rem;
		}
		@include max-width(800){
			display: block;
			width: get_calc(580,675);
			margin-bottom: -2.5rem;
		}
		.n_txt.-large{
			flex:1;
			@include max-width(1050){
				margin-bottom: 3rem;
			}
			@include max-width(800){
				font-size: var(--fz13);
			}
		}
		.link_btn.-large{
			@include max-width(800){
				padding: 19px 28px 17px 34px;
				gap: 8px;
				.en{
					font-size: var(--fz13);
				}
			}
		}
	}

	.panel_area{
		position: absolute;
		left: 0;
		bottom: 0;
		@include max-width(1050){
			position: relative;
			bottom: auto;
			margin-inline:auto;
		}
	}

	.card_area{
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 10;
		height: 100%;
		pointer-events: none;
		@include min-width(1051){
			clip-path: polygon(0 0, 100% 0%, 100% calc(100% - clamp(99px, 12.4vw, 188px)), 0% 100%);
		}
		@include max-width(1050){
			position: relative;
			bottom: auto;
			margin-inline:auto;
		}
		.inr{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 9rem;
			margin:auto;
			max-width: 1260px;
			@include max-width(1050){
				position: relative;
				bottom: auto;
			}
		}
	}

	.data_cards{
		@include grid(2,3rem);
		// width: 490px;
		width: clamp(300px, 38.888%, 490px);
		margin-left: auto;
		--duration: 7s;
		--stagger: .5s;
		--i:0;
		@include max-width(1050){
			@include grid(2,2rem);
			width: get_calc(580,750);
			max-width:490px;
			margin-inline:auto;
		}
		@include max-width(800){
			@include grid(2,20px);
			width: get_calc(580,675);
		}
		li{
			position: relative;
			display: grid;
			grid-auto-rows: 1fr;
			gap: 3rem;
			width:100%;
			@include max-width(800){
				gap:1.5rem;

			}
			&:first-child{
				transform:translateY(6rem);
				@include max-width(800){
					transform:translateY(5rem);
				}
			}
		}
		.card_img{
			position: relative;
			border-radius: 10px;
			border:1px solid var(--base-border-color);
			overflow: hidden;
			box-sizing:border-box;
			aspect-ratio:460/560;
			transform-style: preserve-3d;
			perspective: 900px;
			animation: flipY var(--duration) linear infinite;
			animation-delay: calc(var(--i, 0) * var(--stagger));
			will-change: transform;
		}
		.card02{--i:8;}
		.card03{--i:10;}
		.card04{--i:6;}
	}

}

// ===========================================================================
//----visit-journal
// ===========================================================================
.visit-journal{
	position: relative;
	padding-top: 8.5rem;
	padding-bottom: 7rem;
	z-index:30;
	@include max-width(800){
		padding-top: 3rem;
		padding-bottom: 5.2rem;
	}
	&:after{
		content:"";
		@include triangle(190px,"tr");
		bottom:-1px;
		left: 0;
		background:var(--base-color-white);
		z-index:30;
	}
	.inr{
		@include min-width(801){
			min-height:750px;
		}
		@include max-width(1050){
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			flex-direction: row-reverse;
		}
	}

	h2{
		position: absolute;
		right: 1rem;
		top: -13rem;
		width: 234px;
		width: clamp(180px,15.19vw,234px);
		transform:translateY(50px);
		opacity:0;
		transition:transform 0.4s var(--easeOutCubic),opacity .4s ease;
		.dq-icon{
			--dqL:100%;
			--dqT:-6rem;
			transform:rotate(180deg);
		}
		.footprints{
			position: absolute;
			left: 200px;
			bottom: 0;
			width: 132px;
			clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
		}
		&.move{
			transform:translateY(0);
			opacity:1;
			.footprints{
				animation: footprints 1.2s steps(4, end) forwards;
				animation-delay:.4s;
			}
		}
	}

@include max-width(1050){
	h2{
		position: relative;
		right: auto;
		top: auto;
		width: 234px;
		margin-right: 6rem;
		.dq-icon{
			--dqL:100%;
			--dqT:-6rem;
			transform:rotate(180deg);
		}
		.footprints{
			position: absolute;
			left: 20rem;
			bottom: 0;
			width: 13.2rem;
			clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
		}
	}
}
@include max-width(800){
	h2{
		width: get_calc(234,750);
		max-width:234px;
		margin-right: 4vw;
		margin-bottom: 3rem;
		.dq-icon{
			--dqL:calc(100% - 3px);
			--dqT:-3rem;
		}
		.footprints{
			left:get_calc(212,234);
			width: 6.5rem;
		}
	}

}

	.contents_area{
		width: get_calc(2000,2660);
		@include fl;
		align-items: flex-end;
		@include max-width(1050){
			display: block;
			flex:1;
			padding-right: 6rem;
			box-sizing:border-box;
		}
		@include max-width(800){
			width:calc(100% - min(31.2%, 234px) - 4vw);
			padding-left: 1rem;
			padding-right: 3.5rem;
			box-sizing:border-box;
		}
	}
	.paren-label{
		width: 180px;
		@include max-width(1050){
			margin:0 0 5rem 1.3rem;
		}
		@include max-width(800){
			margin-bottom: 3rem;
		}
	}
	.n_txt{
		flex:1;
		max-width:660px;
		--lh:calc(72/34);
		@include lhCrop();
		@include max-width(800){
			.n_txt{line-height: 2;}
		}
	}

	.visit-journal_img{
		position: relative;
		width: get_calc(2000,2660);
		margin-top: 5rem;
		@include max-width(1050){
			width: 100%;
			margin-top: 7rem;
		}
		@include max-width(800){
			margin-top: 4.5rem;
		}
	}

	h3{
		@include fcw;
		position: absolute;
		right: 0;
		bottom: -7rem;
		width: 250px;
		width: clamp(190px,16.23vw,250px);
		height: 590px;
		padding-top: 5rem;
		background:var(--base-color-blue);
		border-radius:10px;
		border:1px solid var(--base-border-color);
		box-sizing:border-box;
	}
	.v_txt{
		font-size: var(--fz28);
		line-height: calc(82/56);
		color:var(--base-color-white);
		font-weight: 700;
		height: 270px;
		margin-bottom: 2.5rem;
	}
	.name{
		position: relative;
		font-size: var(--fz16);
		line-height: calc(48/32);
		font-weight: 500;
		color:#d3d3d3;
	}

@include max-width(1050){
	h3{
		display: block;
		position: relative;
		right:auto;
		bottom:auto;
		width:92.8%;
		height: auto;
		padding: 5rem;
		border-left:none;
		transform:translate(-12vw,-4rem);
		border-radius:0 10px 10px 0;
		z-index:30;
	}
	.v_txt{
	    writing-mode: horizontal-tb;
		font-feature-settings: normal;
		vertical-align: baseline;
		-webkit-writing-mode: horizontal-tb;
		-ms-writing-mode: lr-tb;
		-o-writing-mode: horizontal-tb;
		height: auto;
		margin-bottom: 2.5rem;
	}
	.name{
		position: relative;
		font-size: var(--fz16);
		line-height: calc(48/32);
		font-weight: 500;
		color:#d3d3d3;
	}
}
@include max-width(800){
	h3{
		width:92.8%;
		// padding: 3rem;
		padding: 3rem 2.4rem 3rem 3rem;
		transform:translate(-12vw,-4rem);
		border-radius:0 5px 5px 0;
	}
	.v_txt{
		font-size: var(--fz15);
		line-height: calc(40/30);
		margin-bottom: 1.5rem;
	}
	.name{
		font-size: var(--fz11);
	}

}


	.link_wrap{
		position: relative;
		display: table;
		transform:translate(-5rem,-7rem);
		z-index:20;
	}
@include max-width(1050){
	.link_wrap{
		transform:translate(0,-10rem);
		z-index:40;
	}
}
@include max-width(800){
	.link_wrap{
		transform:translate(0,-6.5rem);
	}
}

	.shishishi.-btm{
		width: 237px;
		position: absolute;
		left: calc(75.1879699248% - 180px);
		bottom: 1rem;
		--delay: .8s;
		z-index:20;
		@include max-width(1050){
			width: 20rem;
			position: absolute;
			left: -7vw;
			bottom: -14rem;
		}
		@include max-width(800){
			width: 9.4rem;
			position: absolute;
			left: -7vw;
			bottom: -7.5rem;
		}
		&:before{
			@include min-width(1051){
				left: -44px;
				top: -20px;
				--b_width:105px;
				--b_aspect:210/76;
				--b_path:url(../img/top/visit-journal_shishishi-bubble.png);
			}
		}
	}
	.shishishi.-tab{
		@include max-width(1050){
			position: absolute;
			width: 2.1rem;
			right: -8rem;
			top: -4rem;
			z-index:20;
			pointer-events:none;
			&:before{
				left: -4.4rem;
				top: -2rem;
				--b_width:10.5rem;
				--b_aspect:210/76;
				--b_path:url(../img/top/visit-journal_shishishi-bubble.png);
			}
		}
		@include max-width(800){
			width: 12.4rem;
			right: -2.5rem;
			top: -4rem;
			&:before{
				left: -2.3rem;
				top: -.5rem;
				--b_width:6.5rem;
			}
		}
	}
}


// ==========================================================================
//----news
// ==========================================================================
.news{
	position: relative;
	padding-top: 295px;
	padding-bottom: 10rem;
	z-index:10;
	@include max-width(1050){
		padding-top: 195px;
	}
	@include max-width(800){
		padding-top: 115px;
		padding-bottom: 5rem;
	}
	&:before{
		content:"";
		@include triangle(195px,"tl");
		top: 0;
		right: 0;
		background:var(--base-color-blue);
		z-index:5;
	}
	.news-inr{
		@include fl;
		@include max-width(1050){
			display: block;
			width: get_calc(700,750);
		}
	}
	.news_title-area{
		position: relative;
		width:get_calc(600,2840);
		min-width:250px;
		padding-top: 9.5rem;
		padding-left: 8rem;
		box-sizing:border-box;
		h2{
			position: relative;
			width: 100%;
			max-width: 221px;
			margin-bottom: 9rem;
		}
		.dq-icon{
			--dqL:-5rem;
			--dqT:-4rem;
		}
		.paren-label{
			position: absolute;
			left: 18rem;
			top: 5.3rem;
		}
		.news_cate-list{
			margin-bottom: 10rem;
			li + li{margin-top: 2rem;}
			a{
				position: relative;
				@include fch;
				gap:1.5rem;
				font-size: var(--fz16);
				font-weight: 500;
				&:before{
					content:"";
					display:block;
					width: 15px;
					height: 8px;
					border-radius:8px;
					background:var(--base-color-blue);
				}
			}
		}
	}
@include max-width(1050){
	.news_title-area{
		width: get_calc(660,700);
		margin-inline:auto;
		padding-left: 2rem;
		h2{
			width: clamp(118px,31.4vw,221px);
			margin-bottom: 4rem;
		}
		.dq-icon{
			--dqL:-3rem;
			--dqT:-3.5rem;
		}
		.paren-label{
			left: 32vw;
			top: 7.5rem;
		}
		.news_cate-list{
			width: get_calc(620,660);
			margin-bottom: 5rem;
			li{
				display:inline-block;
				margin-right: 1.5rem;
			}
		}
		.link_wrap{
			position: absolute;
			right: 0;
			top: 8.5rem;
			width: 230px;
		}
	}
}
@include max-width(800){
	.news_title-area{
		padding-top: 0;
		padding-left: 1.5rem;
		.paren-label{
			// left: calc(2rem + clamp(100px,26.6vw,200px,));
			top: -1.8rem;
		}
		.dq-icon{
			--dqL:-2rem;
			--dqT:-2.5rem;
		}
		.news_cate-list{
			margin-bottom: 2rem;
			a{
				gap:.5rem;
				font-size: var(--fz10);
				&:before{
					content:"";
					display:block;
					width: .9rem;
					height: .5rem;
					border-radius:.5rem;
				}
			}
		}
		.link_wrap{
			right: 0;
			top:-1rem;
			width: 120px;
		}
	}
}

	.news_kiji-area{
		width: get_calc(1960,2840);
	}

@include min-width(1051){
	.news_kiji-area{
		max-width:calc(100% - 120px);
	}
}
@include max-width(1050){
	.news_kiji-area{
		width: 100%;
	}
}

	.news-kiji_link{
		position: relative;
		display:flex;
		background:#fff;
		padding:2.5rem 4rem;
		border-radius:10px;
		box-sizing:border-box;
		+ .news-kiji_link{
			margin-top: 2rem;
		}
		.img-area{
			position: relative;
			width: get_calc(520,1800);
			padding-left: 2rem;
		}
		.v_txt{
			font-size: 1.2rem;
			letter-spacing: 0.08em;
			position: absolute;
			left: 0;
			top: 0;
		}
		.img{
			position: relative;
			aspect-ratio:480/280;
			border:1px solid var(--base-border-color);
			border-radius:10px;
			overflow: hidden;
		}
		.text-area{
			position: relative;
			flex:1;
			padding-top: 1.5rem;
			padding-right: 100px;
			margin-left: 3rem;

		}
		.cate{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 auto;
			background:var(--base-color-blue);
			padding:0 2.2rem;
			height: 30px;
			border:1px solid var(--base-border-color);
			color:#fff;
			font-size: var(--fz13);
			font-weight: 500;
			border-radius:15px;
			margin-bottom: 2.5rem;
		}
		.n_txt{
			--lh:calc(56/32);
			@include lhCrop();
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			}
		.only-arrow{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin:auto;
		}
	}
@include max-width(800){
	.news-kiji_link{
		padding:2rem 1.5rem 2rem 1.2rem;
		border-radius:10px;
		+ .news-kiji_link{
			margin-top: 1rem;
		}
		.img-area{
			width: get_calc(200,650);
			padding-left: 1.3rem;
		}
		.v_txt{
			font-size: var(--fz7);
		}
		.img{
			aspect-ratio:170/130;
		}
		.text-area{
			padding-top: 1.5rem;
			padding-right: 40px;
			margin-left: 1.5rem;
		}
		.cate{
			padding:0 .9rem;
			height: 1.7rem;
			font-size: var(--fz9);
			margin-bottom: 1.4rem;
		}
		.n_txt{
			--lh:calc(23/11);
			font-size: var(--fz11);
		}
	}
}

}
