@import "functions.scss";

@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@100;400;700&display=swap');


/* ==========================================================================
	voice-fv
========================================================================== */
.voice-fv{
	position: relative;
	padding-top: var(--head-mt);
	.inr{
		width: get_calc(1440,1500);
		$conW:1440;
		container-type: inline-size;
		padding-top: 160px;
		padding-bottom: 160px;
		h1{
			position: relative;
			z-index: 20;
			width: get_calc(226,$conW);
			margin-left: get_calc(70,$conW);
			margin-bottom: 3rem;
			opacity: 0;
			-webkit-mask-image: linear-gradient(to right, #000 0 100%);
			mask-image: linear-gradient(to right, #000 0 100%);
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: left top;
			mask-position: left top;
			-webkit-mask-size: 0% 100%;
			mask-size: 0% 100%;

			transition:
				opacity .4s ease,
				-webkit-mask-size 1.2s cubic-bezier(.22, 1, .36, 1),
				mask-size 1.2s cubic-bezier(.22, 1, .36, 1);
			&.move{
				opacity: 1;
				-webkit-mask-size: 100% 100%;
				mask-size: 100% 100%;
			}
		}
		.title-text{
			@include fch;
			width: 100%;
		}
		.en{
			font-size: getCqw(20,$conW);
			color:var(--base-text-color02);
			margin-right: 2.5rem;
			letter-spacing: 0.08em;
		}
		.ja{
			font-size: getCqw(60,$conW);
			font-weight: 500;
			color:var(--base-btn-color03);
		}
		.pan{
			position: relative;
			margin-left: get_calc(70,$conW);
			z-index: 20;
			color:var(--base-btn-color03);
			transition-delay:.8s;
			a{
				position: relative;
				display:inline-block;
				font-size: max(13px,getCqw(13,$conW));
				margin-right: 38px;
				@include transition((color));
				font-weight: 500;
				color:var(--base-btn-color03);
				&:after{
					content:"›";
					display:block;
					position: absolute;
					left: calc(100% + 15px);
					top: 50%;
					transform: translateY(-54%);
					font-size: max(22px,getCqw(22,$conW));
					line-height: 1;
				}
			}
			p{
				display: inline-block;
				font-size: max(13px,getCqw(13,$conW));
				font-weight: 500;
				text-decoration: underline;
			}
		}
		.cloud{
			display: block;
			position: absolute;
			z-index: 15;
			&.-left{
				width: get_calc(942,$conW);
				right: get_calc(993,$conW);
				bottom: getCqw(-30,$conW);
			}
			&.-right{
				width: get_calc(1439,$conW);
				left: get_calc(930,$conW);
				bottom: getCqw(-60,$conW);
			}
		}
		.town_bg{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 142px;
			background:url(../img/news/fv-town.webp) center repeat-x;
			background-size:1580px 142px;
			z-index: 1;
		}
		&.-detail{
			padding-bottom: 100px;
			.day{
				position: relative;
				display: inline-block;
				margin-left: get_calc(70,$conW);
				font-size: getCqw(18,$conW);
				margin-right: getCqw(10,$conW);
				@include transition(color);
				color:var(--base-text-color02);
				z-index: 20;
			}
			.cate{
				position: relative;
				display:inline-block;
				font-size: getCqw(14,$conW);
				font-weight: 500;
				padding: 5px getCqw(13,$conW) 7px;
				background:var(--base-color-black);
				color:var(--base-color-white);
				border-radius: getCqw(13,$conW);
				transform:translateY( getCqw(-3,$conW));
				z-index: 20;
				@include min-width(801){
					&:hover{
						background:var(--base-btn-color01-hv);
					}
				}
			}
			h1{
				font-size: getCqw(54,$conW);
				line-height: calc(128/108);
				color:var(--base-btn-color03);
				font-weight: 500;
				width: get_calc(1200,$conW);
				transform: scaleX(.75);
				transform-origin: left center;
				margin-top: getCqw(25,$conW);
			}
		}
	}
	@include max-width(1050){
		.inr{
			width: get_calc(640,800);
			$conW:640;
			padding-top: getCqw(90,$conW);
			padding-bottom: getCqw(180,$conW);
			h1{
				width: get_calc(206,$conW);
				margin-left: 0;
				margin-bottom: getCqw(40,$conW);
			}
			.en{
				font-size:  min(18px,getCqw(22,$conW));
				margin-right: 1.2rem;
				min-width: 60px;
			}
			.ja{
				font-size: min(40px,getCqw(74,$conW));
			}
			.pan{
				margin-left:0;
				a{
					font-size: min(15px,getCqw(24,$conW));
					margin-right: 28px;
					&:after{
						left: calc(100% + 12px);
						font-size: min(23px,getCqw(42,$conW));
						transform: translateY(-59%);
					}
				}
				p{
					font-size: min(15px,getCqw(24,$conW));
				}
			}
			.cloud{
				&.-left{
					width: get_calc(951,$conW);
					right: get_calc(310,$conW);
					bottom: getCqw(-140,$conW);
				}
				&.-right{
					width: get_calc(1442,$conW);
					left: get_calc(212,$conW);
					bottom: getCqw(-80,$conW);
				}
			}
			.town_bg{
				height: 75px;
				background-size:835px 75px;
				bottom: 30px;
			}
			&.-detail{
				padding-bottom: getCqw(100,$conW);
				.day{
					margin-left: 0;
					font-size: getCqw(28,$conW);
					margin-right: getCqw(28,$conW);
				}
				.cate{
					font-size: getCqw(26,$conW);
					padding: 5px getCqw(20,$conW) 7px;
					border-radius: getCqw(25,$conW);
					transform:translateY( getCqw(-3,$conW));
				}
				h1{
					font-size: getCqw(74,$conW);
					line-height: calc(90/74);
					width: 130%;
					transform: scaleX(.75);
					transform-origin: left center;
					margin-top: getCqw(20,$conW);
				}
			}
		}
	}
}

/* ==========================================================================
	intro
========================================================================== */
.intro{
	position: relative;
	background: linear-gradient(to bottom, #faffff 0%, #faffff  13%,#b9fbfc 43%, #effefe 100%);
	padding-bottom: min(195px,13.333vw);
	z-index: 20;
	.inr{
		$conW:980;
		container-type: inline-size;
		z-index: 20;
		.text_wrap{
			position: relative;
			@include fl;
			padding-top:getCqw(110,$conW);
				padding-bottom: getCqw(200,$conW);
			z-index: 30;
			h2{
				width: max(250px,get_calc(309,$conW));
				padding-top: getCqw(50,$conW);
			}
			p{
				width: get_calc(540,980);
				font-size:getCqw(16,$conW);
				line-height: calc(80/32);
				letter-spacing: -0.08em;
				font-weight: 500;
			}
		}
		.bird{
			position: absolute;
			animation: bird-float 6s ease-in-out infinite;
			z-index: 10;
			img{
				animation: bird-sway 4.6s ease-in-out infinite;
				will-change: transform;
				transform-origin: 50% 60%;
			}
		}
		.bird01{
			width: get_calc(238,$conW);
			top: getCqw(-280,$conW);
			right:getCqw(-175,$conW);

		}
		.bird02{
			width: get_calc(281,$conW);
			top: getCqw(-20,$conW);
			right:getCqw(-320,$conW);
			-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
		}
		.cloud{
			position: absolute;
			z-index: 5;
		}
		.cloud01{
			width: get_calc(981,$conW);
			top: getCqw(150,$conW);
			right:getCqw(870,$conW);
		}
		.cloud02{
			width: get_calc(1177,$conW);
			top: getCqw(320,$conW);
			left:getCqw(640,$conW);
		}
	}
	.intro-loop{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		z-index: 20;
	}
	.intro-loop__inner{
		position: relative;
		display: flex;
		align-items: flex-start;
		// flex: 0 0 auto;
		gap:60px;
		will-change: transform;
		animation: LoopX 90s infinite linear 1s both;
	}
	.intro-loop__img{
		display: block;
		width: 980px;
		height: auto;
		flex: 0 0 auto;
		border-radius:20px;
		&:last-child{margin-right: 60px;}
		&:nth-child(odd){
			margin-top: 95px;
		}
	}
	.town-bg{
		position: absolute;
		left: 0;
		bottom: 110px;
		width: 100%;
		height: 755px;
		z-index: 5;
		background:url(../img/partner/intro-town_bg.webp) center bottom;
		background-size:3252px 755px;
		opacity:.4;
		-webkit-mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
		mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
	}
	.btm_cloud{
		position: absolute;
		z-index: 15;
		width: 1434px;
		left: calc(50% + 90px);
		bottom:50px;
		z-index: 20;
	}

	@include max-width(1050){
		padding-bottom: 115px;
		.inr{
			width: get_calc(660,800);
			$conW:660;
			.text_wrap{
				display: block;
				@include fl;
				padding-top:getCqw(140,$conW);
				padding-bottom:getCqw(260,$conW);
				h2{
					width: max(220px,get_calc(440,$conW));
					padding-top: 0;
					padding-bottom: getCqw(145,$conW);
				}
				p{
					width: 100%;
					font-size:getCqw(26,$conW);
					line-height: calc(66/28);
				}
			}
			.bird01{
				width: get_calc(231,$conW);
				top: getCqw(-22,$conW);
				right:getCqw(-55,$conW);

			}
			.bird02{
				width: get_calc(273,$conW);
				top: getCqw(210,$conW);
				right:getCqw(-150,$conW);
			}
			.cloud01{
				width: get_calc(980,$conW);
				top: getCqw(750,$conW);
				right:getCqw(400,$conW);
				opacity:.6;
			}
			.cloud02{
				width: get_calc(980,$conW);
				top: getCqw(210,$conW);
				left:getCqw(320,$conW);
			}
		}
		.intro-loop{
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
			z-index: 30;
		}
		.intro-loop__inner{
			gap:30px;
			animation: LoopX 50s infinite linear 1s both;
		}
		.intro-loop__img{
			width: 490px;
			border-radius:10px;
			&:last-child{margin-right: 30px;}
			&:nth-child(odd){
				margin-top: 40px;
			}
		}
		.town-bg{
			bottom: 215px;
			height: 302px;
			background-size:1300px 302px;
		}
		.btm_cloud{
			position: absolute;
			z-index: 15;
			width: 1434px;
			left: calc(50% + 90px);
			bottom:50px;
			z-index: 20;
		}
	}
}



/* ==========================================================================
	voice
========================================================================== */
.voice{
	position: relative;
	z-index: 30;
	margin:0 auto;
	background: linear-gradient(to bottom, #effefe, var(--base-bg-color05));

	.inr{
		position: relative;
		container-type: inline-size;
		$conW:1300;
		.illust_area{
			position: absolute;
			width: get_calc(511,$conW);
			right: getCqw(-120,$conW);
			top:getCqw(-270,$conW);
			aspect-ratio:511/698;
			.duck{
				position: absolute;
				left: 0;
				bottom: get_calc(170,698);
				width: get_calc(185,511);
				--W:212;
				--H:186;
				&:after{
					--bW:199;
					--bT:-86;
					--bL:-70;
					--imgURL: url("../img/partner/voice-duck-sb.png");
					aspect-ratio:199/65;
					transition-delay:.4s;
				}
			}
			.craftsman{
				position: absolute;
				top: 0;
				right: 0;
				width: get_calc(431,511);
			}
		}
		h2{
			width: get_calc(169,$conW);
			margin:0 auto getCqw(25,$conW);
		}
		.en-tit{
			display: block;
			text-align: center;
			font-size: getCqw(20,$conW);
			margin:0 auto getCqw(150,$conW);
			color:var(--base-color-green15);
		}
		.partner-box{
			position: relative;
			@include fl;
			align-items:flex-start;
			flex-wrap: nowrap;//折り返さない
				margin-bottom: getCqw(230,$conW);
			.img_area{
				width: get_calc(680,$conW);
				transform:translateX(getCqw(-180,$conW));
				.img img{
					position: relative;
					border-radius:0 10px 10px 0;
					z-index: 10;
				}
				.cloud{
					position: absolute;
					z-index: 20;
				}
				&:after{
					content: "";
					display: block;
					position: absolute;
					left: 0;
					bottom:getCqw(-130,$conW);
					width: get_calc(1120,1360);
					aspect-ratio: 1120 / 600;
					border-radius: 0 10px 10px 0;
					background: url(../img/partner/voice-img_bg01.webp);
					background-size: cover;
					z-index: 1;
				}
			}
			.text_area{
				width: get_calc(560,$conW);
			}
			.bubble_area{
				position: relative;
			}
			.bubble_box{
				color:var(--text-color);
				background:var(--color);
				border-radius:20px;
				padding:getCqw(40,$conW) getCqw(43,$conW);
				box-sizing:border-box;
				box-shadow: 4px 4px 0 var(--base-bubble-bg03);
				.balloon_tail{
					position: absolute;
					bottom: -14px;
					width: 6px;
					height: 18px;
					transform:rotate(45deg);
					z-index: 10;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: var(--color);
						z-index: 2;
					}
					&:after{
						content: "";
						position: absolute;
						top: 0;
						left: 5px;
						width: 100%;
						height: 100%;
						background: var(--base-bubble-bg03);
						z-index: 1;
					}
					&.-br{
						right: 45px;
						transform:rotate(-45deg);
						&:after{
							top: 5px;
							left: 0px;
						}
					}
					&.-bl{
						left: 45px;

					}
				}
				.n_txt{
					font-size:getCqw(16,$conW);
					line-height: calc(68/32);
					font-weight: 500;
					letter-spacing: -0.06em;
				}
				&.-white{
					--text-color:var(--base-text-color04);
					--color:var(--base-color-white);
				}
				&.-green{
					--text-color:var(--base-color-white);
					--color:var(--base-color-green10);
				}
				&.-green02{
					--text-color:var(--base-color-white);
					--color:var(--base-color-green13);
				}
			}
			.people-box{
				position: absolute;
				width: getCqw(120,$conW);
				box-shadow: 4px 4px 0 #a8c4c4;
				border-radius:10px;
				z-index: 20;
				> img{
					border-radius:10px;
				}
				.name{
					position: absolute;
					display: table;
					left: 0;
					right: 0;
					bottom: 0;
					margin:auto;
					width: get_calc(210,240);
					transform:translateY(50%);
					background:var(--base-bg-color12);
					border-radius:10px;
					box-shadow: 4px 4px 0 #a8c4c4;
				}
			}
			.-bubble01{
				margin-top: getCqw(60,$conW);
				transform:translateX(getCqw(-100,$conW));
				.people-box{
					right: getCqw(-100,$conW);
					top: getCqw(-60,$conW);
				}
			}
			.-bubble02{
				margin-top: getCqw(70,$conW);
				.people-box{
					left: getCqw(-100,$conW);
					top: getCqw(130,$conW);
				}
			}
			.-bubble03{
				transform:translateX(getCqw(70,$conW));
				.people-box{
					left: getCqw(-100,$conW);
					top: getCqw(80,$conW);
				}
			}
			.-bubble04{
				transform:translateX(getCqw(150,$conW));
				margin-top: getCqw(70,$conW);
				.people-box{
					left: getCqw(-100,$conW);
					top: getCqw(130,$conW);
				}
			}
			.-bubble05{
				margin-top: getCqw(70,$conW);
				transform:translateX(getCqw(70,$conW));
				.people-box{
					left: getCqw(-100,$conW);
					top: getCqw(80,$conW);
				}
			}
			.-bubble06{
				transform:translateX(getCqw(150,$conW));
				margin-top: getCqw(70,$conW);
				.people-box{
					left: getCqw(-100,$conW);
					top: getCqw(130,$conW);
				}
			}
			.-bubble07{
				margin-top: getCqw(60,$conW);
				transform:translateX(getCqw(-100,$conW));
				.people-box{
					right: getCqw(-100,$conW);
					top: getCqw(-60,$conW);
				}
			}
			.-bubble08{
				margin-top: getCqw(80,$conW);
				.people-box{
					left: getCqw(-100,$conW);
					top: getCqw(70,$conW);
				}
			}
			&.-rev{
				flex-direction:row-reverse;
				.img_area{
					width: get_calc(460,$conW);
					transform:translateX(0);
					img{
						border-radius:10px;
					}
					&:after{
						content: "";
						display: block;
						position: absolute;
						left: get_calc(120,460);
						bottom:getCqw(-130,$conW);
						width: get_calc(900,920);
						aspect-ratio: 900 / 620;
						border-radius: 10px;
						background: url(../img/partner/voice-img_bg02.webp);
						background-size: cover;
						z-index: 1;
					}
				}
			}
			&.-box01{
				.cloud{
					width: get_calc(1091,680);
					right: get_calc(80,680);
					top:get_calc(-290,480);
					opacity:.95;
				}
			}
			&.-box02{
				margin-bottom:getCqw(100,$conW);
				.cloud{
					width: get_calc(961,460);
					left: get_calc(144,460);
					top:get_calc(510,620);
				}
			}
			&.-box03{
				margin-bottom: 0;
				.cloud{
					width: get_calc(1091,680);
					right: get_calc(250,680);
					top:get_calc(320,480);
					opacity:.95;
				}
			}
		}

	}
	.inr.-w980{
		position: relative;
		container-type: inline-size;
		$conW:980;
		h3{
			width: get_calc(310,$conW);
			margin-top: getCqw(240,$conW);
			margin-bottom: getCqw(60,$conW);
		}
		.n_txt{
			font-size:getCqw(16,$conW);
			line-height: calc(80/32);
			font-weight: 500;
			letter-spacing: -0.06em;
			margin-bottom: getCqw(140,$conW);
		}
		.risu{
			position: absolute;
			width: get_calc(212,980);
			left: get_calc(625,980);
			bottom: getCqw(120,$conW);
			--W:212;
			--H:186;
			&:after{
				--bW:179;
				--bT:-78;
				--bL:-65;
				--imgURL: url("../img/partner/voice-btm_risu-sb.png");
				aspect-ratio:179/65;
				transition-delay:.4s;
			}
		}
		.kumonchu{
			position: absolute;
			width: get_calc(431,980);
			left: get_calc(740,980);
			bottom: getCqw(-80,$conW);
			--W:431;
			--H:587;
			&:after{
				--bW:164;
				--bT:0;
				--bL:-40;
				--imgURL: url("../img/partner/voice-btm_kumonchu-sb.png");
				aspect-ratio:164/65;
			}
		}
	}
	.voice-loop{
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		z-index: 30;
		+ .voice-loop{
			margin-top: 30px;
		}
		&.-loop02{
			.voice-loop__inner{
				animation: LoopX-rev 90s infinite linear 1s both;
			}
		}
	}
	.voice-loop__inner{
		position: relative;
		display: flex;
		align-items: flex-start;
		// flex: 0 0 auto;
		gap:30px;
		will-change: transform;
		animation: LoopX 90s infinite linear 1s both;
	}
	.voice-loop__img{
		display: block;
		width: 230px;
		height: auto;
		flex: 0 0 auto;
		&:last-child{margin-right: 30px;}

	}
	@include min-width(1051){
		.voice-loop.-loop04{
			display: none;
		}
	}

	@include max-width(1050){
		padding-bottom: 3rem;
		.inr{
			width: get_calc(680,800);
			$conW:680;
			.illust_area{
				position: relative;
				width: get_calc(612,$conW);
				right: auto;
				top:auto;
				margin-left: auto;
				margin-bottom: getCqw(150,$conW);
				.duck{
					position: absolute;
					left: 0;
					bottom: get_calc(170,698);
					width: get_calc(220,612);
					--W:220;
					--H:238;
					&:after{
						--bW:328;
						--bT:-130;
						--bL:-80;
						--imgURL: url("../img/partner/voice-duck-sb-sp.png");
						aspect-ratio:328/109;
					}
				}
				.craftsman{
					position: relative;
					width: get_calc(517,612);
					margin-left: auto;
				}
			}
			h2{
				position: relative;
				width: get_calc(218,$conW);
				z-index: 20;
			}
			.en-tit{
				position: relative;
				font-size: getCqw(24,$conW);
				margin:0 auto getCqw(80,$conW);
				z-index: 20;
			}
			.partner-box{
				display: block;
				margin-bottom: getCqw(100,$conW);
				.img_area{
					width: get_calc(740,$conW);
					transform:translateX(getCqw(-60,$conW));
					margin-bottom: getCqw(200,$conW);
					.img img{
						border-radius:0 10px 10px 0;
					}
					.cloud{
						position: absolute;
						z-index: 20;
					}
					&:after{
						bottom:getCqw(-100,$conW);
						width: get_calc(620,740);
						aspect-ratio: 620 / 300;
						border-radius: 0 10px 10px 0;
					}
				}
				.text_area{
					width: 100%;
				}
				.bubble_box{
					width: get_calc(560,$conW);
					border-radius:10px;
					padding:getCqw(50,$conW) getCqw(75,$conW) getCqw(50,$conW) getCqw(40,$conW);
					.balloon_tail{
						bottom: -10px;
						width: 5px;
						height: 15px;
						&:after{
							left: 4px;
						}
						&.-br{
							right: 24px;
							&:after{
								top: 4px;
							}
						}
						&.-bl{
							left: 24px;
						}
					}
					.n_txt{
						font-size:getCqw(26,$conW);
						line-height: calc(54/26);
					}
					&.-bubble02,&.-bubble03,&.-bubble05,&.-bubble08{
						padding:getCqw(50,$conW) getCqw(40,$conW) getCqw(50,$conW) getCqw(72,$conW);
					}
				}
				.people-box{
					width: getCqw(160,$conW);
					box-shadow: 3px 3px 0 #a8c4c4;
					border-radius:5px;
					> img{
						border-radius:5px;
					}
					.name{
						width: get_calc(140,160);
						box-shadow: 3px 3px 0 #a8c4c4;
					}
				}
				.-bubble01{
					margin-top: 0;
					transform:translateX(0);
					.people-box{
						right: 0;
						top: 50%;
						transform:translateY(-50%);
					}
				}
				.-bubble02{
					margin-left: auto;
					margin-top: getCqw(100,$conW);
					.people-box{
						left: 0;
						top: 50%;
						transform:translateY(-50%);
					}
				}
				.-bubble03{
					transform:translateX(0);
					margin-top: getCqw(200,$conW);
					.bubble_box{
						margin-left: auto;
					}
					.people-box{
						left:0;
						top: 50%;
						transform:translateY(-50%);
					}
				}
				.-bubble04{
					transform:translateX(0);
					margin-top: getCqw(100,$conW);
					width: 100%;
					.bubble_box{
						padding:getCqw(50,$conW) getCqw(45,$conW);
					}
					.people-box{
						left: 0;
						top: 50%;
						transform:translateY(-50%);
					}
				}
				.-bubble05{
					transform:translateX(0);
					margin-top: getCqw(100,$conW);
					.bubble_box{
						margin-left: auto;
					}
					.people-box{
						left:0;
						top: 50%;
						transform:translateY(-50%);
					}
				}
				.-bubble06{
					transform:translateX(0);
					margin-top: getCqw(100,$conW);
					width: 100%;
					.bubble_box{
						padding:getCqw(50,$conW) getCqw(45,$conW);
					}
					.people-box{
						left: getCqw(-100,$conW);
						top: 0;
						bottom: 0;
						margin:auto;
					}
				}
				.-bubble07{
					transform:translateX(0);
					margin-top: getCqw(100,$conW);
					.people-box{
						right:0;
						top: 50%;
						transform:translateY(-50%);
					}
				}
				.-bubble08{
					transform:translateX(0);
					margin-top: getCqw(100,$conW);
					.bubble_box{
						margin-left: auto;
					}
					.people-box{
						left:0;
						top: 50%;
						transform:translateY(-50%);
					}
				}
				&.-rev{
					.img_area{
						width: get_calc(560,$conW);
						margin:0 auto;
						img{
							border-radius:10px;
						}
						&:after{
							left: get_calc(140,540);
							bottom:getCqw(-100,$conW);
							width: get_calc(540,560);
							aspect-ratio: 540 / 370;
							border-radius: 10px;
						}
					}
				}
				&.-box01{
					z-index: 10;
					.cloud{
						width: get_calc(1091,680);
						right: get_calc(80,680);
						top:get_calc(-290,480);
						opacity:.95;
					}
				}
				&.-box02{
					margin-bottom:getCqw(200,$conW);
					z-index: 5;
					.cloud{
						width: get_calc(1143,680);
						left: get_calc(110,680);
						top:auto;
						bottom:get_calc(650,740);
					}
				}
				&.-box03{
					margin-bottom: 0;
					.cloud{
						width: get_calc(1158,680);
						right: get_calc(105,680);
						top:auto;
						bottom:get_calc(445,520);
					}
				}
			}

		}
		.inr.-w980{
			width: get_calc(640,800);
			$conW:640;
			h3{
				position: relative;
				width: get_calc(442,$conW);
				margin-top: getCqw(600,$conW);
				margin-bottom: getCqw(130,$conW);
				z-index: 20;
			}
			.n_txt{
				position: relative;
				font-size:getCqw(28,$conW);
				line-height: calc(66/28);
				margin-bottom: getCqw(150,$conW);
				z-index: 20;
			}
			.risu{
				width: get_calc(230,$conW);
				left: get_calc(286,$conW);
				bottom: auto;
				top: getCqw(412,$conW);
				--W:229;
				--H:200;
				&:after{
					--bW:318;
					--bT:-85;
					--bL:-240;
					--imgURL: url("../img/partner/voice-btm_risu-sb.png");
					aspect-ratio:318/110;
				}
			}
			.kumonchu{
				position: absolute;
				width: get_calc(517,$conW);
				left: get_calc(365,$conW);
				bottom: auto;
				top: getCqw(116,$conW);
				--W:517;
				--H:704;
				&:after{
					--bW:278;
					--bT:13;
					--bL:-145;
					--imgURL: url("../img/partner/voice-btm_kumonchu-sb.png");
					aspect-ratio:278/110;
				}
			}
		}
		.voice-loop{
			+ .voice-loop{
				margin-top: 20px;
			}
			&.-loop02{
				.voice-loop__inner{
					animation: LoopX-rev 50s infinite linear 1s both;
				}
			}
			&.-loop04{
				.voice-loop__inner{
					animation: LoopX-rev 42.86s infinite linear 1s both;
				}
			}
		}
		.voice-loop__inner{
			gap:20px;
			animation: LoopX 50s infinite linear 1s both;
		}
		.voice-loop__img{
			width: 135px;
			&:last-child,&:nth-child(7){margin-right: 20px;}

		}


	}
}

