@charset "UTF-8";
/* ==========================================================================
	transition
========================================================================== */
/* ==========================================================================
	行数でトリミング
========================================================================== */
/* ==========================================================================
	コンテナクエリ
========================================================================== */
:root {
  --base-max-width:1920;
  --base-pc-width:1500;
  --base-sp-width:400;
  --vwPC: calc(100vw / 1500);
  --vwSP: calc(100vw / 400);
  --easeInQuad:cubic-bezier(.55, .085, .68, .53);
  --easeInQuint:cubic-bezier(0.0, 0, 0.99, 0);
  --easeOutQuad:cubic-bezier(0.23, 1, 0.32, 1);
  --easeOutQuint:cubic-bezier(.25, .46, .45, .94);
  --easeOutSine:cubic-bezier(0.39, 0.575, 0.565, 1);
  --easeOutCubic:cubic-bezier(0.215, 0.61, 0.355, 1);
  --easeInOutQuad:cubic-bezier(0.45, 0, 0.55, 1);
  --easeInOutCubic:cubic-bezier(0.65, 0, 0.35, 1);
  --easePopUp:cubic-bezier(0.17, 0.88, 0.30, 1.28);
  --easeInCirc:cubic-bezier(0.55, 0, 1, 0.45);
  --theme-color:#b93937;
  --base-text-color:#29221f;
  --base-text-color02:#1e525a;
  --base-bg-color:#e8ebed;
  --base-bg-color02:#eeeeee;
  --base-bg-color03:#c3ced5;
  --base-bg-color04:#f5f5f5;
  --base-color-green:#32929e;
  --base-color-green02:#9dd1d0;
  --base-color-wood:#6d240e;
  --base-color-blue:#14a5b6;
  --base-color-blue02:#32a4ab;
  --base-color-blue03:#37a9af;
  --base-color-mizu:#00b4b2;
  --base-color-orange:#e78a14;
  --base-color-black:#29221f;
  --base-color-black02:#131313;
  --base-color-white:#fff;
  --base-color-white02:#f1f3f4;
  --base-color-gray:#888;
  --base-color-gray02:#777;
  --base-color-gray03:#8a979f;
  --base-color-gray04:#e5e5e5;
  --base-color-gray05:#a4a4a4;
  --base-color-gray06:#ccc;
  --base-color-gray07:#b4c0c8;
  --base-color-gold:#977f4b;
  --base-color-silver:#97a4ad;
  --base-color-bronze:#664e1a;
  --base-border-color:#000;
  --base-border-color02:#d2d2d2;
  --base-btn-color01:#1f858b;
  --base-btn-color01-hv:#137a80;
  --base-btn-color02:#c93c02;
  --base-btn-color02-hv:#ba3600;
  --base-btn-color03:#3da4a3;
  --base-btn-color01-hv:#137a80;
  --hanten:scale(-1, -1);
  --hantenX:scale(-1, 1);
  --hantenY:scaleY(-1);
  --transition-scale:transform 0.8s var(--easeOutCubic);
  --gothic: "Zen Kaku Gothic New","Zen Kaku Gothic Antique",sans-serif;
  --delay: 0s;
}

:root {
  --head-mt:100px;
}

@media screen and (min-width: 801px) {
  :root {
    --vwPC: calc(100vw / 1500);
    --fz8: max(.8rem, 8px);
    --fz9: max(.9rem, 9px);
    --fz10: max(1rem, 9px);
    --fz11: max(1.1rem, 10px);
    --fz12: max(1.2rem, 11px);
    --fz13: max(1.3rem, 12px);
    --fz14: max(1.4rem, 12px);
    --fz15: max(1.5rem, 13px);
    --fz16: max(1.6rem, 14px);
    --fz17: max(1.7rem, 15px);
    --fz18: max(1.8rem, 16px);
    --fz19: max(1.9rem, 17px);
    --fz20: max(2.0rem, 18px);
    --fz21: max(2.1rem, 18px);
    --fz22: max(2.2rem, 18px);
    --fz23: max(2.3rem, 20px);
    --fz24: max(2.4rem, 20px);
    --fz25: max(2.5rem, 21px);
    --fz26: max(2.6rem, 22px);
    --fz27: max(2.7rem, 23px);
    --fz28: max(2.8rem, 24px);
    --fz29: max(2.9rem, 25px);
    --fz30: max(3rem, 26px);
    --fz32: max(3.2rem, 28px);
    --fz33: max(3.3rem, 29px);
    --fz34: max(3.4rem, 30px);
    --fz35: max(3.5rem, 31px);
    --fz36: max(3.6rem, 32px);
    --fz37: max(3.7rem, 33px);
    --fz38: max(3.8rem, 34px);
    --fz39: max(3.9rem, 35px);
    --fz40: max(4rem, 36px);
    --fz41: max(4.1rem, 37px);
    --fz42: max(4.2rem, 38px);
    --fz44: max(4.4rem, 40px);
    --fz45: max(4.5rem, 41px);
    --fz46: max(4.6rem, 42px);
    --fz48: max(4.8rem, 44px);
    --fz50: max(5rem, 48px);
    --fz52: max(5.2rem, 48px);
    --fz54: max(5.4rem, 50px);
    --fz55: max(5.5rem, 51px);
    --fz56: max(5.6rem, 52px);
    --fz58: max(5.8rem, 54px);
    --fz59: max(5.9rem, 55px);
    --fz60: max(6rem, 56px);
    --fz64: max(6.4rem, 60px);
    --fz72: max(7.2rem, 68px);
    --fz78: max(7.8rem, 74px);
    --fz96: max(9.6rem, 90px);
  }
}
@media screen and (max-width: 800px) {
  :root {
    --vwSP: calc(100vw / 375);
    --fz6: clamp(.6rem, calc(6 * var(--vwSP)), .8rem);
    --fz7: clamp(.7rem, calc(7 * var(--vwSP)), .9rem);
    --fz8: clamp(.8rem, calc(8 * var(--vwSP)), 1rem);
    --fz9: clamp(.9rem, calc(9 * var(--vwSP)), 1.1rem);
    --fz10: clamp(1rem, calc(10 * var(--vwSP)), 1.2rem);
    --fz11: clamp(1.1rem, calc(11 * var(--vwSP)), 1.3rem);
    --fz12: clamp(1.2rem, calc(12 * var(--vwSP)), 1.4rem);
    --fz13: clamp(1.3rem, calc(13 * var(--vwSP)), 1.4rem);
    --fz14: clamp(1.4rem, calc(14 * var(--vwSP)), 1.6rem);
    --fz15: clamp(1.5rem, calc(15 * var(--vwSP)), 1.7rem);
    --fz16: clamp(1.6rem, calc(16 * var(--vwSP)), 1.8rem);
    --fz17: clamp(1.7rem, calc(17 * var(--vwSP)), 1.9rem);
    --fz18: clamp(1.8rem, calc(18 * var(--vwSP)), 2rem);
    --fz19: clamp(1.9rem, calc(19 * var(--vwSP)), 2.1rem);
    --fz20: clamp(2rem, calc(20 * var(--vwSP)), 2.2rem);
    --fz21: clamp(2.1rem, calc(21 * var(--vwSP)), 2.3rem);
    --fz22: clamp(2.2rem, calc(22 * var(--vwSP)), 2.4rem);
    --fz23: clamp(2.3rem, calc(23 * var(--vwSP)), 2.5rem);
    --fz24: clamp(2.4rem, calc(24 * var(--vwSP)), 2.6rem);
    --fz25: clamp(2.5rem, calc(25 * var(--vwSP)), 2.7rem);
    --fz26: clamp(2.6rem, calc(26 * var(--vwSP)), 2.8rem);
    --fz27: clamp(2.7rem, calc(27 * var(--vwSP)), 2.9rem);
    --fz28: clamp(2.8rem, calc(28 * var(--vwSP)), 3rem);
    --fz30: clamp(3rem, calc(30 * var(--vwSP)), 3.2rem);
    --fz31: clamp(3.1rem, calc(31 * var(--vwSP)), 3.3rem);
    --fz32: clamp(3.2rem, calc(32 * var(--vwSP)), 3.5rem);
    --fz33: clamp(3.3rem, calc(33 * var(--vwSP)), 3.5rem);
    --fz34: clamp(3.4rem, calc(34 * var(--vwSP)), 3.7rem);
    --fz35: clamp(3.5rem, calc(35 * var(--vwSP)), 3.9rem);
    --fz37: clamp(3.7rem, calc(37 * var(--vwSP)), 4.1rem);
    --fz36: clamp(3.6rem, calc(36 * var(--vwSP)), 4rem);
    --fz38: clamp(3.8rem, calc(38 * var(--vwSP)), 4.2rem);
    --fz40: clamp(4rem, calc(40 * var(--vwSP)), 4.4rem);
    --fz42: clamp(4.2rem, calc(42 * var(--vwSP)), 4.6rem);
    --fz44: clamp(4.4rem, calc(44 * var(--vwSP)), 4.8rem);
    --fz45: clamp(4.5rem, calc(45 * var(--vwSP)), 4.9rem);
    --fz47: clamp(4.7rem, calc(47 * var(--vwSP)), 5.1rem);
    --fz48: clamp(4.8rem, calc(48 * var(--vwSP)), 5.2rem);
    --fz49: clamp(4.9rem, calc(49 * var(--vwSP)), 5.3rem);
    --fz51: clamp(5.1rem, calc(51 * var(--vwSP)), 5.6rem);
    --fz56: clamp(5.6rem, calc(56 * var(--vwSP)), 6rem);
    --fz64: clamp(6.4rem, calc(64 * var(--vwSP)), 6.8rem);
  }
}
/* ==========================================================================
	wp関連
========================================================================== */
.pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  --color:#fff;
  --t-color:#000;
}
.pagination > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--color);
  border-radius: 50%;
  font-size: var(--fz20);
  font-weight: 500;
  color: var(--t-color);
}
.pagination .current {
  --color:var(--theme-color);
  --t-color:#fff;
  pointer-events: none;
}
.pagination .icon {
  width: 16px;
  height: 11px;
}
.pagination .icon img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.pagination .page-next .icon {
  -webkit-transform: var(--hanten);
          transform: var(--hanten);
}
@media screen and (min-width: 801px) {
  .pagination a:hover {
    --color:var(--theme-color);
    --t-color:#fff;
  }
  .pagination a:hover .svg path {
    fill: #fff;
  }
}

@media screen and (max-width: 800px) {
  .pagination {
    gap: 1rem;
  }
  .pagination > * {
    width: 40px;
    height: 40px;
  }
  .pagination .page-next .icon {
    -webkit-transform: var(--hanten);
            transform: var(--hanten);
  }
}
@media screen and (max-width: 800px) and (min-width: 801px) {
  .pagination a:hover {
    --color:var(--theme-color);
    --t-color:#fff;
  }
  .pagination a:hover .svg path {
    fill: #fff;
  }
}
.d-pagination {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  border-top: 1px solid var(--base-border-color02);
  border-bottom: 1px solid var(--base-border-color02);
  margin-top: 12rem;
}
.d-pagination .link {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.d-pagination .link .img {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.d-pagination .link .img .fit_img {
  -o-object-position: top center;
     object-position: top center;
  -webkit-transition: -webkit-transform 0.8s var(--easeOutCubic);
  transition: -webkit-transform 0.8s var(--easeOutCubic);
  transition: transform 0.8s var(--easeOutCubic);
  transition: transform 0.8s var(--easeOutCubic), -webkit-transform 0.8s var(--easeOutCubic);
}
.d-pagination .link .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
}
.d-pagination .link .en-mincho {
  position: relative;
  padding-left: 26px;
  font-size: var(--fz16);
  color: var(--base-color-black03);
  -webkit-transition: color 0.4s var(--easeOutCubic);
  transition: color 0.4s var(--easeOutCubic);
}
.d-pagination .link .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--theme-color);
  border-radius: 50%;
  -webkit-transition: background 0.4s var(--easeOutCubic);
  transition: background 0.4s var(--easeOutCubic);
}
.d-pagination .link .name {
  font-size: var(--fz16);
  line-height: 1.25;
  font-weight: 500;
  margin-top: 10px;
  -webkit-transition: color 0.4s var(--easeOutCubic);
  transition: color 0.4s var(--easeOutCubic);
  max-width: 190px;
}
.d-pagination .link.-next {
  left: auto;
  right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.d-pagination .link.-next .icon svg {
  -webkit-transform: var(--hanten);
          transform: var(--hanten);
}
.d-pagination .link.-next .text {
  margin-left: 0;
  margin-right: 2rem;
}
.d-pagination .link.-next .en-mincho {
  padding-right: 25px;
  text-align: right;
}
.d-pagination .link.-next .icon {
  left: auto;
  right: 0;
}
.d-pagination .link.-next .name {
  text-align: right;
}
@media screen and (min-width: 801px) {
  .d-pagination .link:hover .en-mincho, .d-pagination .link:hover .name {
    color: var(--theme-color);
  }
  .d-pagination .link:hover .img .fit_img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .d-pagination .link:hover .icon {
    background: var(--theme-color);
  }
  .d-pagination .link:hover .icon svg path {
    fill: #fff;
  }
}
.d-pagination .link-ichiran {
  display: block;
  margin: 0 auto;
  border-left: 1px solid var(--base-border-color02);
  border-right: 1px solid var(--base-border-color02);
  width: 120px;
  height: 100px;
  padding-top: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.d-pagination .link-ichiran .icon {
  display: block;
  margin: 0 auto 10px;
  width: 20px;
  height: 20px;
}
.d-pagination .link-ichiran .icon svg path {
  -webkit-transition: stroke 0.4s var(--easeOutCubic);
  transition: stroke 0.4s var(--easeOutCubic);
}
.d-pagination .link-ichiran p {
  font-size: var(--fz13);
  line-height: 1.2307692308;
  font-weight: 500;
  letter-spacing: -0.06em;
  -webkit-transition: color 0.4s var(--easeOutCubic);
  transition: color 0.4s var(--easeOutCubic);
}
@media screen and (min-width: 801px) {
  .d-pagination .link-ichiran:hover {
    background: var(--base-text-color);
  }
  .d-pagination .link-ichiran:hover .icon svg path {
    stroke: #fff;
  }
  .d-pagination .link-ichiran:hover p {
    color: #fff;
  }
}

@media screen and (max-width: 1000px) {
  .d-pagination .link .img {
    display: none;
  }
  .d-pagination .link {
    max-width: calc(50% - 80px);
  }
}
@media screen and (max-width: 800px) {
  .d-pagination {
    margin-top: 8rem;
    padding: 1rem 0;
    border-top: 1px solid var(--base-border-color02);
    border-bottom: 1px solid var(--base-border-color02);
    margin-top: 12rem;
  }
  .d-pagination .link {
    max-width: calc(50% - 35px);
  }
  .d-pagination .link .img {
    display: none;
  }
  .d-pagination .link .text {
    margin-left: 0;
  }
  .d-pagination .link .text .name {
    display: none;
  }
  .d-pagination .link.-next .text {
    margin-right: 0;
  }
  .d-pagination .link-ichiran {
    height: 60px;
    padding-top: 10px;
  }
  .d-pagination .link-ichiran .icon {
    margin: 0 auto 5px;
  }
  .d-pagination .link-ichiran p {
    font-size: var(--fz13);
    line-height: 1.2307692308;
  }
}
.p-pagination {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  margin-top: 20rem;
}
.p-pagination .link {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 38.4615384615%;
  max-width: calc(50% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-pagination .link .img {
  position: relative;
  width: 40.5%;
  aspect-ratio: 243/137;
  overflow: hidden;
}
.p-pagination .link .img .fit_img {
  -webkit-transition: -webkit-transform 0.8s var(--easeOutCubic);
  transition: -webkit-transform 0.8s var(--easeOutCubic);
  transition: transform 0.8s var(--easeOutCubic);
  transition: transform 0.8s var(--easeOutCubic), -webkit-transform 0.8s var(--easeOutCubic);
}
.p-pagination .link .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
}
.p-pagination .link .en-mincho {
  position: relative;
  font-size: var(--fz16);
  color: var(--base-color-black03);
  -webkit-transition: color 0.4s var(--easeOutCubic);
  transition: color 0.4s var(--easeOutCubic);
}
.p-pagination .link .tit {
  font-size: var(--fz20);
  line-height: 1.8;
  font-weight: 500;
  margin-top: 15px;
  -webkit-transition: color 0.4s var(--easeOutCubic);
  transition: color 0.4s var(--easeOutCubic);
  letter-spacing: 0;
}
.p-pagination .link.-next {
  left: auto;
  right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.p-pagination .link.-next .text {
  margin-left: 0;
  margin-right: 2rem;
}
.p-pagination .link.-next .en-mincho {
  text-align: right;
}
.p-pagination .link.-next .tit {
  text-align: right;
}
@media screen and (min-width: 801px) {
  .p-pagination .link:hover .en-mincho, .p-pagination .link:hover .name {
    color: var(--theme-color);
  }
  .p-pagination .link:hover .img .fit_img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .p-pagination .link:hover .icon {
    background: var(--theme-color);
  }
  .p-pagination .link:hover .icon svg path {
    fill: #fff;
  }
}
.p-pagination .link-ichiran {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 17.9487179487%;
  min-width: 150px;
  height: 64px;
  border-radius: 32px;
  border: 2px solid var(--theme-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.p-pagination .link-ichiran p {
  font-size: var(--fz20);
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--theme-color);
  -webkit-transition: color 0.4s var(--easeOutCubic);
  transition: color 0.4s var(--easeOutCubic);
}
@media screen and (min-width: 801px) {
  .p-pagination .link-ichiran:hover {
    background: var(--theme-color);
  }
  .p-pagination .link-ichiran:hover p {
    color: #fff;
  }
}

@media screen and (max-width: 1050px) {
  .p-pagination {
    position: relative;
    width: 100%;
    padding: 2rem 0;
    margin-top: 12rem;
  }
  .p-pagination .link {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p-pagination .link:first-child {
    border-bottom: 1px solid var(--base-border-color02);
  }
  .p-pagination .link .img {
    width: 38.8059701493%;
  }
  .p-pagination .link.-next {
    left: auto;
    right: auto;
  }
  .p-pagination .link + .link {
    padding: 2.5rem 0;
  }
  .p-pagination .link-ichiran {
    width: 280px;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 800px) {
  .p-pagination {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 8rem;
  }
  .p-pagination .link .tit {
    font-size: var(--fz16);
    line-height: 1.5;
    margin-top: 7px;
  }
  .p-pagination .link br {
    display: none;
  }
  .p-pagination .link-ichiran {
    width: 65.671641791%;
    max-width: 280px;
    min-width: 220px;
    height: 48px;
    margin-top: 4rem;
  }
  .p-pagination .link-ichiran p {
    font-size: var(--fz16);
    line-height: 2;
  }
}