@charset "UTF-8";
/* ==========================================================================
	transition
========================================================================== */
/* ==========================================================================
	行数でトリミング
========================================================================== */
/* ==========================================================================
	コンテナクエリ
========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@400;700&display=swap");
:root {
  --base-max-width:1920;
  --base-pc-width:1500;
  --base-sp-width:400;
  --vwPC: calc(100vw / 1500);
  --vwSP: calc(100vw / 400);
  --easeInQuad:cubic-bezier(.55, .085, .68, .53);
  --easeInQuint:cubic-bezier(0.0, 0, 0.99, 0);
  --easeOutQuad:cubic-bezier(0.23, 1, 0.32, 1);
  --easeOutQuint:cubic-bezier(.25, .46, .45, .94);
  --easeOutSine:cubic-bezier(0.39, 0.575, 0.565, 1);
  --easeOutCubic:cubic-bezier(0.215, 0.61, 0.355, 1);
  --easeInOutQuad:cubic-bezier(0.45, 0, 0.55, 1);
  --easeInOutCubic:cubic-bezier(0.65, 0, 0.35, 1);
  --easePopUp:cubic-bezier(0.17, 0.88, 0.30, 1.28);
  --easeInCirc:cubic-bezier(0.55, 0, 1, 0.45);
  --theme-color:#b93937;
  --base-text-color:#29221f;
  --base-text-color02:#1e525a;
  --base-bg-color:#e8ebed;
  --base-bg-color02:#fafcfd;
  --base-bg-color03:#c3ced5;
  --base-bg-color04:#f5f5f5;
  --base-bg-color05:#c5fcfd;
  --base-bg-color06:#e6f0f2;
  --base-bg-color07:#f1f1f1;
  --base-bg-color08:#f6f6f6;
  --base-bg-color09:#eee;
  --base-bg-color10:#c9d9dc;
  --base-bg-color11:#b9fbfc;
  --base-color-green:#32929e;
  --base-color-green02:#9dd1d0;
  --base-color-green03:#2c6c76;
  --base-color-green04:#2c6c76;
  --base-color-green05:#309c9d;
  --base-color-green06:#207372;
  --base-color-green07:#27989b;
  --base-color-green08:#4eb0b2;
  --base-color-green09:#2b9594;
  --base-color-wood:#6d240e;
  --base-color-blue:#14a5b6;
  --base-color-blue02:#32a4ab;
  --base-color-blue03:#37a9af;
  --base-color-mizu:#00b4b2;
  --base-color-orange:#e78a14;
  --base-color-black:#29221f;
  --base-color-black02:#131313;
  --base-color-white:#fff;
  --base-color-white02:#f1f3f4;
  --base-color-gray:#888;
  --base-color-gray02:#777;
  --base-color-gray03:#8a979f;
  --base-color-gray04:#e5e5e5;
  --base-color-gray05:#a4a4a4;
  --base-color-gray06:#ccc;
  --base-color-gray07:#b4c0c8;
  --base-color-gold:#977f4b;
  --base-color-silver:#97a4ad;
  --base-color-bronze:#664e1a;
  --base-border-color:#000;
  --base-border-color02:#d2d2d2;
  --base-border-color03:#a8a9a8;
  --base-border-color04:#d3d9dd;
  --base-border-color05:#eaeaea;
  --base-border-color06:#ddd;
  --base-border-color07:#e6e6e6;
  --base-border-color08:#188383;
  --base-border-color09:#1c0604;
  --base-shadow-color:#ade2e3;
  --base-color-uchi:#c13e02;
  --base-color-soto:#32a4ab;
  --base-btn-color01:#1f858b;
  --base-btn-color01-hv:#137a80;
  --base-btn-color02:#c93c02;
  --base-btn-color02-hv:#ba3600;
  --base-btn-color03:#3da4a3;
  --base-btn-color01-hv:#137a80;
  --base-bubble-bg:#dbe2e2;
  --base-bubble-bg02:#cff0f1;
  --hanten:scale(-1, -1);
  --hantenX:scale(-1, 1);
  --hantenY:scaleY(-1);
  --transition-scale:transform 0.8s var(--easeOutCubic);
  --en: "Marcellus", sans-serif;
  --gothic: "Zen Kaku Gothic New","Zen Kaku Gothic Antique",sans-serif;
  --line-seed:"LINE Seed JP", sans-serif;
  --delay: 0s;
}

:root {
  --head-mt:100px;
}

@media screen and (max-width: 800px) {
  :root {
    --head-mt:80px;
  }
}
@media screen and (min-width: 801px) {
  :root {
    --vwPC: calc(100vw / 1500);
    --fz8: max(.8rem, 8px);
    --fz9: max(.9rem, 9px);
    --fz10: max(1rem, 9px);
    --fz11: max(1.1rem, 10px);
    --fz12: max(1.2rem, 11px);
    --fz13: max(1.3rem, 12px);
    --fz14: max(1.4rem, 12px);
    --fz15: max(1.5rem, 13px);
    --fz16: max(1.6rem, 14px);
    --fz17: max(1.7rem, 15px);
    --fz18: max(1.8rem, 16px);
    --fz19: max(1.9rem, 17px);
    --fz20: max(2.0rem, 18px);
    --fz21: max(2.1rem, 18px);
    --fz22: max(2.2rem, 18px);
    --fz23: max(2.3rem, 20px);
    --fz24: max(2.4rem, 20px);
    --fz25: max(2.5rem, 21px);
    --fz26: max(2.6rem, 22px);
    --fz27: max(2.7rem, 23px);
    --fz28: max(2.8rem, 24px);
    --fz29: max(2.9rem, 25px);
    --fz30: max(3rem, 26px);
    --fz32: max(3.2rem, 28px);
    --fz33: max(3.3rem, 29px);
    --fz34: max(3.4rem, 30px);
    --fz35: max(3.5rem, 31px);
    --fz36: max(3.6rem, 32px);
    --fz37: max(3.7rem, 33px);
    --fz38: max(3.8rem, 34px);
    --fz39: max(3.9rem, 35px);
    --fz40: max(4rem, 36px);
    --fz41: max(4.1rem, 37px);
    --fz42: max(4.2rem, 38px);
    --fz44: max(4.4rem, 40px);
    --fz45: max(4.5rem, 41px);
    --fz46: max(4.6rem, 42px);
    --fz48: max(4.8rem, 44px);
    --fz50: max(5rem, 48px);
    --fz52: max(5.2rem, 48px);
    --fz54: max(5.4rem, 50px);
    --fz55: max(5.5rem, 51px);
    --fz56: max(5.6rem, 52px);
    --fz58: max(5.8rem, 54px);
    --fz59: max(5.9rem, 55px);
    --fz60: max(6rem, 56px);
    --fz64: max(6.4rem, 60px);
    --fz72: max(7.2rem, 68px);
    --fz78: max(7.8rem, 74px);
    --fz96: max(9.6rem, 90px);
  }
}
@media screen and (max-width: 800px) {
  :root {
    --vwSP: calc(100vw / 400);
    --fz6: clamp(.6rem, calc(6 * var(--vwSP)), .8rem);
    --fz7: clamp(.7rem, calc(7 * var(--vwSP)), .9rem);
    --fz8: clamp(.8rem, calc(8 * var(--vwSP)), 1rem);
    --fz9: clamp(.9rem, calc(9 * var(--vwSP)), 1.1rem);
    --fz10: clamp(1rem, calc(10 * var(--vwSP)), 1.2rem);
    --fz11: clamp(1.1rem, calc(11 * var(--vwSP)), 1.3rem);
    --fz12: clamp(1.2rem, calc(12 * var(--vwSP)), 1.4rem);
    --fz13: clamp(1.3rem, calc(13 * var(--vwSP)), 1.4rem);
    --fz14: clamp(1.4rem, calc(14 * var(--vwSP)), 1.6rem);
    --fz15: clamp(1.5rem, calc(15 * var(--vwSP)), 1.7rem);
    --fz16: clamp(1.6rem, calc(16 * var(--vwSP)), 1.8rem);
    --fz17: clamp(1.7rem, calc(17 * var(--vwSP)), 1.9rem);
    --fz18: clamp(1.8rem, calc(18 * var(--vwSP)), 2rem);
    --fz19: clamp(1.9rem, calc(19 * var(--vwSP)), 2.1rem);
    --fz20: clamp(2rem, calc(20 * var(--vwSP)), 2.2rem);
    --fz21: clamp(2.1rem, calc(21 * var(--vwSP)), 2.3rem);
    --fz22: clamp(2.2rem, calc(22 * var(--vwSP)), 2.4rem);
    --fz23: clamp(2.3rem, calc(23 * var(--vwSP)), 2.5rem);
    --fz24: clamp(2.4rem, calc(24 * var(--vwSP)), 2.6rem);
    --fz25: clamp(2.5rem, calc(25 * var(--vwSP)), 2.7rem);
    --fz26: clamp(2.6rem, calc(26 * var(--vwSP)), 2.8rem);
    --fz27: clamp(2.7rem, calc(27 * var(--vwSP)), 2.9rem);
    --fz28: clamp(2.8rem, calc(28 * var(--vwSP)), 3rem);
    --fz30: clamp(3rem, calc(30 * var(--vwSP)), 3.2rem);
    --fz31: clamp(3.1rem, calc(31 * var(--vwSP)), 3.3rem);
    --fz32: clamp(3.2rem, calc(32 * var(--vwSP)), 3.5rem);
    --fz33: clamp(3.3rem, calc(33 * var(--vwSP)), 3.5rem);
    --fz34: clamp(3.4rem, calc(34 * var(--vwSP)), 3.7rem);
    --fz35: clamp(3.5rem, calc(35 * var(--vwSP)), 3.9rem);
    --fz37: clamp(3.7rem, calc(37 * var(--vwSP)), 4.1rem);
    --fz36: clamp(3.6rem, calc(36 * var(--vwSP)), 4rem);
    --fz38: clamp(3.8rem, calc(38 * var(--vwSP)), 4.2rem);
    --fz40: clamp(4rem, calc(40 * var(--vwSP)), 4.4rem);
    --fz42: clamp(4.2rem, calc(42 * var(--vwSP)), 4.6rem);
    --fz44: clamp(4.4rem, calc(44 * var(--vwSP)), 4.8rem);
    --fz45: clamp(4.5rem, calc(45 * var(--vwSP)), 4.9rem);
    --fz47: clamp(4.7rem, calc(47 * var(--vwSP)), 5.1rem);
    --fz48: clamp(4.8rem, calc(48 * var(--vwSP)), 5.2rem);
    --fz49: clamp(4.9rem, calc(49 * var(--vwSP)), 5.3rem);
    --fz51: clamp(5.1rem, calc(51 * var(--vwSP)), 5.6rem);
    --fz56: clamp(5.6rem, calc(56 * var(--vwSP)), 6rem);
    --fz64: clamp(6.4rem, calc(64 * var(--vwSP)), 6.8rem);
  }
}
/* ==========================================================================
	fv
========================================================================== */
.fv {
  position: relative;
  padding-top: var(--head-mt);
}
.fv .inr h1 {
  width: 18.6805555556%;
  min-width: 304px;
}
@media screen and (max-width: 1050px) {
  .fv .inr h1 {
    width: 44.5945945946%;
    margin-top: min(60px, 12.1621621622cqw);
    min-width: 165px;
  }
}

/* ==========================================================================
	contact_wrap
========================================================================== */
.contact_wrap {
  position: relative;
  z-index: 20;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--base-bg-color05)));
  background: linear-gradient(to bottom, transparent 0%, var(--base-bg-color05) 100%);
}
.contact_wrap .inr {
  position: relative;
  container-type: inline-size;
  z-index: 10;
}
.contact_wrap .intro_txt {
  width: 81.4285714286%;
  margin: 5cqw auto 5.3571428571cqw;
  font-size: 1.1428571429cqw;
  font-weight: 500;
  line-height: 2.3571428571;
  letter-spacing: -0.04em;
}
.contact_wrap .kumonchu {
  position: absolute;
  width: 30.7857142857%;
  max-width: 530px;
  bottom: calc(100% - 290px);
  left: 80%;
  z-index: 5;
}
.contact_wrap .round-con {
  background: var(--base-color-white);
}
.contact_wrap .-tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4.2857142857cqw 9.2857142857cqw 3.5714285714cqw;
  margin-bottom: 4.2857142857cqw;
}
.contact_wrap .-tell .tit_area {
  width: 40.2192982456%;
}
.contact_wrap .-tell .tit_area h2 {
  width: 100%;
  margin-bottom: 1.5714285714cqw;
}
.contact_wrap .-tell .tit_area .en {
  font-size: 1.2857142857cqw;
  color: var(--base-text-color02);
  letter-spacing: 0.08em;
}
.contact_wrap .-tell .tel_area {
  position: relative;
  width: 46.4912280702%;
}
.contact_wrap .-tell .tel_area a {
  position: relative;
  display: block;
  margin-bottom: 0.7142857143cqw;
}
.contact_wrap .-tell .tel_area a .line {
  font-family: var(--line-seed);
  font-size: 1.7142857143cqw;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.contact_wrap .-tell .tel_area a span {
  display: block;
  font-size: 6.4285714286cqw;
  color: var(--base-color-green07);
  letter-spacing: -0.04em;
  font-weight: 300;
  white-space: nowrap;
  margin-top: -20px;
}
.contact_wrap .-tell .tel_area .btm_txt p {
  display: inline-block;
  font-size: 1cqw;
  font-weight: 500;
  margin-right: 2.8571428571cqw;
  margin-left: 10px;
}
.contact_wrap .-tell .tel_area .btm_txt span {
  font-weight: 500;
  color: var(--base-color-green05);
}
.contact_wrap .-form {
  padding: 10cqw 8.9285714286cqw 10.3571428571cqw;
}
.contact_wrap .-form.-conf {
  margin-top: 8.5714285714cqw;
}
.contact_wrap .-form .tit_area {
  position: relative;
  width: 100%;
  margin-bottom: 5.7142857143cqw;
}
.contact_wrap .-form .tit_area h2 {
  width: 35.350877193%;
  margin-bottom: 1.5714285714cqw;
}
.contact_wrap .-form .tit_area .en {
  font-size: 1.4285714286cqw;
  color: var(--base-text-color02);
  letter-spacing: 0.08em;
}
.contact_wrap .-form .tit_area .n_txt {
  position: absolute;
  left: 48.2456140351%;
  top: 0;
  width: 51.7543859649%;
  font-size: 1.1428571429cqw;
  line-height: 1.875;
  font-weight: 500;
}
.contact_wrap .-form .step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 56.1403508772%;
  min-width: 500px;
  margin: 0 auto 4.6428571429cqw;
}
.contact_wrap .-form .step:before, .contact_wrap .-form .step:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 9.375%;
  height: 1px;
  background: var(--base-color-green08);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.contact_wrap .-form .step::before {
  left: 29.6875%;
}
.contact_wrap .-form .step::after {
  left: 70.3125%;
  background: var(--base-bg-color10);
}
.contact_wrap .-form .step.-conf::before {
  background: var(--base-bg-color10);
}
.contact_wrap .-form .step.-conf::after {
  background: var(--base-color-green08);
}
.contact_wrap .-form .step li {
  position: relative;
  width: 18.75%;
  aspect-ratio: 1/1;
  padding-top: 1.4285714286cqw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: var(--base-bg-color10);
}
.contact_wrap .-form .step li::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: url(../img/common/texture.webp);
  background-size: cover;
  opacity: 0.2;
  mix-blend-mode: overlay;
}
.contact_wrap .-form .step li.this {
  background: var(--base-color-green08);
}
.contact_wrap .-form .step .en {
  position: relative;
  display: block;
  font-size: max(13px, 1.0714285714cqw);
  margin-bottom: 1.2857142857cqw;
  color: var(--base-color-white);
  z-index: 10;
}
.contact_wrap .-form .step .step-text {
  position: relative;
  display: inline-block;
  width: 69.1666666667%;
  z-index: 10;
}
.contact_wrap .-form .step li:nth-child(2) .step-text {
  width: 72.5%;
}
.contact_wrap .-form .step li:nth-child(3) .step-text {
  width: 71.6666666667%;
}
.contact_wrap .form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact_wrap .form_wrap .box {
  width: 48.2456140351%;
}
.contact_wrap .form_wrap .box.-full {
  width: 100%;
}
.contact_wrap .form_wrap .box:not(:first-child) {
  margin-top: 2.5cqw;
}
.contact_wrap .form_wrap .form_tit {
  position: relative;
  display: table;
  width: auto;
}
.contact_wrap .form_wrap .form_tit label {
  font-size: max(14px, 1.1428571429cqw);
  color: var(--base-color-green05);
  font-weight: 500;
}
.contact_wrap .form_wrap .form_tit.req:after {
  content: "必須";
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  font-size: 0.8571428571cqw;
  color: var(--base-color-white);
  background: var(--base-color-black02);
  font-size: var(--fz12);
  font-weight: 600;
  padding: 5px 15px 8px;
  border-radius: 99px;
  margin-left: 12px;
}
.contact_wrap .form_wrap .form_input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background: transparent;
  font-weight: 500;
  letter-spacing: 0.03em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--base-bg-color06);
  margin-top: 0.8571428571cqw;
}
.contact_wrap .form_wrap .form_input .form-item {
  width: 100%;
  font-size: max(14px, 1.1428571429cqw);
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: none;
  font-weight: 500;
  padding: 2.1428571429cqw 1.7857142857cqw;
}
.contact_wrap .form_wrap .form_input .form-item::-webkit-input-placeholder {
  color: #b1b1b1;
}
.contact_wrap .form_wrap .form_input .form-item::-moz-placeholder {
  color: #b1b1b1;
}
.contact_wrap .form_wrap .form_input .form-item:-ms-input-placeholder {
  color: #b1b1b1;
}
.contact_wrap .form_wrap .form_input .form-item::-ms-input-placeholder {
  color: #b1b1b1;
}
.contact_wrap .form_wrap .form_input .form-item::placeholder {
  color: #b1b1b1;
}
.contact_wrap .form_wrap .form_input .conf-text {
  font-size: max(14px, 1.1428571429cqw);
  line-height: 1;
  font-weight: 500;
}
.contact_wrap .form_wrap .form_input.b-item {
  height: clamp(280px, 24.2857142857cqw, 340px);
}
.contact_wrap .form_wrap .form_input.b-item .form-item {
  height: clamp(280px, 24.2857142857cqw, 340px);
}
.contact_wrap .form_wrap .input-radio {
  margin-top: 2.8571428571cqw;
}
.contact_wrap .form_wrap .input-radio li {
  position: relative;
  display: inline-block;
  margin-right: 3.5714285714cqw;
  margin-bottom: 2.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact_wrap .form_wrap .input-radio input {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 0;
  -webkit-transition: none;
  transition: none;
}
.contact_wrap .form_wrap .input-radio input:checked + span:after {
  opacity: 1;
}
.contact_wrap .form_wrap .input-radio span {
  position: relative;
  font-size: max(14px, 1.1428571429cqw);
  line-height: 1;
  font-weight: 500;
  padding-left: 3.2142857143cqw;
  cursor: pointer;
}
.contact_wrap .form_wrap .input-radio span:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2.1428571429cqw;
  height: 2.1428571429cqw;
  background: var(--base-bg-color06);
  top: -0.1428571429cqw;
  left: 0;
  z-index: 0;
  border-radius: 50%;
}
.contact_wrap .form_wrap .input-radio span:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.0714285714cqw;
  height: 1.0714285714cqw;
  left: 0.5714285714cqw;
  top: 0.3571428571cqw;
  background: var(--base-color-blue);
  border-radius: 50%;
  opacity: 0;
}
.contact_wrap .form_wrap textarea {
  resize: none;
}
.contact_wrap .form_wrap .btn_wrap {
  margin: 8.5714285714cqw auto 0;
}
.contact_wrap .form_wrap .btn_wrap.-conf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 3rem;
}
.contact_wrap .form_wrap .btn_wrap input {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 10;
  -webkit-transition: none;
  transition: none;
  width: 100%;
  height: 100%;
}
.contact_wrap .form_wrap .btn_wrap .link_btn.-rev {
  padding-right: 38px;
  padding-left: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact_wrap .form_wrap .btn_wrap .link_btn.-rev .arrow {
  right: auto;
  left: 20px;
}
.contact_wrap .form_wrap .btn_wrap .link_btn.-rev .arrow img {
  -webkit-transform: var(--hantenX);
          transform: var(--hantenX);
}
@media screen and (max-width: 1050px) {
  .contact_wrap .intro_txt {
    width: 84.2105263158%;
    margin: 14.4736842105cqw auto 15.7894736842cqw;
    font-size: min(20px, 3.6842105263cqw);
  }
  .contact_wrap .kumonchu {
    width: 69.3421052632%;
    max-width: 530px;
    bottom: calc(100% - 28.9473684211cqw);
    left: 50%;
  }
  .contact_wrap .-tell {
    display: block;
    padding: min(90px, 17.1052631579cqw) 0 min(80px, 17.1052631579cqw);
  }
  .contact_wrap .-tell .tit_area {
    width: 100%;
  }
  .contact_wrap .-tell .tit_area h2 {
    width: 71.0526315789%;
    margin: 0 auto;
    margin-bottom: 3.2894736842cqw;
  }
  .contact_wrap .-tell .tit_area .en {
    display: block;
    font-size: 3.1578947368cqw;
    text-align: center;
    margin: 0 auto;
  }
  .contact_wrap .-tell .tel_area {
    text-align: center;
    width: 100%;
    margin-top: min(60px, 11.8421052632cqw);
  }
  .contact_wrap .-tell .tel_area a {
    display: table;
    margin: 0 auto;
    margin-bottom: 3.9473684211cqw;
  }
  .contact_wrap .-tell .tel_area a .line {
    font-size: min(20px, 3.9473684211cqw);
  }
  .contact_wrap .-tell .tel_area a span {
    font-size: min(60px, 11.8421052632cqw);
    margin-top: 0;
  }
  .contact_wrap .-tell .tel_area .btm_txt p {
    font-size: min(13px, 2.6315789474cqw);
    margin-right: 0;
    margin-left: 0;
  }
  .contact_wrap .-tell .tel_area .btm_txt p:first-child {
    margin-right: 5.2631578947cqw;
  }
  .contact_wrap .-form {
    padding: min(90px, 17.1052631579cqw) 0 min(80px, 15.7894736842cqw);
  }
  .contact_wrap .-form.-conf {
    margin-top: 15.7894736842cqw;
  }
  .contact_wrap .-form .tit_area {
    margin-bottom: 10.5263157895cqw;
    text-align: center;
  }
  .contact_wrap .-form .tit_area h2 {
    width: 62.3684210526%;
    margin: 0 auto 3.2894736842cqw;
  }
  .contact_wrap .-form .tit_area .en {
    font-size: 3.1578947368cqw;
  }
  .contact_wrap .-form .tit_area .n_txt {
    position: relative;
    width: 84.2105263158%;
    left: auto;
    top: auto;
    font-size: 3.6842105263cqw;
    line-height: 2.3571428571;
    margin: 10.5263157895cqw auto 11.1842105263cqw;
    text-align: left;
  }
  .contact_wrap .-form .step {
    width: 84.2105263158%;
    min-width: 10px;
    margin: 0 auto 11.1842105263cqw;
  }
  .contact_wrap .-form .step:before, .contact_wrap .-form .step:after {
    width: 6.25%;
  }
  .contact_wrap .-form .step li {
    width: 25%;
    padding-top: 4.3421052632cqw;
  }
  .contact_wrap .-form .step .en {
    font-size: min(14px, 2.8947368421cqw);
    margin-bottom: 2.3684210526cqw;
  }
  .contact_wrap .-form .step .step-text {
    width: 66.25%;
  }
  .contact_wrap .-form .step li:nth-child(2) .step-text {
    width: 68.75%;
  }
  .contact_wrap .-form .step li:nth-child(3) .step-text {
    width: 69.375%;
  }
  .contact_wrap .form_wrap {
    width: 84.2105263158%;
    margin-inline: auto;
  }
  .contact_wrap .form_wrap .box {
    width: 100%;
  }
  .contact_wrap .form_wrap .box:not(:first-child) {
    margin-top: 7.8947368421cqw;
  }
  .contact_wrap .form_wrap .form_tit label {
    font-size: max(17px, 3.6842105263cqw);
  }
  .contact_wrap .form_wrap .form_tit.req:after {
    font-size: min(16px, 3.6842105263cqw);
    font-weight: 600;
    padding: 5px 12px 8px;
    margin-left: 8px;
  }
  .contact_wrap .form_wrap .form_input {
    margin-top: 2.6315789474cqw;
  }
  .contact_wrap .form_wrap .form_input .form-item {
    font-size: max(14px, 3.1578947368cqw);
    padding: 5.2631578947cqw;
  }
  .contact_wrap .form_wrap .form_input .conf-text {
    font-size: max(14px, 3.1578947368cqw);
  }
  .contact_wrap .form_wrap .form_input.b-item {
    height: clamp(220px, 57.8947368421cqw, 300px);
  }
  .contact_wrap .form_wrap .form_input.b-item .form-item {
    height: clamp(220px, 57.8947368421cqw, 300px);
  }
  .contact_wrap .form_wrap .input-radio {
    margin-top: 5.2631578947cqw;
  }
  .contact_wrap .form_wrap .input-radio li {
    margin-right: 6.5789473684cqw;
    margin-bottom: 1.2rem;
  }
  .contact_wrap .form_wrap .input-radio span {
    font-size: max(15px, 3.1578947368cqw);
    padding-left: 6.3157894737cqw;
  }
  .contact_wrap .form_wrap .input-radio span:before {
    width: 5.2631578947cqw;
    height: 5.2631578947cqw;
    top: -0.2631578947cqw;
  }
  .contact_wrap .form_wrap .input-radio span:after {
    content: "";
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2.7631578947cqw;
    height: 2.7631578947cqw;
    left: 1.3157894737cqw;
    top: 0.9210526316cqw;
  }
  .contact_wrap .form_wrap .btn_wrap {
    margin: 15.7894736842cqw auto 0;
  }
  .contact_wrap .form_wrap .btn_wrap input {
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 10;
    -webkit-transition: none;
    transition: none;
    width: 100%;
    height: 100%;
  }
  .contact_wrap .form_wrap .btn_wrap.-conf {
    display: block;
  }
  .contact_wrap .form_wrap .btn_wrap.-conf form + form {
    margin-top: 2rem;
  }
}