@charset "UTF-8";
/* ==========================================================================
	transition
========================================================================== */
/* ==========================================================================
	行数でトリミング
========================================================================== */
/* ==========================================================================
	コンテナクエリ
========================================================================== */
:root {
  --base-max-width:1920;
  --base-pc-width:1500;
  --base-sp-width:400;
  --vwPC: calc(100vw / 1500);
  --vwSP: calc(100vw / 400);
  --easeInQuad:cubic-bezier(.55, .085, .68, .53);
  --easeInQuint:cubic-bezier(0.0, 0, 0.99, 0);
  --easeOutQuad:cubic-bezier(0.23, 1, 0.32, 1);
  --easeOutQuint:cubic-bezier(.25, .46, .45, .94);
  --easeOutSine:cubic-bezier(0.39, 0.575, 0.565, 1);
  --easeOutCubic:cubic-bezier(0.215, 0.61, 0.355, 1);
  --easeInOutQuad:cubic-bezier(0.45, 0, 0.55, 1);
  --easeInOutCubic:cubic-bezier(0.65, 0, 0.35, 1);
  --easePopUp:cubic-bezier(0.17, 0.88, 0.30, 1.28);
  --easeInCirc:cubic-bezier(0.55, 0, 1, 0.45);
  --theme-color:#b93937;
  --base-text-color:#29221f;
  --base-text-color02:#1e525a;
  --base-text-color03:#383838;
  --base-text-color04:#3a3939;
  --base-bg-color:#e8ebed;
  --base-bg-color02:#fafcfd;
  --base-bg-color03:#c3ced5;
  --base-bg-color04:#f5f5f5;
  --base-bg-color05:#c5fcfd;
  --base-bg-color06:#e6f0f2;
  --base-bg-color07:#f1f1f1;
  --base-bg-color08:#f6f6f6;
  --base-bg-color09:#eee;
  --base-bg-color10:#c9d9dc;
  --base-bg-color11:#b9fbfc;
  --base-bg-color12:#0c405b;
  --base-color-green:#32929e;
  --base-color-green02:#9dd1d0;
  --base-color-green03:#2c6c76;
  --base-color-green04:#2c6c76;
  --base-color-green05:#309c9d;
  --base-color-green06:#207372;
  --base-color-green07:#27989b;
  --base-color-green08:#4eb0b2;
  --base-color-green09:#2b9594;
  --base-color-green10:#5eb195;
  --base-color-green11:#cbedef;
  --base-color-green12:#d7f1f1;
  --base-color-green13:#3da4a3;
  --base-color-green14:#58a783;
  --base-color-green15:#206e81;
  --base-color-wood:#6d240e;
  --base-color-blue:#14a5b6;
  --base-color-blue02:#32a4ab;
  --base-color-blue03:#37a9af;
  --base-color-mizu:#00b4b2;
  --base-color-orange:#e78a14;
  --base-color-black:#29221f;
  --base-color-black02:#131313;
  --base-color-white:#fff;
  --base-color-white02:#f1f3f4;
  --base-color-gray:#888;
  --base-color-gray02:#777;
  --base-color-gray03:#8a979f;
  --base-color-gray04:#e5e5e5;
  --base-color-gray05:#a4a4a4;
  --base-color-gray06:#ccc;
  --base-color-gray07:#b4c0c8;
  --base-color-gray08:#e4e4e4;
  --base-color-gray09:#a7a7a7;
  --base-color-gold:#977f4b;
  --base-color-silver:#97a4ad;
  --base-color-bronze:#664e1a;
  --base-border-color:#000;
  --base-border-color02:#d2d2d2;
  --base-border-color03:#a8a9a8;
  --base-border-color04:#d3d9dd;
  --base-border-color05:#eaeaea;
  --base-border-color06:#ddd;
  --base-border-color07:#e6e6e6;
  --base-border-color08:#188383;
  --base-border-color09:#1c0604;
  --base-shadow-color:#ade2e3;
  --base-color-uchi:#c13e02;
  --base-color-soto:#32a4ab;
  --base-btn-color01:#1f858b;
  --base-btn-color01-hv:#136a80;
  --base-btn-color02:#c93c02;
  --base-btn-color02-hv:#a22200;
  --base-btn-color03:#3da4a3;
  --base-btn-color01-hv:#137a80;
  --insta-color-hv:#f7228c;
  --base-bubble-bg:#dbe2e2;
  --base-bubble-bg02:#cff0f1;
  --base-bubble-bg03:#a8c4c4;
  --hanten:scale(-1, -1);
  --hantenX:scale(-1, 1);
  --hantenY:scaleY(-1);
  --transition-scale:transform 0.8s var(--easeOutCubic);
  --en: "Marcellus", sans-serif;
  --gothic: "Zen Kaku Gothic New","Zen Kaku Gothic Antique",sans-serif;
  --line-seed:"LINE Seed JP", sans-serif;
  --delay: 0s;
}

:root {
  --head-mt:100px;
}

@media screen and (max-width: 800px) {
  :root {
    --head-mt:80px;
  }
}
@media screen and (min-width: 801px) {
  :root {
    --vwPC: calc(100vw / 1500);
    --fz8: max(.8rem, 8px);
    --fz9: max(.9rem, 9px);
    --fz10: max(1rem, 9px);
    --fz11: max(1.1rem, 10px);
    --fz12: max(1.2rem, 11px);
    --fz13: max(1.3rem, 12px);
    --fz14: max(1.4rem, 12px);
    --fz15: max(1.5rem, 13px);
    --fz16: max(1.6rem, 14px);
    --fz17: max(1.7rem, 15px);
    --fz18: max(1.8rem, 16px);
    --fz19: max(1.9rem, 17px);
    --fz20: max(2.0rem, 18px);
    --fz21: max(2.1rem, 18px);
    --fz22: max(2.2rem, 18px);
    --fz23: max(2.3rem, 20px);
    --fz24: max(2.4rem, 20px);
    --fz25: max(2.5rem, 21px);
    --fz26: max(2.6rem, 22px);
    --fz27: max(2.7rem, 23px);
    --fz28: max(2.8rem, 24px);
    --fz29: max(2.9rem, 25px);
    --fz30: max(3rem, 26px);
    --fz32: max(3.2rem, 28px);
    --fz33: max(3.3rem, 29px);
    --fz34: max(3.4rem, 30px);
    --fz35: max(3.5rem, 31px);
    --fz36: max(3.6rem, 32px);
    --fz37: max(3.7rem, 33px);
    --fz38: max(3.8rem, 34px);
    --fz39: max(3.9rem, 35px);
    --fz40: max(4rem, 36px);
    --fz41: max(4.1rem, 37px);
    --fz42: max(4.2rem, 38px);
    --fz44: max(4.4rem, 40px);
    --fz45: max(4.5rem, 41px);
    --fz46: max(4.6rem, 42px);
    --fz48: max(4.8rem, 44px);
    --fz50: max(5rem, 48px);
    --fz52: max(5.2rem, 48px);
    --fz54: max(5.4rem, 50px);
    --fz55: max(5.5rem, 51px);
    --fz56: max(5.6rem, 52px);
    --fz58: max(5.8rem, 54px);
    --fz59: max(5.9rem, 55px);
    --fz60: max(6rem, 56px);
    --fz64: max(6.4rem, 60px);
    --fz72: max(7.2rem, 68px);
    --fz78: max(7.8rem, 74px);
    --fz96: max(9.6rem, 90px);
  }
}
@media screen and (max-width: 800px) {
  :root {
    --vwSP: calc(100vw / 400);
    --fz6: clamp(.6rem, calc(6 * var(--vwSP)), .8rem);
    --fz7: clamp(.7rem, calc(7 * var(--vwSP)), .9rem);
    --fz8: clamp(.8rem, calc(8 * var(--vwSP)), 1rem);
    --fz9: clamp(.9rem, calc(9 * var(--vwSP)), 1.1rem);
    --fz10: clamp(1rem, calc(10 * var(--vwSP)), 1.2rem);
    --fz11: clamp(1.1rem, calc(11 * var(--vwSP)), 1.3rem);
    --fz12: clamp(1.2rem, calc(12 * var(--vwSP)), 1.4rem);
    --fz13: clamp(1.3rem, calc(13 * var(--vwSP)), 1.4rem);
    --fz14: clamp(1.4rem, calc(14 * var(--vwSP)), 1.6rem);
    --fz15: clamp(1.5rem, calc(15 * var(--vwSP)), 1.7rem);
    --fz16: clamp(1.6rem, calc(16 * var(--vwSP)), 1.8rem);
    --fz17: clamp(1.7rem, calc(17 * var(--vwSP)), 1.9rem);
    --fz18: clamp(1.8rem, calc(18 * var(--vwSP)), 2rem);
    --fz19: clamp(1.9rem, calc(19 * var(--vwSP)), 2.1rem);
    --fz20: clamp(2rem, calc(20 * var(--vwSP)), 2.2rem);
    --fz21: clamp(2.1rem, calc(21 * var(--vwSP)), 2.3rem);
    --fz22: clamp(2.2rem, calc(22 * var(--vwSP)), 2.4rem);
    --fz23: clamp(2.3rem, calc(23 * var(--vwSP)), 2.5rem);
    --fz24: clamp(2.4rem, calc(24 * var(--vwSP)), 2.6rem);
    --fz25: clamp(2.5rem, calc(25 * var(--vwSP)), 2.7rem);
    --fz26: clamp(2.6rem, calc(26 * var(--vwSP)), 2.8rem);
    --fz27: clamp(2.7rem, calc(27 * var(--vwSP)), 2.9rem);
    --fz28: clamp(2.8rem, calc(28 * var(--vwSP)), 3rem);
    --fz30: clamp(3rem, calc(30 * var(--vwSP)), 3.2rem);
    --fz31: clamp(3.1rem, calc(31 * var(--vwSP)), 3.3rem);
    --fz32: clamp(3.2rem, calc(32 * var(--vwSP)), 3.5rem);
    --fz33: clamp(3.3rem, calc(33 * var(--vwSP)), 3.5rem);
    --fz34: clamp(3.4rem, calc(34 * var(--vwSP)), 3.7rem);
    --fz35: clamp(3.5rem, calc(35 * var(--vwSP)), 3.9rem);
    --fz37: clamp(3.7rem, calc(37 * var(--vwSP)), 4.1rem);
    --fz36: clamp(3.6rem, calc(36 * var(--vwSP)), 4rem);
    --fz38: clamp(3.8rem, calc(38 * var(--vwSP)), 4.2rem);
    --fz40: clamp(4rem, calc(40 * var(--vwSP)), 4.4rem);
    --fz42: clamp(4.2rem, calc(42 * var(--vwSP)), 4.6rem);
    --fz44: clamp(4.4rem, calc(44 * var(--vwSP)), 4.8rem);
    --fz45: clamp(4.5rem, calc(45 * var(--vwSP)), 4.9rem);
    --fz47: clamp(4.7rem, calc(47 * var(--vwSP)), 5.1rem);
    --fz48: clamp(4.8rem, calc(48 * var(--vwSP)), 5.2rem);
    --fz49: clamp(4.9rem, calc(49 * var(--vwSP)), 5.3rem);
    --fz51: clamp(5.1rem, calc(51 * var(--vwSP)), 5.6rem);
    --fz56: clamp(5.6rem, calc(56 * var(--vwSP)), 6rem);
    --fz64: clamp(6.4rem, calc(64 * var(--vwSP)), 6.8rem);
  }
}
/* ==========================================================================
	news-fv
========================================================================== */
.news-fv {
  position: relative;
  padding-top: var(--head-mt);
}
.news-fv .inr {
  width: 96%;
  container-type: inline-size;
  padding-top: 160px;
  padding-bottom: 160px;
}
.news-fv .inr h1 {
  position: relative;
  z-index: 20;
  width: 11.7361111111%;
  margin-left: 4.8611111111%;
  margin-bottom: 3rem;
  opacity: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000));
  -webkit-mask-image: linear-gradient(to right, #000 0 100%);
  mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000));
  mask-image: linear-gradient(to right, #000 0 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left top;
  mask-position: left top;
  -webkit-mask-size: 0% 100%;
  mask-size: 0% 100%;
  transition: opacity 0.4s ease, -webkit-mask-size 1.2s cubic-bezier(0.22, 1, 0.36, 1), mask-size 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.news-fv .inr h1.move {
  opacity: 1;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.news-fv .inr .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.news-fv .inr .en {
  font-size: 1.3888888889cqw;
  color: var(--base-text-color02);
  margin-right: 2.5rem;
  letter-spacing: 0.08em;
}
.news-fv .inr .ja {
  font-size: 4.1666666667cqw;
  font-weight: 500;
  color: var(--base-btn-color03);
}
.news-fv .inr .pan {
  position: relative;
  margin-left: 4.8611111111%;
  z-index: 20;
  color: var(--base-btn-color03);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.news-fv .inr .pan a {
  position: relative;
  display: inline-block;
  font-size: max(13px, 0.9027777778cqw);
  margin-right: 38px;
  -webkit-transition: color 0.4s var(--easeOutSine);
  transition: color 0.4s var(--easeOutSine);
  font-weight: 500;
  color: var(--base-btn-color03);
}
.news-fv .inr .pan a:after {
  content: "›";
  display: block;
  position: absolute;
  left: calc(100% + 15px);
  top: 50%;
  -webkit-transform: translateY(-54%);
          transform: translateY(-54%);
  font-size: max(22px, 1.5277777778cqw);
  line-height: 1;
}
.news-fv .inr .pan p {
  display: inline-block;
  font-size: max(13px, 0.9027777778cqw);
  font-weight: 500;
  text-decoration: underline;
}
.news-fv .inr .cloud {
  display: block;
  position: absolute;
  z-index: 15;
}
.news-fv .inr .cloud.-left {
  width: 65.4166666667%;
  right: 68.9583333333%;
  bottom: -2.0833333333cqw;
}
.news-fv .inr .cloud.-right {
  width: 99.9305555556%;
  left: 64.5833333333%;
  bottom: -4.1666666667cqw;
}
.news-fv .inr .town_bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 142px;
  background: url(../img/news/fv-town.webp) center repeat-x;
  background-size: 1580px 142px;
  z-index: 1;
}
.news-fv .inr.-detail {
  padding-bottom: 100px;
}
.news-fv .inr.-detail .day {
  position: relative;
  display: inline-block;
  margin-left: 4.8611111111%;
  font-size: 1.25cqw;
  margin-right: 0.6944444444cqw;
  -webkit-transition: color 0.4s var(--easeOutSine);
  transition: color 0.4s var(--easeOutSine);
  color: var(--base-text-color02);
  z-index: 20;
}
.news-fv .inr.-detail .cate {
  position: relative;
  display: inline-block;
  font-size: 0.9722222222cqw;
  font-weight: 500;
  padding: 5px 0.9027777778cqw 7px;
  background: var(--base-color-black);
  color: var(--base-color-white);
  border-radius: 0.9027777778cqw;
  -webkit-transform: translateY(-0.2083333333cqw);
          transform: translateY(-0.2083333333cqw);
  z-index: 20;
}
@media screen and (min-width: 801px) {
  .news-fv .inr.-detail .cate:hover {
    background: var(--base-btn-color01-hv);
  }
}
.news-fv .inr.-detail h1 {
  font-size: 3.75cqw;
  line-height: 1.1851851852;
  color: var(--base-btn-color03);
  font-weight: 500;
  width: 83.3333333333%;
  -webkit-transform: scaleX(0.75);
          transform: scaleX(0.75);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  margin-top: 1.7361111111cqw;
}
@media screen and (max-width: 1050px) {
  .news-fv .inr {
    width: 80%;
    padding-top: 14.0625cqw;
    padding-bottom: 28.125cqw;
  }
  .news-fv .inr h1 {
    width: 32.1875%;
    margin-left: 0;
    margin-bottom: 6.25cqw;
  }
  .news-fv .inr .en {
    font-size: min(18px, 3.4375cqw);
    margin-right: 1.2rem;
    min-width: 60px;
  }
  .news-fv .inr .ja {
    font-size: min(40px, 11.5625cqw);
  }
  .news-fv .inr .pan {
    margin-left: 0;
  }
  .news-fv .inr .pan a {
    font-size: min(15px, 3.75cqw);
    margin-right: 28px;
  }
  .news-fv .inr .pan a:after {
    left: calc(100% + 12px);
    font-size: min(23px, 6.5625cqw);
    -webkit-transform: translateY(-59%);
            transform: translateY(-59%);
  }
  .news-fv .inr .pan p {
    font-size: min(15px, 3.75cqw);
  }
  .news-fv .inr .cloud.-left {
    width: 148.59375%;
    right: 48.4375%;
    bottom: -21.875cqw;
  }
  .news-fv .inr .cloud.-right {
    width: 225.3125%;
    left: 33.125%;
    bottom: -12.5cqw;
  }
  .news-fv .inr .town_bg {
    height: 75px;
    background-size: 835px 75px;
    bottom: 30px;
  }
  .news-fv .inr.-detail {
    padding-bottom: 15.625cqw;
  }
  .news-fv .inr.-detail .day {
    margin-left: 0;
    font-size: 4.375cqw;
    margin-right: 4.375cqw;
  }
  .news-fv .inr.-detail .cate {
    font-size: 4.0625cqw;
    padding: 5px 3.125cqw 7px;
    border-radius: 3.90625cqw;
    -webkit-transform: translateY(-0.46875cqw);
            transform: translateY(-0.46875cqw);
  }
  .news-fv .inr.-detail h1 {
    font-size: 11.5625cqw;
    line-height: 1.2162162162;
    width: 130%;
    -webkit-transform: scaleX(0.75);
            transform: scaleX(0.75);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    margin-top: 3.125cqw;
  }
}

/* ==========================================================================
	news_wrap
========================================================================== */
.news_wrap {
  position: relative;
  z-index: 30;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, transparent), color-stop(5%, #f8ffff), to(var(--base-bg-color05)));
  background: linear-gradient(to bottom, transparent 5%, #f8ffff 5%, var(--base-bg-color05) 100%);
}
.news_wrap .base-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  container-type: inline-size;
}
.news_wrap .base-wrap.-archive {
  background: var(--base-bg-color06);
}
.news_wrap .base-wrap.-nf {
  background: var(--base-bg-color06);
}
.news_wrap .base-wrap .bird {
  position: absolute;
  z-index: 30;
}
.news_wrap .base-wrap .bird01 {
  width: 12.6428571429cqw;
  right: 16.4285714286cqw;
  top: -22.8571428571cqw;
}
.news_wrap .base-wrap .bird02 {
  width: 14.9285714286cqw;
  right: 3.5714285714cqw;
  top: -13.3571428571cqw;
  --W:209;
  --H:224;
}
.news_wrap .base-wrap .bird02:after {
  --bW:109;
  --bT:-75;
  --bL:105;
  --imgURL: url("../img/news/fv-bird02-sb.png");
  aspect-ratio: 109/65;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.news_wrap .base-wrap .categorys {
  position: absolute;
  left: -3.33vw;
  top: -80px;
  width: 24.2857142857cqw;
  padding-top: 3.4285714286cqw;
  padding-bottom: 4.6428571429cqw;
  border-radius: 0 60px 60px 0;
  background: var(--base-btn-color03);
  overflow: hidden;
  z-index: 30;
}
@media screen and (min-width: 1920px) {
  .news_wrap .base-wrap .categorys {
    border-radius: 60px;
  }
}
.news_wrap .base-wrap .categorys:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: url(../img/common/texture.webp);
  background-size: 1154px 606px;
  opacity: 0.2;
  mix-blend-mode: soft-light;
  border-radius: 0 60px 60px 0;
}
.news_wrap .base-wrap .categorys .tit_area {
  padding-bottom: 2.7142857143cqw;
  padding-left: 17.6470588235%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news_wrap .base-wrap .categorys h2 {
  width: 13.5714285714cqw;
  padding-bottom: 1cqw;
}
.news_wrap .base-wrap .categorys .en-tit {
  display: block;
  font-size: 1.1428571429cqw;
  color: var(--base-color-white);
}
.news_wrap .base-wrap .categorys ul {
  padding-top: 4.2857142857cqw;
  padding-left: 17.6470588235%;
  border-top: 1px solid var(--base-border-color08);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news_wrap .base-wrap .categorys li + li {
  margin-top: 2.1428571429cqw;
}
.news_wrap .base-wrap .categorys a {
  position: relative;
  display: table;
  padding-left: 1.7857142857cqw;
  font-size: 1.1428571429cqw;
  font-weight: 500;
  color: var(--base-color-white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news_wrap .base-wrap .categorys a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.5714285714cqw;
  width: 0.5714285714cqw;
  height: 0.2142857143cqw;
  border-radius: 0.2857142857cqw;
  background: var(--base-text-color02);
}
.news_wrap .base-wrap .categorys a .en {
  display: inline-block;
  margin-left: 8px;
  font-size: 1cqw;
  color: var(--base-color-white);
}
@media screen and (min-width: 801px) {
  .news_wrap .base-wrap .categorys a:hover {
    opacity: 0.6;
  }
}
.news_wrap .base-wrap .archive_wrap {
  position: relative;
  width: 61.4285714286%;
  padding-top: 120px;
  padding-bottom: 130px;
  margin-left: 30cqw;
}
.news_wrap .base-wrap .archive_wrap .non-text {
  font-size: 1.2857142857cqw;
  line-height: 2;
  font-weight: 500;
}
.news_wrap .base-wrap .archive_wrap.-wrap_404 {
  margin: 0 auto;
  text-align: center;
}
.news_wrap .base-wrap .archive_wrap.-wrap_404 h3 {
  font-size: 2.8571428571cqw;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08em;
  color: var(--base-btn-color03);
  margin-bottom: 6rem;
}
.news_wrap .base-wrap .archive_wrap.-wrap_404 .text-404 {
  font-size: 1.1428571429cqw;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 4rem;
}
.news_wrap .base-wrap .archive_wrap.-wrap_404 .link_wrap {
  margin-inline: auto;
}
.news_wrap .base-wrap .news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 120;
}
.news_wrap .base-wrap .news-link + .news-link {
  margin-top: 4.6428571429cqw;
}
.news_wrap .base-wrap .news-link .img_area {
  position: relative;
  width: 41.1764705882%;
  aspect-ratio: 700/480;
  border: 1px solid var(--base-color-white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.4s var(--easeOutSine), -webkit-transform 0.4s var(--easeOutSine);
  transition: opacity 0.4s var(--easeOutSine), -webkit-transform 0.4s var(--easeOutSine);
  transition: transform 0.4s var(--easeOutSine), opacity 0.4s var(--easeOutSine);
  transition: transform 0.4s var(--easeOutSine), opacity 0.4s var(--easeOutSine), -webkit-transform 0.4s var(--easeOutSine);
}
.news_wrap .base-wrap .news-link .img_area:before {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: var(--base-color-green);
  -webkit-transition: opacity 0.4s var(--easeOutSine);
  transition: opacity 0.4s var(--easeOutSine);
}
.news_wrap .base-wrap .news-link .img_area .img_inr {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}
.news_wrap .base-wrap .news-link .img_area img {
  z-index: 10;
}
.news_wrap .base-wrap .news-link .link_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 7.0588235294%;
}
.news_wrap .base-wrap .news-link .en {
  display: inline-block;
  font-size: 1.2857142857cqw;
  margin-right: 0.7142857143cqw;
  -webkit-transition: color 0.4s var(--easeOutSine);
  transition: color 0.4s var(--easeOutSine);
  color: var(--base-text-color02);
}
.news_wrap .base-wrap .news-link .cate {
  display: inline-block;
  font-size: 1cqw;
  padding: 0.3571428571cqw 0.9285714286cqw;
  background: var(--base-color-black);
  color: var(--base-color-white);
  border-radius: 0.9285714286cqw;
  -webkit-transform: translateY(-0.2142857143cqw);
          transform: translateY(-0.2142857143cqw);
}
.news_wrap .base-wrap .news-link p {
  font-size: 1.2857142857cqw;
  font-weight: 500;
  --lh:calc(30/18);
  position: relative;
  line-height: calc(var(--lh) * 1em);
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  color: var(--base-text-color02);
  margin-top: 0.9285714286cqw;
}
.news_wrap .base-wrap .news-link p::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-top: calc((1 - var(--lh)) * 0.5em);
}
.news_wrap .base-wrap .news-link p::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-bottom: calc((1 - var(--lh)) * 0.5em);
}
@media screen and (min-width: 801px) {
  .news_wrap .base-wrap .news-link:hover .img_area {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  .news_wrap .base-wrap .news-link:hover .img_area img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .news_wrap .base-wrap .news-link:hover p {
    font-weight: 700;
  }
}
.news_wrap .base-wrap .archive-pager_wrap {
  margin-left: 30cqw;
  margin-bottom: 150px;
}
.news_wrap .base-wrap .detail_wrap {
  position: relative;
  width: 85%;
  margin-left: auto;
  border-radius: 60px;
  padding-bottom: 10cqw;
  background: var(--base-bg-color06);
}
.news_wrap .base-wrap .detail_wrap:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../img/common/bg-pattern.webp);
  background-size: cover;
  opacity: 0.7;
  mix-blend-mode: soft-light;
  pointer-events: none;
  border-radius: 60px;
  z-index: 1;
}
.news_wrap .base-wrap .detail_wrap .main-image {
  position: relative;
  width: 97.8151260504%;
  margin: 0.7857142857cqw auto 7.8571428571cqw;
  aspect-ratio: 2328/1535;
  border-radius: 50px;
  overflow: hidden;
  z-index: 10;
}
.news_wrap .base-wrap .detail_wrap .kiji_area {
  position: relative;
  width: 100%;
  padding: 0 5.3571428571% 8.5714285714% 11.4285714286%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  border-bottom: 1px solid var(--base-border-color06);
}
.news_wrap .base-wrap .detail_wrap .kiji_area .tit_area {
  margin-bottom: 2.1428571429cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area .tit_area h2 {
  font-size: 3.4285714286cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area .tit_area .en {
  font-size: 1.4285714286cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area h2:not([class]) {
  font-size: 3.4285714286cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area h3:not([class]) {
  font-size: 2.1428571429cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area p:not([class]), .news_wrap .base-wrap .detail_wrap .kiji_area a:not([class]) {
  font-size: 1.1428571429cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area ol li {
  font-size: 1.1428571429cqw;
  padding-left: 0.8571428571cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area ul li {
  font-size: 1.1428571429cqw;
  padding-left: 0.8571428571cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area ul li:before {
  top: 0.8571428571cqw;
  width: 0.5cqw;
  height: 0.2142857143cqw;
  border-radius: 0.2142857143cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area .link_btn {
  width: auto;
  aspect-ratio: auto;
  padding: 1.2142857143cqw 5.3571428571cqw 1.2142857143cqw 2.8571428571cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area .link_btn .arrow {
  right: 2.1428571429cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area .link_btn img {
  border: none;
}
.news_wrap .base-wrap .detail_wrap .kiji_area blockquote {
  font-size: 1cqw;
}
.news_wrap .base-wrap .detail_wrap .kiji_area blockquote > *, .news_wrap .base-wrap .detail_wrap .kiji_area blockquote p:not([class]), .news_wrap .base-wrap .detail_wrap .kiji_area blockquote a:not([class]) {
  font-size: 1cqw;
}
.news_wrap .base-wrap .detail_wrap .d-pager_wrap {
  width: 89.9159663866%;
}
.news_wrap .base-wrap .detail_wrap .d-pager_wrap .pager_link {
  padding: 2.8037383178cqw 2.5700934579cqw 3.738317757cqw 3.0373831776cqw;
}
.news_wrap .base-wrap .detail_wrap .d-pager_wrap .img {
  width: 48.3870967742%;
  aspect-ratio: 300/200;
}
.news_wrap .base-wrap .detail_wrap .d-pager_wrap .img:before {
  left: 7px;
  top: 7px;
}
.news_wrap .base-wrap .detail_wrap .d-pager_wrap .text_area {
  width: 45.1612903226%;
}
.news_wrap .base-wrap .detail_wrap .d-pager_wrap .text_area p {
  margin-top: 0.8411214953cqw;
  font-size: 1.4953271028cqw;
}
@media screen and (max-width: 1050px) {
  .news_wrap .base-wrap {
    display: block;
    border-radius: 30px;
    background: var(--base-bg-color06);
  }
  .news_wrap .base-wrap.-nf {
    padding-bottom: 0;
  }
  .news_wrap .base-wrap:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--base-text-color);
    border-radius: 30px;
    z-index: 10;
    pointer-events: none;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000), color-stop(5.5%, #000), color-stop(5.5%, transparent), color-stop(94.5%, transparent), color-stop(94.5%, #000), to(#000));
    -webkit-mask-image: linear-gradient(to right, #000 0, #000 5.5%, transparent 5.5%, transparent 94.5%, #000 94.5%, #000 100%);
            mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000), color-stop(5.5%, #000), color-stop(5.5%, transparent), color-stop(94.5%, transparent), color-stop(94.5%, #000), to(#000));
            mask-image: linear-gradient(to right, #000 0, #000 5.5%, transparent 5.5%, transparent 94.5%, #000 94.5%, #000 100%);
  }
  .news_wrap .base-wrap:before {
    border-radius: 30px;
  }
  .news_wrap .base-wrap .bird01 {
    width: 23.2894736842cqw;
    right: 24.3421052632cqw;
    top: -44.7368421053cqw;
  }
  .news_wrap .base-wrap .bird02 {
    width: 27.2368421053cqw;
    right: 0.3947368421cqw;
    top: -29.2105263158cqw;
    --W:207;
    --H:222;
  }
  .news_wrap .base-wrap .bird02:after {
    --bW:142;
    --bT:-116;
    --bL:60;
    --imgURL: url("../img/news/fv-bird02-sb-sp.png");
    aspect-ratio: 142/98;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .news_wrap .base-wrap .categorys {
    position: relative;
    top: auto;
    left: auto;
    width: 89.4736842105%;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    margin: 0 auto;
    padding: 0;
    border-radius: 30px;
  }
  .news_wrap .base-wrap .categorys:after {
    border-radius: 30px;
  }
  .news_wrap .base-wrap .categorys .tit_area {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 80px;
    padding: 20px 6.25vw;
    height: auto;
  }
  .news_wrap .base-wrap .categorys .tit_area h2 {
    width: 27.5cqw;
    padding-bottom: 0;
  }
  .news_wrap .base-wrap .categorys .tit_area .en-tit {
    font-size: 2.6315789474cqw;
    margin-left: 3.9473684211cqw;
  }
  .news_wrap .base-wrap .categorys .tit_area .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../img/news/conditions_btn-bg-sp.jpg);
    background-size: cover;
    border-radius: 20px;
    z-index: 10;
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease;
  }
  .news_wrap .base-wrap .categorys .tit_area.is-active .btn {
    background-image: url(../img/news/conditions_btn-bg02-sp.jpg);
  }
  .news_wrap .base-wrap .categorys ul {
    display: none;
    padding: 30px 6.25vw;
  }
  .news_wrap .base-wrap .categorys li + li {
    margin-top: 4.6052631579cqw;
  }
  .news_wrap .base-wrap .categorys a {
    padding-left: 6.5789473684cqw;
    font-size: 3.1578947368cqw;
  }
  .news_wrap .base-wrap .categorys a:before {
    top: 1.0526315789cqw;
    width: 1.9736842105cqw;
    height: 0.7894736842cqw;
    border-radius: 0.7894736842cqw;
  }
  .news_wrap .base-wrap .categorys a .en {
    margin-left: 10px;
    font-size: 2.8947368421cqw;
  }
  .news_wrap .base-wrap .archive_wrap {
    width: 84.2105263158%;
    padding-top: 0;
    margin: 0 auto;
    padding-bottom: 70px;
  }
  .news_wrap .base-wrap .archive_wrap .non-text {
    font-size: 2.3684210526cqw;
  }
  .news_wrap .base-wrap .archive_wrap.-wrap_404 {
    padding-top: 15.7894736842cqw;
    padding-bottom: 15.7894736842cqw;
  }
  .news_wrap .base-wrap .archive_wrap.-wrap_404 h3 {
    font-size: min(45px, 7.8947368421cqw);
    margin-bottom: 4rem;
  }
  .news_wrap .base-wrap .archive_wrap.-wrap_404 .text-404 {
    font-size: min(17px, 3.6842105263cqw);
  }
  .news_wrap .base-wrap .news-link {
    display: block;
    margin-top: 0;
  }
  .news_wrap .base-wrap .news-link + .news-link {
    margin-top: 9.8684210526cqw;
  }
  .news_wrap .base-wrap .news-link .img_area {
    position: relative;
    width: 100%;
    aspect-ratio: 700/480;
    border: 1px solid var(--base-color-white);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: opacity 0.4s var(--easeOutSine), -webkit-transform 0.4s var(--easeOutSine);
    transition: opacity 0.4s var(--easeOutSine), -webkit-transform 0.4s var(--easeOutSine);
    transition: transform 0.4s var(--easeOutSine), opacity 0.4s var(--easeOutSine);
    transition: transform 0.4s var(--easeOutSine), opacity 0.4s var(--easeOutSine), -webkit-transform 0.4s var(--easeOutSine);
  }
  .news_wrap .base-wrap .news-link .img_area:before {
    left: 5px;
    top: 5px;
  }
  .news_wrap .base-wrap .news-link .link_text {
    display: block;
    margin-left: 0;
    margin-top: 6.5789473684cqw;
  }
  .news_wrap .base-wrap .news-link .en {
    font-size: 3.6842105263cqw;
    margin-right: 1.3157894737cqw;
  }
  .news_wrap .base-wrap .news-link .cate {
    font-size: 3.4210526316cqw;
    padding: 0.7894736842cqw 2.6315789474cqw;
    border-radius: 6.5789473684cqw;
    -webkit-transform: translateY(-0.3947368421cqw);
            transform: translateY(-0.3947368421cqw);
  }
  .news_wrap .base-wrap .news-link p {
    font-size: 4.2105263158cqw;
    margin-top: 1.7105263158cqw;
  }
  .news_wrap .base-wrap .archive-pager_wrap {
    margin: 0 auto min(90px, 19.7368421053cqw);
  }
  .news_wrap .base-wrap .detail_wrap {
    width: 94.7368421053%;
    margin-left: auto;
    border-radius: 30px;
    margin: -20px auto 0;
    padding-bottom: 0;
    background: none;
  }
  .news_wrap .base-wrap .detail_wrap:before {
    display: none;
  }
  .news_wrap .base-wrap .detail_wrap:after {
    display: none;
  }
  .news_wrap .base-wrap .detail_wrap .main-image {
    width: 100%;
    margin: 0 auto 14.4736842105cqw;
    border-radius: 25px;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area {
    position: relative;
    width: 100%;
    padding: 0 4.6052631579% 15.7894736842%;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area .tit_area {
    margin-bottom: 7.8947368421cqw;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area .tit_area h2 {
    font-size: min(45px, 7.8947368421cqw);
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area .tit_area .en {
    font-size: 2.8947368421cqw;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area h2:not([class]) {
    font-size: min(45px, 7.8947368421cqw);
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area h3:not([class]) {
    font-size: min(30px, 5.5263157895cqw);
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area p:not([class]), .news_wrap .base-wrap .detail_wrap .kiji_area a:not([class]) {
    font-size: min(17px, 3.6842105263cqw);
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area ol li {
    font-size: min(17px, 3.6842105263cqw);
    padding-left: 5.2631578947cqw;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area ul li {
    font-size: min(17px, 3.6842105263cqw);
    padding-left: 5.2631578947cqw;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area ul li:before {
    top: 3.1578947368cqw;
    width: 1.8421052632cqw;
    height: 0.7894736842cqw;
    border-radius: 0.7894736842cqw;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area .link_wrap {
    width: 100%;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area .link_btn {
    width: 100%;
    padding: 3.9473684211cqw 13.1578947368cqw 3.9473684211cqw 8.5526315789cqw;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area .link_btn .arrow {
    right: 5.2631578947cqw;
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area blockquote {
    font-size: min(15px, 3.6842105263cqw);
  }
  .news_wrap .base-wrap .detail_wrap .kiji_area blockquote > *, .news_wrap .base-wrap .detail_wrap .kiji_area blockquote p:not([class]), .news_wrap .base-wrap .detail_wrap .kiji_area blockquote a:not([class]) {
    font-size: min(15px, 3.6842105263cqw);
  }
  .news_wrap .base-wrap .detail_wrap .d-pager_wrap {
    width: 89.4736842105%;
    padding-bottom: 50px;
  }
  .news_wrap .base-wrap .detail_wrap .d-pager_wrap .pager_link {
    padding: 7.3529411765cqw 8.8235294118cqw 8.8235294118cqw 9.5588235294cqw;
  }
  .news_wrap .base-wrap .detail_wrap .d-pager_wrap .img {
    width: 48.3870967742%;
    aspect-ratio: 300/200;
  }
  .news_wrap .base-wrap .detail_wrap .d-pager_wrap .img:before {
    left: 3px;
    top: 3px;
  }
  .news_wrap .base-wrap .detail_wrap .d-pager_wrap .text_area {
    width: 45.1612903226%;
  }
  .news_wrap .base-wrap .detail_wrap .d-pager_wrap .text_area p {
    margin-top: 3.6764705882cqw;
    font-size: 3.8235294118cqw;
  }
  .news_wrap .base-wrap .detail_wrap .d-pager_wrap .link_btn {
    aspect-ratio: 230/50;
  }
  .news_wrap .base-wrap .detail_wrap .d-pager_wrap .link_btn .text {
    font-size: 16px;
  }
}