@charset "UTF-8";
/* ==========================================================================
	transition
========================================================================== */
/* ==========================================================================
	行数でトリミング
========================================================================== */
/* ==========================================================================
	コンテナクエリ
========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@100;400;700&display=swap");
:root {
  --base-max-width:1920;
  --base-pc-width:1500;
  --base-sp-width:400;
  --vwPC: calc(100vw / 1500);
  --vwSP: calc(100vw / 400);
  --easeInQuad:cubic-bezier(.55, .085, .68, .53);
  --easeInQuint:cubic-bezier(0.0, 0, 0.99, 0);
  --easeOutQuad:cubic-bezier(0.23, 1, 0.32, 1);
  --easeOutQuint:cubic-bezier(.25, .46, .45, .94);
  --easeOutSine:cubic-bezier(0.39, 0.575, 0.565, 1);
  --easeOutCubic:cubic-bezier(0.215, 0.61, 0.355, 1);
  --easeInOutQuad:cubic-bezier(0.45, 0, 0.55, 1);
  --easeInOutCubic:cubic-bezier(0.65, 0, 0.35, 1);
  --easePopUp:cubic-bezier(0.17, 0.88, 0.30, 1.28);
  --easeInCirc:cubic-bezier(0.55, 0, 1, 0.45);
  --theme-color:#b93937;
  --base-text-color:#29221f;
  --base-text-color02:#1e525a;
  --base-text-color03:#383838;
  --base-text-color04:#3a3939;
  --base-bg-color:#e8ebed;
  --base-bg-color02:#fafcfd;
  --base-bg-color03:#c3ced5;
  --base-bg-color04:#f5f5f5;
  --base-bg-color05:#c5fcfd;
  --base-bg-color06:#e6f0f2;
  --base-bg-color07:#f1f1f1;
  --base-bg-color08:#f6f6f6;
  --base-bg-color09:#eee;
  --base-bg-color10:#c9d9dc;
  --base-bg-color11:#b9fbfc;
  --base-bg-color12:#0c405b;
  --base-color-green:#32929e;
  --base-color-green02:#9dd1d0;
  --base-color-green03:#2c6c76;
  --base-color-green04:#2c6c76;
  --base-color-green05:#309c9d;
  --base-color-green06:#207372;
  --base-color-green07:#27989b;
  --base-color-green08:#4eb0b2;
  --base-color-green09:#2b9594;
  --base-color-green10:#5eb195;
  --base-color-green11:#cbedef;
  --base-color-green12:#d7f1f1;
  --base-color-green13:#3da4a3;
  --base-color-green14:#58a783;
  --base-color-green15:#206e81;
  --base-color-wood:#6d240e;
  --base-color-blue:#14a5b6;
  --base-color-blue02:#32a4ab;
  --base-color-blue03:#37a9af;
  --base-color-mizu:#00b4b2;
  --base-color-orange:#e78a14;
  --base-color-black:#29221f;
  --base-color-black02:#131313;
  --base-color-white:#fff;
  --base-color-white02:#f1f3f4;
  --base-color-gray:#888;
  --base-color-gray02:#777;
  --base-color-gray03:#8a979f;
  --base-color-gray04:#e5e5e5;
  --base-color-gray05:#a4a4a4;
  --base-color-gray06:#ccc;
  --base-color-gray07:#b4c0c8;
  --base-color-gold:#977f4b;
  --base-color-silver:#97a4ad;
  --base-color-bronze:#664e1a;
  --base-border-color:#000;
  --base-border-color02:#d2d2d2;
  --base-border-color03:#a8a9a8;
  --base-border-color04:#d3d9dd;
  --base-border-color05:#eaeaea;
  --base-border-color06:#ddd;
  --base-border-color07:#e6e6e6;
  --base-border-color08:#188383;
  --base-border-color09:#1c0604;
  --base-shadow-color:#ade2e3;
  --base-color-uchi:#c13e02;
  --base-color-soto:#32a4ab;
  --base-btn-color01:#1f858b;
  --base-btn-color01-hv:#137a80;
  --base-btn-color02:#c93c02;
  --base-btn-color02-hv:#ba3600;
  --base-btn-color03:#3da4a3;
  --base-btn-color01-hv:#137a80;
  --base-bubble-bg:#dbe2e2;
  --base-bubble-bg02:#cff0f1;
  --base-bubble-bg03:#a8c4c4;
  --hanten:scale(-1, -1);
  --hantenX:scale(-1, 1);
  --hantenY:scaleY(-1);
  --transition-scale:transform 0.8s var(--easeOutCubic);
  --en: "Marcellus", sans-serif;
  --gothic: "Zen Kaku Gothic New","Zen Kaku Gothic Antique",sans-serif;
  --line-seed:"LINE Seed JP", sans-serif;
  --delay: 0s;
}

:root {
  --head-mt:100px;
}

@media screen and (max-width: 800px) {
  :root {
    --head-mt:80px;
  }
}
@media screen and (min-width: 801px) {
  :root {
    --vwPC: calc(100vw / 1500);
    --fz8: max(.8rem, 8px);
    --fz9: max(.9rem, 9px);
    --fz10: max(1rem, 9px);
    --fz11: max(1.1rem, 10px);
    --fz12: max(1.2rem, 11px);
    --fz13: max(1.3rem, 12px);
    --fz14: max(1.4rem, 12px);
    --fz15: max(1.5rem, 13px);
    --fz16: max(1.6rem, 14px);
    --fz17: max(1.7rem, 15px);
    --fz18: max(1.8rem, 16px);
    --fz19: max(1.9rem, 17px);
    --fz20: max(2.0rem, 18px);
    --fz21: max(2.1rem, 18px);
    --fz22: max(2.2rem, 18px);
    --fz23: max(2.3rem, 20px);
    --fz24: max(2.4rem, 20px);
    --fz25: max(2.5rem, 21px);
    --fz26: max(2.6rem, 22px);
    --fz27: max(2.7rem, 23px);
    --fz28: max(2.8rem, 24px);
    --fz29: max(2.9rem, 25px);
    --fz30: max(3rem, 26px);
    --fz32: max(3.2rem, 28px);
    --fz33: max(3.3rem, 29px);
    --fz34: max(3.4rem, 30px);
    --fz35: max(3.5rem, 31px);
    --fz36: max(3.6rem, 32px);
    --fz37: max(3.7rem, 33px);
    --fz38: max(3.8rem, 34px);
    --fz39: max(3.9rem, 35px);
    --fz40: max(4rem, 36px);
    --fz41: max(4.1rem, 37px);
    --fz42: max(4.2rem, 38px);
    --fz44: max(4.4rem, 40px);
    --fz45: max(4.5rem, 41px);
    --fz46: max(4.6rem, 42px);
    --fz48: max(4.8rem, 44px);
    --fz50: max(5rem, 48px);
    --fz52: max(5.2rem, 48px);
    --fz54: max(5.4rem, 50px);
    --fz55: max(5.5rem, 51px);
    --fz56: max(5.6rem, 52px);
    --fz58: max(5.8rem, 54px);
    --fz59: max(5.9rem, 55px);
    --fz60: max(6rem, 56px);
    --fz64: max(6.4rem, 60px);
    --fz72: max(7.2rem, 68px);
    --fz78: max(7.8rem, 74px);
    --fz96: max(9.6rem, 90px);
  }
}
@media screen and (max-width: 800px) {
  :root {
    --vwSP: calc(100vw / 400);
    --fz6: clamp(.6rem, calc(6 * var(--vwSP)), .8rem);
    --fz7: clamp(.7rem, calc(7 * var(--vwSP)), .9rem);
    --fz8: clamp(.8rem, calc(8 * var(--vwSP)), 1rem);
    --fz9: clamp(.9rem, calc(9 * var(--vwSP)), 1.1rem);
    --fz10: clamp(1rem, calc(10 * var(--vwSP)), 1.2rem);
    --fz11: clamp(1.1rem, calc(11 * var(--vwSP)), 1.3rem);
    --fz12: clamp(1.2rem, calc(12 * var(--vwSP)), 1.4rem);
    --fz13: clamp(1.3rem, calc(13 * var(--vwSP)), 1.4rem);
    --fz14: clamp(1.4rem, calc(14 * var(--vwSP)), 1.6rem);
    --fz15: clamp(1.5rem, calc(15 * var(--vwSP)), 1.7rem);
    --fz16: clamp(1.6rem, calc(16 * var(--vwSP)), 1.8rem);
    --fz17: clamp(1.7rem, calc(17 * var(--vwSP)), 1.9rem);
    --fz18: clamp(1.8rem, calc(18 * var(--vwSP)), 2rem);
    --fz19: clamp(1.9rem, calc(19 * var(--vwSP)), 2.1rem);
    --fz20: clamp(2rem, calc(20 * var(--vwSP)), 2.2rem);
    --fz21: clamp(2.1rem, calc(21 * var(--vwSP)), 2.3rem);
    --fz22: clamp(2.2rem, calc(22 * var(--vwSP)), 2.4rem);
    --fz23: clamp(2.3rem, calc(23 * var(--vwSP)), 2.5rem);
    --fz24: clamp(2.4rem, calc(24 * var(--vwSP)), 2.6rem);
    --fz25: clamp(2.5rem, calc(25 * var(--vwSP)), 2.7rem);
    --fz26: clamp(2.6rem, calc(26 * var(--vwSP)), 2.8rem);
    --fz27: clamp(2.7rem, calc(27 * var(--vwSP)), 2.9rem);
    --fz28: clamp(2.8rem, calc(28 * var(--vwSP)), 3rem);
    --fz30: clamp(3rem, calc(30 * var(--vwSP)), 3.2rem);
    --fz31: clamp(3.1rem, calc(31 * var(--vwSP)), 3.3rem);
    --fz32: clamp(3.2rem, calc(32 * var(--vwSP)), 3.5rem);
    --fz33: clamp(3.3rem, calc(33 * var(--vwSP)), 3.5rem);
    --fz34: clamp(3.4rem, calc(34 * var(--vwSP)), 3.7rem);
    --fz35: clamp(3.5rem, calc(35 * var(--vwSP)), 3.9rem);
    --fz37: clamp(3.7rem, calc(37 * var(--vwSP)), 4.1rem);
    --fz36: clamp(3.6rem, calc(36 * var(--vwSP)), 4rem);
    --fz38: clamp(3.8rem, calc(38 * var(--vwSP)), 4.2rem);
    --fz40: clamp(4rem, calc(40 * var(--vwSP)), 4.4rem);
    --fz42: clamp(4.2rem, calc(42 * var(--vwSP)), 4.6rem);
    --fz44: clamp(4.4rem, calc(44 * var(--vwSP)), 4.8rem);
    --fz45: clamp(4.5rem, calc(45 * var(--vwSP)), 4.9rem);
    --fz47: clamp(4.7rem, calc(47 * var(--vwSP)), 5.1rem);
    --fz48: clamp(4.8rem, calc(48 * var(--vwSP)), 5.2rem);
    --fz49: clamp(4.9rem, calc(49 * var(--vwSP)), 5.3rem);
    --fz51: clamp(5.1rem, calc(51 * var(--vwSP)), 5.6rem);
    --fz56: clamp(5.6rem, calc(56 * var(--vwSP)), 6rem);
    --fz64: clamp(6.4rem, calc(64 * var(--vwSP)), 6.8rem);
  }
}
/* ==========================================================================
	voice-fv
========================================================================== */
.voice-fv {
  position: relative;
  padding-top: var(--head-mt);
}
.voice-fv .inr {
  width: 96%;
  container-type: inline-size;
  padding-top: 160px;
  padding-bottom: 160px;
}
.voice-fv .inr h1 {
  position: relative;
  z-index: 20;
  width: 15.6944444444%;
  margin-left: 4.8611111111%;
  margin-bottom: 3rem;
  opacity: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000));
  -webkit-mask-image: linear-gradient(to right, #000 0 100%);
  mask-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000));
  mask-image: linear-gradient(to right, #000 0 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left top;
  mask-position: left top;
  -webkit-mask-size: 0% 100%;
  mask-size: 0% 100%;
  transition: opacity 0.4s ease, -webkit-mask-size 1.2s cubic-bezier(0.22, 1, 0.36, 1), mask-size 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.voice-fv .inr h1.move {
  opacity: 1;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.voice-fv .inr .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.voice-fv .inr .en {
  font-size: 1.3888888889cqw;
  color: var(--base-text-color02);
  margin-right: 2.5rem;
  letter-spacing: 0.08em;
}
.voice-fv .inr .ja {
  font-size: 4.1666666667cqw;
  font-weight: 500;
  color: var(--base-btn-color03);
}
.voice-fv .inr .pan {
  position: relative;
  margin-left: 4.8611111111%;
  z-index: 20;
  color: var(--base-btn-color03);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.voice-fv .inr .pan a {
  position: relative;
  display: inline-block;
  font-size: max(13px, 0.9027777778cqw);
  margin-right: 38px;
  -webkit-transition: color 0.4s var(--easeOutSine);
  transition: color 0.4s var(--easeOutSine);
  font-weight: 500;
  color: var(--base-btn-color03);
}
.voice-fv .inr .pan a:after {
  content: "›";
  display: block;
  position: absolute;
  left: calc(100% + 15px);
  top: 50%;
  -webkit-transform: translateY(-54%);
          transform: translateY(-54%);
  font-size: max(22px, 1.5277777778cqw);
  line-height: 1;
}
.voice-fv .inr .pan p {
  display: inline-block;
  font-size: max(13px, 0.9027777778cqw);
  font-weight: 500;
  text-decoration: underline;
}
.voice-fv .inr .cloud {
  display: block;
  position: absolute;
  z-index: 15;
}
.voice-fv .inr .cloud.-left {
  width: 65.4166666667%;
  right: 68.9583333333%;
  bottom: -2.0833333333cqw;
}
.voice-fv .inr .cloud.-right {
  width: 99.9305555556%;
  left: 64.5833333333%;
  bottom: -4.1666666667cqw;
}
.voice-fv .inr .town_bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 142px;
  background: url(../img/news/fv-town.webp) center repeat-x;
  background-size: 1580px 142px;
  z-index: 1;
}
.voice-fv .inr.-detail {
  padding-bottom: 100px;
}
.voice-fv .inr.-detail .day {
  position: relative;
  display: inline-block;
  margin-left: 4.8611111111%;
  font-size: 1.25cqw;
  margin-right: 0.6944444444cqw;
  -webkit-transition: color 0.4s var(--easeOutSine);
  transition: color 0.4s var(--easeOutSine);
  color: var(--base-text-color02);
  z-index: 20;
}
.voice-fv .inr.-detail .cate {
  position: relative;
  display: inline-block;
  font-size: 0.9722222222cqw;
  font-weight: 500;
  padding: 5px 0.9027777778cqw 7px;
  background: var(--base-color-black);
  color: var(--base-color-white);
  border-radius: 0.9027777778cqw;
  -webkit-transform: translateY(-0.2083333333cqw);
          transform: translateY(-0.2083333333cqw);
  z-index: 20;
}
@media screen and (min-width: 801px) {
  .voice-fv .inr.-detail .cate:hover {
    background: var(--base-btn-color01-hv);
  }
}
.voice-fv .inr.-detail h1 {
  font-size: 3.75cqw;
  line-height: 1.1851851852;
  color: var(--base-btn-color03);
  font-weight: 500;
  width: 83.3333333333%;
  -webkit-transform: scaleX(0.75);
          transform: scaleX(0.75);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  margin-top: 1.7361111111cqw;
}
@media screen and (max-width: 1050px) {
  .voice-fv .inr {
    width: 80%;
    padding-top: 14.0625cqw;
    padding-bottom: 28.125cqw;
  }
  .voice-fv .inr h1 {
    width: 32.1875%;
    margin-left: 0;
    margin-bottom: 6.25cqw;
  }
  .voice-fv .inr .en {
    font-size: min(18px, 3.4375cqw);
    margin-right: 1.2rem;
    min-width: 60px;
  }
  .voice-fv .inr .ja {
    font-size: min(40px, 11.5625cqw);
  }
  .voice-fv .inr .pan {
    margin-left: 0;
  }
  .voice-fv .inr .pan a {
    font-size: min(15px, 3.75cqw);
    margin-right: 28px;
  }
  .voice-fv .inr .pan a:after {
    left: calc(100% + 12px);
    font-size: min(23px, 6.5625cqw);
    -webkit-transform: translateY(-59%);
            transform: translateY(-59%);
  }
  .voice-fv .inr .pan p {
    font-size: min(15px, 3.75cqw);
  }
  .voice-fv .inr .cloud.-left {
    width: 148.59375%;
    right: 48.4375%;
    bottom: -21.875cqw;
  }
  .voice-fv .inr .cloud.-right {
    width: 225.3125%;
    left: 33.125%;
    bottom: -12.5cqw;
  }
  .voice-fv .inr .town_bg {
    height: 75px;
    background-size: 835px 75px;
    bottom: 30px;
  }
  .voice-fv .inr.-detail {
    padding-bottom: 15.625cqw;
  }
  .voice-fv .inr.-detail .day {
    margin-left: 0;
    font-size: 4.375cqw;
    margin-right: 4.375cqw;
  }
  .voice-fv .inr.-detail .cate {
    font-size: 4.0625cqw;
    padding: 5px 3.125cqw 7px;
    border-radius: 3.90625cqw;
    -webkit-transform: translateY(-0.46875cqw);
            transform: translateY(-0.46875cqw);
  }
  .voice-fv .inr.-detail h1 {
    font-size: 11.5625cqw;
    line-height: 1.2162162162;
    width: 130%;
    -webkit-transform: scaleX(0.75);
            transform: scaleX(0.75);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    margin-top: 3.125cqw;
  }
}

/* ==========================================================================
	intro
========================================================================== */
.intro {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#faffff), color-stop(13%, #faffff), color-stop(43%, #b9fbfc), to(#effefe));
  background: linear-gradient(to bottom, #faffff 0%, #faffff 13%, #b9fbfc 43%, #effefe 100%);
  padding-bottom: min(195px, 13.333vw);
  z-index: 20;
}
.intro .inr {
  container-type: inline-size;
  z-index: 20;
}
.intro .inr .text_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11.2244897959cqw;
  padding-bottom: 20.4081632653cqw;
  z-index: 30;
}
.intro .inr .text_wrap h2 {
  width: max(250px, 31.5306122449%);
  padding-top: 5.1020408163cqw;
}
.intro .inr .text_wrap p {
  width: 55.1020408163%;
  font-size: 1.6326530612cqw;
  line-height: 2.5;
  letter-spacing: -0.08em;
  font-weight: 500;
}
.intro .inr .bird {
  position: absolute;
  -webkit-animation: bird-float 6s ease-in-out infinite;
          animation: bird-float 6s ease-in-out infinite;
  z-index: 10;
}
.intro .inr .bird img {
  -webkit-animation: bird-sway 4.6s ease-in-out infinite;
          animation: bird-sway 4.6s ease-in-out infinite;
  will-change: transform;
  -webkit-transform-origin: 50% 60%;
          transform-origin: 50% 60%;
}
.intro .inr .bird01 {
  width: 24.2857142857%;
  top: -28.5714285714cqw;
  right: -17.8571428571cqw;
}
.intro .inr .bird02 {
  width: 28.6734693878%;
  top: -2.0408163265cqw;
  right: -32.6530612245cqw;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.intro .inr .cloud {
  position: absolute;
  z-index: 5;
}
.intro .inr .cloud01 {
  width: 100.1020408163%;
  top: 15.306122449cqw;
  right: 88.7755102041cqw;
}
.intro .inr .cloud02 {
  width: 120.1020408163%;
  top: 32.6530612245cqw;
  left: 65.306122449cqw;
}
.intro .intro-loop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  z-index: 20;
}
.intro .intro-loop__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
  will-change: transform;
  -webkit-animation: LoopX 90s infinite linear 1s both;
          animation: LoopX 90s infinite linear 1s both;
}
.intro .intro-loop__img {
  display: block;
  width: 980px;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 20px;
}
.intro .intro-loop__img:last-child {
  margin-right: 60px;
}
.intro .intro-loop__img:nth-child(odd) {
  margin-top: 95px;
}
.intro .town-bg {
  position: absolute;
  left: 0;
  bottom: 110px;
  width: 100%;
  height: 755px;
  z-index: 5;
  background: url(../img/partner/intro-town_bg.webp) center bottom;
  background-size: 3252px 755px;
  opacity: 0.4;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #000), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
  mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #000), to(transparent));
  mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
}
.intro .btm_cloud {
  position: absolute;
  z-index: 15;
  width: 1434px;
  left: calc(50% + 90px);
  bottom: 50px;
  z-index: 20;
}
@media screen and (max-width: 1050px) {
  .intro {
    padding-bottom: 115px;
  }
  .intro .inr {
    width: 82.5%;
  }
  .intro .inr .text_wrap {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 21.2121212121cqw;
    padding-bottom: 39.3939393939cqw;
  }
  .intro .inr .text_wrap h2 {
    width: max(220px, 66.6666666667%);
    padding-top: 0;
    padding-bottom: 21.9696969697cqw;
  }
  .intro .inr .text_wrap p {
    width: 100%;
    font-size: 3.9393939394cqw;
    line-height: 2.3571428571;
  }
  .intro .inr .bird01 {
    width: 35%;
    top: -3.3333333333cqw;
    right: -8.3333333333cqw;
  }
  .intro .inr .bird02 {
    width: 41.3636363636%;
    top: 31.8181818182cqw;
    right: -22.7272727273cqw;
  }
  .intro .inr .cloud01 {
    width: 148.4848484848%;
    top: 113.6363636364cqw;
    right: 60.6060606061cqw;
    opacity: 0.6;
  }
  .intro .inr .cloud02 {
    width: 148.4848484848%;
    top: 31.8181818182cqw;
    left: 48.4848484848cqw;
  }
  .intro .intro-loop {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    z-index: 30;
  }
  .intro .intro-loop__inner {
    gap: 30px;
    -webkit-animation: LoopX 50s infinite linear 1s both;
            animation: LoopX 50s infinite linear 1s both;
  }
  .intro .intro-loop__img {
    width: 490px;
    border-radius: 10px;
  }
  .intro .intro-loop__img:last-child {
    margin-right: 30px;
  }
  .intro .intro-loop__img:nth-child(odd) {
    margin-top: 40px;
  }
  .intro .town-bg {
    bottom: 215px;
    height: 302px;
    background-size: 1300px 302px;
  }
  .intro .btm_cloud {
    position: absolute;
    z-index: 15;
    width: 1434px;
    left: calc(50% + 90px);
    bottom: 50px;
    z-index: 20;
  }
}

/* ==========================================================================
	voice
========================================================================== */
.voice {
  position: relative;
  z-index: 30;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#effefe), to(var(--base-bg-color05)));
  background: linear-gradient(to bottom, #effefe, var(--base-bg-color05));
}
.voice .inr {
  position: relative;
  container-type: inline-size;
}
.voice .inr .illust_area {
  position: absolute;
  width: 39.3076923077%;
  right: -9.2307692308cqw;
  top: -20.7692307692cqw;
  aspect-ratio: 511/698;
}
.voice .inr .illust_area .duck {
  position: absolute;
  left: 0;
  bottom: 24.3553008596%;
  width: 36.2035225049%;
  --W:212;
  --H:186;
}
.voice .inr .illust_area .duck:after {
  --bW:199;
  --bT:-86;
  --bL:-70;
  --imgURL: url("../img/partner/voice-duck-sb.png");
  aspect-ratio: 199/65;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.voice .inr .illust_area .craftsman {
  position: absolute;
  top: 0;
  right: 0;
  width: 84.3444227006%;
}
.voice .inr h2 {
  width: 13%;
  margin: 0 auto 1.9230769231cqw;
}
.voice .inr .en-tit {
  display: block;
  text-align: center;
  font-size: 1.5384615385cqw;
  margin: 0 auto 11.5384615385cqw;
  color: var(--base-color-green15);
}
.voice .inr .partner-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 17.6923076923cqw;
}
.voice .inr .partner-box .img_area {
  width: 52.3076923077%;
  -webkit-transform: translateX(-13.8461538462cqw);
          transform: translateX(-13.8461538462cqw);
}
.voice .inr .partner-box .img_area .img img {
  position: relative;
  border-radius: 0 10px 10px 0;
  z-index: 10;
}
.voice .inr .partner-box .img_area .cloud {
  position: absolute;
  z-index: 20;
}
.voice .inr .partner-box .img_area:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10cqw;
  width: 82.3529411765%;
  aspect-ratio: 1120/600;
  border-radius: 0 10px 10px 0;
  background: url(../img/partner/voice-img_bg01.webp);
  background-size: cover;
  z-index: 1;
}
.voice .inr .partner-box .text_area {
  width: 43.0769230769%;
}
.voice .inr .partner-box .bubble_area {
  position: relative;
}
.voice .inr .partner-box .bubble_box {
  color: var(--text-color);
  background: var(--color);
  border-radius: 20px;
  padding: 3.0769230769cqw 3.3076923077cqw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 0 var(--base-bubble-bg03);
          box-shadow: 4px 4px 0 var(--base-bubble-bg03);
}
.voice .inr .partner-box .bubble_box .balloon_tail {
  position: absolute;
  bottom: -14px;
  width: 6px;
  height: 18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 10;
}
.voice .inr .partner-box .bubble_box .balloon_tail:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: 2;
}
.voice .inr .partner-box .bubble_box .balloon_tail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 100%;
  height: 100%;
  background: var(--base-bubble-bg03);
  z-index: 1;
}
.voice .inr .partner-box .bubble_box .balloon_tail.-br {
  right: 45px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.voice .inr .partner-box .bubble_box .balloon_tail.-br:after {
  top: 5px;
  left: 0px;
}
.voice .inr .partner-box .bubble_box .balloon_tail.-bl {
  left: 45px;
}
.voice .inr .partner-box .bubble_box .n_txt {
  font-size: 1.2307692308cqw;
  line-height: 2.125;
  font-weight: 500;
  letter-spacing: -0.06em;
}
.voice .inr .partner-box .bubble_box.-white {
  --text-color:var(--base-text-color04);
  --color:var(--base-color-white);
}
.voice .inr .partner-box .bubble_box.-green {
  --text-color:var(--base-color-white);
  --color:var(--base-color-green10);
}
.voice .inr .partner-box .bubble_box.-green02 {
  --text-color:var(--base-color-white);
  --color:var(--base-color-green13);
}
.voice .inr .partner-box .people-box {
  position: absolute;
  width: 9.2307692308cqw;
  -webkit-box-shadow: 4px 4px 0 #a8c4c4;
          box-shadow: 4px 4px 0 #a8c4c4;
  border-radius: 10px;
  z-index: 20;
}
.voice .inr .partner-box .people-box > img {
  border-radius: 10px;
}
.voice .inr .partner-box .people-box .name {
  position: absolute;
  display: table;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 87.5%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: var(--base-bg-color12);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 0 #a8c4c4;
          box-shadow: 4px 4px 0 #a8c4c4;
}
.voice .inr .partner-box .-bubble01 {
  margin-top: 4.6153846154cqw;
  -webkit-transform: translateX(-7.6923076923cqw);
          transform: translateX(-7.6923076923cqw);
}
.voice .inr .partner-box .-bubble01 .people-box {
  right: -7.6923076923cqw;
  top: -4.6153846154cqw;
}
.voice .inr .partner-box .-bubble02 {
  margin-top: 5.3846153846cqw;
}
.voice .inr .partner-box .-bubble02 .people-box {
  left: -7.6923076923cqw;
  top: 10cqw;
}
.voice .inr .partner-box .-bubble03 {
  -webkit-transform: translateX(5.3846153846cqw);
          transform: translateX(5.3846153846cqw);
}
.voice .inr .partner-box .-bubble03 .people-box {
  left: -7.6923076923cqw;
  top: 6.1538461538cqw;
}
.voice .inr .partner-box .-bubble04 {
  -webkit-transform: translateX(11.5384615385cqw);
          transform: translateX(11.5384615385cqw);
  margin-top: 5.3846153846cqw;
}
.voice .inr .partner-box .-bubble04 .people-box {
  left: -7.6923076923cqw;
  top: 10cqw;
}
.voice .inr .partner-box .-bubble05 {
  margin-top: 5.3846153846cqw;
  -webkit-transform: translateX(5.3846153846cqw);
          transform: translateX(5.3846153846cqw);
}
.voice .inr .partner-box .-bubble05 .people-box {
  left: -7.6923076923cqw;
  top: 6.1538461538cqw;
}
.voice .inr .partner-box .-bubble06 {
  -webkit-transform: translateX(11.5384615385cqw);
          transform: translateX(11.5384615385cqw);
  margin-top: 5.3846153846cqw;
}
.voice .inr .partner-box .-bubble06 .people-box {
  left: -7.6923076923cqw;
  top: 10cqw;
}
.voice .inr .partner-box .-bubble07 {
  margin-top: 4.6153846154cqw;
  -webkit-transform: translateX(-7.6923076923cqw);
          transform: translateX(-7.6923076923cqw);
}
.voice .inr .partner-box .-bubble07 .people-box {
  right: -7.6923076923cqw;
  top: -4.6153846154cqw;
}
.voice .inr .partner-box .-bubble08 {
  margin-top: 6.1538461538cqw;
}
.voice .inr .partner-box .-bubble08 .people-box {
  left: -7.6923076923cqw;
  top: 5.3846153846cqw;
}
.voice .inr .partner-box.-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.voice .inr .partner-box.-rev .img_area {
  width: 35.3846153846%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.voice .inr .partner-box.-rev .img_area img {
  border-radius: 10px;
}
.voice .inr .partner-box.-rev .img_area:after {
  content: "";
  display: block;
  position: absolute;
  left: 26.0869565217%;
  bottom: -10cqw;
  width: 97.8260869565%;
  aspect-ratio: 900/620;
  border-radius: 10px;
  background: url(../img/partner/voice-img_bg02.webp);
  background-size: cover;
  z-index: 1;
}
.voice .inr .partner-box.-box01 .cloud {
  width: 160.4411764706%;
  right: 11.7647058824%;
  top: -60.4166666667%;
  opacity: 0.95;
}
.voice .inr .partner-box.-box02 {
  margin-bottom: 7.6923076923cqw;
}
.voice .inr .partner-box.-box02 .cloud {
  width: 208.9130434783%;
  left: 31.3043478261%;
  top: 82.2580645161%;
}
.voice .inr .partner-box.-box03 {
  margin-bottom: 0;
}
.voice .inr .partner-box.-box03 .cloud {
  width: 160.4411764706%;
  right: 36.7647058824%;
  top: 66.6666666667%;
  opacity: 0.95;
}
.voice .inr.-w980 {
  position: relative;
  container-type: inline-size;
}
.voice .inr.-w980 h3 {
  width: 31.6326530612%;
  margin-top: 24.4897959184cqw;
  margin-bottom: 6.1224489796cqw;
}
.voice .inr.-w980 .n_txt {
  font-size: 1.6326530612cqw;
  line-height: 2.5;
  font-weight: 500;
  letter-spacing: -0.06em;
  margin-bottom: 14.2857142857cqw;
}
.voice .inr.-w980 .risu {
  position: absolute;
  width: 21.6326530612%;
  left: 63.7755102041%;
  bottom: 12.2448979592cqw;
  --W:212;
  --H:186;
}
.voice .inr.-w980 .risu:after {
  --bW:179;
  --bT:-78;
  --bL:-65;
  --imgURL: url("../img/partner/voice-btm_risu-sb.png");
  aspect-ratio: 179/65;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.voice .inr.-w980 .kumonchu {
  position: absolute;
  width: 43.9795918367%;
  left: 75.5102040816%;
  bottom: -8.1632653061cqw;
  --W:431;
  --H:587;
}
.voice .inr.-w980 .kumonchu:after {
  --bW:164;
  --bT:0;
  --bL:-40;
  --imgURL: url("../img/partner/voice-btm_kumonchu-sb.png");
  aspect-ratio: 164/65;
}
.voice .voice-loop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  z-index: 30;
}
.voice .voice-loop + .voice-loop {
  margin-top: 30px;
}
.voice .voice-loop.-loop02 .voice-loop__inner {
  -webkit-animation: LoopX-rev 90s infinite linear 1s both;
          animation: LoopX-rev 90s infinite linear 1s both;
}
.voice .voice-loop__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  will-change: transform;
  -webkit-animation: LoopX 90s infinite linear 1s both;
          animation: LoopX 90s infinite linear 1s both;
}
.voice .voice-loop__img {
  display: block;
  width: 230px;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.voice .voice-loop__img:last-child {
  margin-right: 30px;
}
@media screen and (min-width: 1051px) {
  .voice .voice-loop.-loop04 {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .voice {
    padding-bottom: 3rem;
  }
  .voice .inr {
    width: 85%;
  }
  .voice .inr .illust_area {
    position: relative;
    width: 90%;
    right: auto;
    top: auto;
    margin-left: auto;
    margin-bottom: 22.0588235294cqw;
  }
  .voice .inr .illust_area .duck {
    position: absolute;
    left: 0;
    bottom: 24.3553008596%;
    width: 35.9477124183%;
    --W:220;
    --H:238;
  }
  .voice .inr .illust_area .duck:after {
    --bW:328;
    --bT:-130;
    --bL:-80;
    --imgURL: url("../img/partner/voice-duck-sb-sp.png");
    aspect-ratio: 328/109;
  }
  .voice .inr .illust_area .craftsman {
    position: relative;
    width: 84.477124183%;
    margin-left: auto;
  }
  .voice .inr h2 {
    position: relative;
    width: 32.0588235294%;
    z-index: 20;
  }
  .voice .inr .en-tit {
    position: relative;
    font-size: 3.5294117647cqw;
    margin: 0 auto 11.7647058824cqw;
    z-index: 20;
  }
  .voice .inr .partner-box {
    display: block;
    margin-bottom: 14.7058823529cqw;
  }
  .voice .inr .partner-box .img_area {
    width: 108.8235294118%;
    -webkit-transform: translateX(-8.8235294118cqw);
            transform: translateX(-8.8235294118cqw);
    margin-bottom: 29.4117647059cqw;
  }
  .voice .inr .partner-box .img_area .img img {
    border-radius: 0 10px 10px 0;
  }
  .voice .inr .partner-box .img_area .cloud {
    position: absolute;
    z-index: 20;
  }
  .voice .inr .partner-box .img_area:after {
    bottom: -14.7058823529cqw;
    width: 83.7837837838%;
    aspect-ratio: 620/300;
    border-radius: 0 10px 10px 0;
  }
  .voice .inr .partner-box .text_area {
    width: 100%;
  }
  .voice .inr .partner-box .bubble_box {
    width: 82.3529411765%;
    border-radius: 10px;
    padding: 7.3529411765cqw 11.0294117647cqw 7.3529411765cqw 5.8823529412cqw;
  }
  .voice .inr .partner-box .bubble_box .balloon_tail {
    bottom: -10px;
    width: 5px;
    height: 15px;
  }
  .voice .inr .partner-box .bubble_box .balloon_tail:after {
    left: 4px;
  }
  .voice .inr .partner-box .bubble_box .balloon_tail.-br {
    right: 24px;
  }
  .voice .inr .partner-box .bubble_box .balloon_tail.-br:after {
    top: 4px;
  }
  .voice .inr .partner-box .bubble_box .balloon_tail.-bl {
    left: 24px;
  }
  .voice .inr .partner-box .bubble_box .n_txt {
    font-size: 3.8235294118cqw;
    line-height: 2.0769230769;
  }
  .voice .inr .partner-box .bubble_box.-bubble02, .voice .inr .partner-box .bubble_box.-bubble03, .voice .inr .partner-box .bubble_box.-bubble05, .voice .inr .partner-box .bubble_box.-bubble08 {
    padding: 7.3529411765cqw 5.8823529412cqw 7.3529411765cqw 10.5882352941cqw;
  }
  .voice .inr .partner-box .people-box {
    width: 23.5294117647cqw;
    -webkit-box-shadow: 3px 3px 0 #a8c4c4;
            box-shadow: 3px 3px 0 #a8c4c4;
    border-radius: 5px;
  }
  .voice .inr .partner-box .people-box > img {
    border-radius: 5px;
  }
  .voice .inr .partner-box .people-box .name {
    width: 87.5%;
    -webkit-box-shadow: 3px 3px 0 #a8c4c4;
            box-shadow: 3px 3px 0 #a8c4c4;
  }
  .voice .inr .partner-box .-bubble01 {
    margin-top: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .voice .inr .partner-box .-bubble01 .people-box {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .voice .inr .partner-box .-bubble02 {
    margin-left: auto;
    margin-top: 14.7058823529cqw;
  }
  .voice .inr .partner-box .-bubble02 .people-box {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .voice .inr .partner-box .-bubble03 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-top: 29.4117647059cqw;
  }
  .voice .inr .partner-box .-bubble03 .bubble_box {
    margin-left: auto;
  }
  .voice .inr .partner-box .-bubble03 .people-box {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .voice .inr .partner-box .-bubble04 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-top: 14.7058823529cqw;
    width: 100%;
  }
  .voice .inr .partner-box .-bubble04 .bubble_box {
    padding: 7.3529411765cqw 6.6176470588cqw;
  }
  .voice .inr .partner-box .-bubble04 .people-box {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .voice .inr .partner-box .-bubble05 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-top: 14.7058823529cqw;
  }
  .voice .inr .partner-box .-bubble05 .bubble_box {
    margin-left: auto;
  }
  .voice .inr .partner-box .-bubble05 .people-box {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .voice .inr .partner-box .-bubble06 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-top: 14.7058823529cqw;
    width: 100%;
  }
  .voice .inr .partner-box .-bubble06 .bubble_box {
    padding: 7.3529411765cqw 6.6176470588cqw;
  }
  .voice .inr .partner-box .-bubble06 .people-box {
    left: -14.7058823529cqw;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .voice .inr .partner-box .-bubble07 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-top: 14.7058823529cqw;
  }
  .voice .inr .partner-box .-bubble07 .people-box {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .voice .inr .partner-box .-bubble08 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-top: 14.7058823529cqw;
  }
  .voice .inr .partner-box .-bubble08 .bubble_box {
    margin-left: auto;
  }
  .voice .inr .partner-box .-bubble08 .people-box {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .voice .inr .partner-box.-rev .img_area {
    width: 82.3529411765%;
    margin: 0 auto;
  }
  .voice .inr .partner-box.-rev .img_area img {
    border-radius: 10px;
  }
  .voice .inr .partner-box.-rev .img_area:after {
    left: 25.9259259259%;
    bottom: -14.7058823529cqw;
    width: 96.4285714286%;
    aspect-ratio: 540/370;
    border-radius: 10px;
  }
  .voice .inr .partner-box.-box01 {
    z-index: 10;
  }
  .voice .inr .partner-box.-box01 .cloud {
    width: 160.4411764706%;
    right: 11.7647058824%;
    top: -60.4166666667%;
    opacity: 0.95;
  }
  .voice .inr .partner-box.-box02 {
    margin-bottom: 29.4117647059cqw;
    z-index: 5;
  }
  .voice .inr .partner-box.-box02 .cloud {
    width: 168.0882352941%;
    left: 16.1764705882%;
    top: auto;
    bottom: 87.8378378378%;
  }
  .voice .inr .partner-box.-box03 {
    margin-bottom: 0;
  }
  .voice .inr .partner-box.-box03 .cloud {
    width: 170.2941176471%;
    right: 15.4411764706%;
    top: auto;
    bottom: 85.5769230769%;
  }
  .voice .inr.-w980 {
    width: 80%;
  }
  .voice .inr.-w980 h3 {
    position: relative;
    width: 69.0625%;
    margin-top: 93.75cqw;
    margin-bottom: 20.3125cqw;
    z-index: 20;
  }
  .voice .inr.-w980 .n_txt {
    position: relative;
    font-size: 4.375cqw;
    line-height: 2.3571428571;
    margin-bottom: 23.4375cqw;
    z-index: 20;
  }
  .voice .inr.-w980 .risu {
    width: 35.9375%;
    left: 44.6875%;
    bottom: auto;
    top: 64.375cqw;
    --W:229;
    --H:200;
  }
  .voice .inr.-w980 .risu:after {
    --bW:318;
    --bT:-85;
    --bL:-240;
    --imgURL: url("../img/partner/voice-btm_risu-sb.png");
    aspect-ratio: 318/110;
  }
  .voice .inr.-w980 .kumonchu {
    position: absolute;
    width: 80.78125%;
    left: 57.03125%;
    bottom: auto;
    top: 18.125cqw;
    --W:517;
    --H:704;
  }
  .voice .inr.-w980 .kumonchu:after {
    --bW:278;
    --bT:13;
    --bL:-145;
    --imgURL: url("../img/partner/voice-btm_kumonchu-sb.png");
    aspect-ratio: 278/110;
  }
  .voice .voice-loop + .voice-loop {
    margin-top: 20px;
  }
  .voice .voice-loop.-loop02 .voice-loop__inner {
    -webkit-animation: LoopX-rev 50s infinite linear 1s both;
            animation: LoopX-rev 50s infinite linear 1s both;
  }
  .voice .voice-loop.-loop04 .voice-loop__inner {
    -webkit-animation: LoopX-rev 42.86s infinite linear 1s both;
            animation: LoopX-rev 42.86s infinite linear 1s both;
  }
  .voice .voice-loop__inner {
    gap: 20px;
    -webkit-animation: LoopX 50s infinite linear 1s both;
            animation: LoopX 50s infinite linear 1s both;
  }
  .voice .voice-loop__img {
    width: 135px;
  }
  .voice .voice-loop__img:last-child, .voice .voice-loop__img:nth-child(7) {
    margin-right: 20px;
  }
}