@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap'); */

.mce-content-body {
	font: normal normal normal 62.5%/1 "Zen Kaku Gothic New","Zen Kaku Gothic Antique", Hiragino Kaku Gothic Pro, 'ヒラギノ角ゴ Pro W3', 'ヒラギノ角ゴ Pro', 'メイリオ', '游ゴシック体', 'ＭＳ Ｐゴシック', 'Yu Gothic', YuGothic, 'Meiryo', メイリオ, 'MS PGothic', sans-serif;
}

:root {
	--base-text-color02:#1e525a;
	--base-btn-color01:#1f858b;
	--base-btn-color03:#3da4a3;
	--base-color-blue:#14a5b6;
	--mt:30px;
	--mth2:50px;
	--mth3:60px;
}

#tinymce{
	padding: 20px 40px !Important;
	box-sizing: border-box;
	background: #e8f1f3;
}
#tinymce img {
    width: auto !Important;
    max-width:100%;
    height: auto !IMportant;
}

#tinymce .column-image{
	display: flex;
	flex-wrap: wrap;
	gap: 2%;

}

#tinymce .column-image.-half > div{
	width:48.68%;
}

#tinymce .column-image.-third > div{
	width: 31.578%;
}

#tinymce .column-image + .column-image{
	margin-top: 2rem;
}

#tinymce .column-image .wp-image{
	margin-top: 0;
}

#tinymce h2 {
	position: relative;
	font-size: 42px;
	font-weight: 700;
	line-height:calc(56/44);
}

#tinymce h2 {
	position: relative;
	display: block;
	font-size: 48px;
	color: var(--base-btn-color03);
	font-weight: 500;
	letter-spacing: -0.08em;
}
#tinymce h2 + *{
	margin-top: var(--mt);
}
#tinymce h2 + h2{
	margin-top: var(--mth2);
}
#tinymce h2 + h3{
	margin-top: var(--mth3);
}
#tinymce .tit_area{
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	gap:4rem;
}

#tinymce .tit_area h2{
	font-size: 48px;
}
#tinymce .tit_area .en{
	font-size: 40px;
}
#tinymce .tit_area h2 span{
	position: relative;
	display: inline-block;
	color:var(--base-text-color02);
	font-weight: 500;
	letter-spacing: -0.08em;
}

#tinymce h3:not([class]){
	display: inline-block;
	position: relative;
	font-size: 30px;
	line-height: 1.725;
	color:var(--base-btn-color03);
	font-weight: 500;
	letter-spacing: -0.04em;
	background:#fff;
	-webkit-box-shadow: 10px 10px 0 #cfe9ed;
	box-shadow: 10px 10px 0 #cfe9ed;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#tinymce h3 + *{
	margin-top: var(--mt);
}
#tinymce h3 + h2{
	margin-top: var(--mth2);
}
#tinymce h3 + h3{
	margin-top: var(--mth3);
}

.alignleft{float:none;}
.alignright{float:none;}

#tinymce p:not([class]) {
	position: relative;
	font-size: 16px;
	font-weight: 500;
	line-height:calc(80/32);
	color:var(--base-text-color02);
}

#tinymce p:not([class]) + *{
	margin-top: var(--mt);
}
#tinymce p:not([class]) + h2{
	margin-top: var(--mth2);
}
#tinymce p:not([class]) + h3{
	margin-top: var(--mth3);
}


#tinymce a:not([class]) {
	position: relative;
	font-size: 17px;
	color: var(--base-text-color);
	text-decoration: underline;
}

/* #tinymce a:not([class]) span{
	display:inline;
	font-size: 15px;
	color:var(--theme-color);
	--b_color:var(--theme-color);
	background-image: -webkit-gradient(linear, left top, right top, from(var(--b_color)), to(var(--b_color)));
	background-image: linear-gradient(90deg, var(--b_color), var(--b_color));
	background-repeat: no-repeat;
	background-position: 0px 90%;
	background-size: 100% 1px;
}
 */

mce-content-body a[data-mce-selected] {
	padding: 17px 75px 18px 40px;
    margin: 0;
	border-radius: 30px;
    box-shadow:none;
	background:var(--base-btn-color01);
}
.link_btn{
	position: relative;
	display: inline-flex;
	align-items: center;
	line-height: 1;
	isolation: isolate;
	background:var(--base-btn-color01) !important;
	width: auto;
	aspect-ratio:auto;
	padding: 17px 75px 18px 40px !important;
	overflow: hidden;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	box-sizing:border-box;
	text-decoration: none;
	border-radius: 30px !important;
	margin: 0;
}
.link_btn:before{
	content:"";
	display: block;
	width: 96%;
	height: 85%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin:auto;
	z-index:2;
	border:1px solid #fff;
	border-radius:30px;
	background-size:cover;
	-webkit-mask-image: linear-gradient(to right,#000 0,	#000 12%,
		transparent 12%,transparent 88%,	#000 88%,
		#000 100%);
	mask-image: linear-gradient(to right,#000 0,#000 25px,transparent 25px,transparent calc(100% - 25px),#000 calc(100% - 25px),#000 100%);
}
/* .link_btn::after{
	content:"";
	position: absolute;
	inset: 0;
	z-index: 1;
	pointer-events: none;
	background: url(img/texture.webp);
	background-size:cover;
	opacity:.2;
	mix-blend-mode: overlay;
} */
.link_btn .arrow{
	position: absolute;
	top: 0;
	bottom: 0;
	margin:auto;
	right: 20px;
	width: 16px;
	height: 16px;
}
.link_btn .arrow img{
	display: block;
}
/*
.mceContentBody .link_btn{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 13px;
	background: #000;
	padding:30px 50px 33px;
	border-radius: 48px;
	position: relative;
	z-index:5;
	font-size:16px;
	color: #fff;
	font-weight: 500;
}

.mceContentBody .link_btn span{
	font-size:15px;
	color: #fff;
	font-weight: 500;
}

.mceContentBody .link_btn .arrow{
	position: relative;
	width: 12px;
	height: 12px;
} */
#tinymce strong{
	font-weight:bold;
}

#tinymce .wp-caption{
	max-width:100%;
	height:auto;
	font-size: 14px;
	font-weight: 700;
/* 	margin-top: 2rem; */
}
/* #tinymce .wp-caption-dd{
	font-size:12px;
	color:#666;
	text-align: center;
	margin-top: 20px;
}
 */
#tinymce .wp-caption  + *{
	margin-top: var(--mt);
}
#tinymce .wp-caption + h2{
	margin-top: var(--mth2);
}
#tinymce .wp-caption + h3{
	margin-top: var(--mth3);
}


#tinymce .wp-caption-text{
	max-width:100%;
	height:auto;
	font-size: 14px;
	font-weight: 700;
	margin-top: 20px;
}

#tinymce blockquote {
	position: relative;
	padding:20px 30px;
	margin-left:0;
	margin-right: 0;
	background:#fff;
	box-sizing:border-box;
}

#tinymce blockquote p{
	margin-top: 0;
}

#tinymce blockquote + *{
	margin-top: var(--mt);
}
#tinymce blockquote + h2{
	margin-top: var(--mth2);
}
#tinymce blockquote + h3{
	margin-top: var(--mth3);
}
#tinymce blockquote > *{
	margin-bottom:0;
}


#tinymce blockquote h2,
#tinymce blockquote h3{
	position: relative;
	font-size:18px;
	line-height: 1.5;
	font-weight: 700;
}

#tinymce blockquote p{
	font-size: 16px;
	color: #000;
}

#tinymce ul {
	position: relative;
	counter-reset: number;
	margin: 0;
	padding: 0;
	list-style-type: none !important;

}
#tinymce ul li {
	position: relative;
	font-size:16px;
	line-height: 1.5;
	font-weight: 500;
	padding-left: 15px;
}
#tinymce ul li:before{
	content:"";
	position: absolute;
	display: block;
	top: 12px;
	left: 0;
	width: 7px;
	height: 3px;
	border-radius:4px;
	background-color:var(--base-color-blue);
}
#tinymce ul li + li{
	margin-top: 1.5rem;
}
#tinymce ul li > *{
	margin-top: 0;
	margin-bottom: 0;
}
#tinymce ol {
	position: relative;
	counter-reset: number;
	list-style-type: none !important;
	margin: 0;
	padding: 0;
}
#tinymce ol li {
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	padding-left: 12px;
	font-weight: 500;
	letter-spacing: 0.02em;
	counter-increment: number;
}
#tinymce ol li:before{
	content: counter(number) ". ";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: var(--base-color-blue);
	font-size: 16px;
/* 	font-family: "Inter", sans-serif; */
	color: var(--base-color-blue);
}
#tinymce ol li + li{
	margin-top: 1.5rem;
}
#tinymce ol li > *{
	margin-top: 0;
	margin-bottom:0;
}
#tinymce-templates-preview{
	background: #eee;
}
#tinymce ul + *,
#tinymce ol + *{
	margin-top: var(--mt);
}
#tinymce ul + h2,
#tinymce ol + h2{
	margin-top: var(--mth2);
}
#tinymce ul + h3,
#tinymce ol + h3{
	margin-top: var(--mth3);
}


#tinymce hr{
	border: none;
	border-top: 1px solid var(--base-color-gray06);
	margin:5rem 0;
}
#tinymce .mceTemp + *{
	margin-top: 55px;
}
/*# sourceMappingURL=editor-style.css.map */