@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap'); */

.mce-content-body {
	font: normal normal normal 62.5%/1 "Inter","Zen Kaku Gothic New","Zen Kaku Gothic Antique", Hiragino Kaku Gothic Pro, 'ヒラギノ角ゴ Pro W3', 'ヒラギノ角ゴ Pro', 'メイリオ', '游ゴシック体', 'ＭＳ Ｐゴシック', 'Yu Gothic', YuGothic, 'Meiryo', メイリオ, 'MS PGothic', sans-serif;
	background: #e9eaee;
}

:root {
	--theme-color:#b93937;
	--base-text-color:#000;
	--base-bg-color:#e8ebed;
	--base-bg-color02:#eeeeee;
	--base-bg-color03:#c3ced5;
	--base-bg-color04:#f5f5f5;
	--base-color-blue:#0064b4;
	--base-color-black:#000;
	--base-color-white:#fff;
	--base-color-white02:#f1f3f4;
	--base-color-gray:#888;
	--base-color-gray02:#777;
	--base-color-gray03:#8a979f;
	--base-color-gray04:#e5e5e5;
	--base-color-gray05:#a4a4a4;
	--base-color-gray06:#ccc;
	--base-border-color:#000;
	--mt:3rem;
	--mth2:8rem;
	--mth3:7rem;
}

#tinymce{
	padding: 20px 40px !Important;
	box-sizing: border-box;
}
#tinymce img {
    width: auto !Important;
    max-width:100%;
    height: auto !IMportant;
}

#tinymce h2 {
	position: relative;
	font-size: 42px;
	font-weight: 700;
	line-height:calc(56/44);
}
#tinymce h2:before{
	content: "";
	display: block;
	position: absolute;
	left: -40px;
	top:-25px;
	width: 29px;
	aspect-ratio:57/45;
	z-index:5;
	background-image: url(img/dq-icon.svg);
	background-size: cover;
}

#tinymce h2 {
	position: relative;
	font-size: 42px;
	font-weight: 700;
	line-height:calc(56/44);
}
#tinymce h2 + *{
	margin-top: var(--mt);
}
#tinymce h2 + h2{
	margin-top: var(--mth2);
}
#tinymce h2 + h3{
	margin-top: var(--mth3);
}

#tinymce h3 {
	position: relative;
	font-size: 32px;
	font-weight: 500;
	line-height:calc(56/44);
}
#tinymce h3:before{
	content: "";
	display: block;
	position: absolute;
	left: -40px;
	top:-10px;
	width: 25px;
	aspect-ratio:57/45;
	z-index:5;
	background-image: url(img/dq-icon.svg);
	background-size: cover;
}
#tinymce h3 + *{
	margin-top: var(--mt);
}
#tinymce h3 + h2{
	margin-top: var(--mth2);
}
#tinymce h3 + h3,
#tinymce h3 + h4{
	margin-top: var(--mth3);
}
#tinymce h4 {
	position: relative;
	font-size: 32px;
	font-weight: 500;
	line-height:calc(56/44);
}
#tinymce h4 + *{
	margin-top: var(--mt);
}
#tinymce h4 + h2{
	margin-top: var(--mth2);
}
#tinymce h4 + h3,
#tinymce h4 + h4{
	margin-top: var(--mth3);
}

.alignleft{float:none;}
.alignright{float:none;}

#tinymce p:not([class]) {
	position: relative;
	font-size:17px;
	line-height: calc(92/34);
	font-weight: 500;
	text-decoration: none;
}

#tinymce p:not([class]) + *{
	margin-top: var(--mt);
}
#tinymce p:not([class]) + h2{
	margin-top: var(--mth2);
}
#tinymce p:not([class]) + h3{
	margin-top: var(--mth3);
}


#tinymce a:not([class]) {
	position: relative;
	font-size: 17px;
	color: var(--base-text-color);
	text-decoration: underline;
}

/* #tinymce a:not([class]) span{
	display:inline;
	font-size: 15px;
	color:var(--theme-color);
	--b_color:var(--theme-color);
	background-image: -webkit-gradient(linear, left top, right top, from(var(--b_color)), to(var(--b_color)));
	background-image: linear-gradient(90deg, var(--b_color), var(--b_color));
	background-repeat: no-repeat;
	background-position: 0px 90%;
	background-size: 100% 1px;
}
 */


.link_btn{
	position: relative;
	display: inline-flex;
	align-items: center;
	padding:31px 42px 31px 62px;
	border-radius:80px;
	gap:8px;
	border-radius: 40px;
	border: 1px solid transparent;
	line-height: 1;
	background:var(--base-color-black);
	z-index:5;
	text-decoration: none;
}
.link_btn{
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.08em;
}

.link_btn .arrow{
	display: inline-flex;
	flex: 0 0 auto;
	width: 17px;
	transition: transform .4s var(--easeOutCubic);
}

.btn .arrow	svg{
	width: 17px;
	aspect-ratio:29/13;
}
.mceContentBody .link_btn{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 13px;
	background: #000;
	padding:30px 50px 33px;
	border-radius: 48px;
	position: relative;
	z-index:5;
	font-size:16px;
	color: #fff;
	font-weight: 500;
}

.mceContentBody .link_btn span{
	font-size:15px;
	color: #fff;
	font-weight: 500;
}

.mceContentBody .link_btn .arrow{
	position: relative;
	width: 12px;
	height: 12px;
}
#tinymce strong{
	font-weight:bold;
}

#tinymce img{
	max-width:100%;
	height:auto;
	border-radius:1rem;
}
#tinymce .wp-caption{
	max-width:100%;
	height:auto;
	font-size: 14px;
	font-weight: 700;
	margin-top: 2rem;
}
/* #tinymce .wp-caption-dd{
	font-size:12px;
	color:#666;
	text-align: center;
	margin-top: 20px;
}
 */
#tinymce .wp-caption  + *{
	margin-top: var(--mt);
}
#tinymce .wp-caption + h2{
	margin-top: var(--mth2);
}
#tinymce .wp-caption + h3{
	margin-top: var(--mth3);
}


#tinymce .wp-caption-text{
	max-width:100%;
	height:auto;
	font-size: 14px;
	font-weight: 700;
	margin-top: 20px;
}

#tinymce blockquote {
	position: relative;
	padding:20px 30px;
	margin-left:0;
	margin-right: 0;
	background:#fff;
	border-radius:10px;
	box-sizing:border-box;
	border:1px solid var(--base-border-color);
	box-sizing:border-box;
}

#tinymce blockquote + *{
	margin-top: var(--mt);
}
#tinymce blockquote + h2{
	margin-top: var(--mth2);
}
#tinymce blockquote + h3{
	margin-top: var(--mth3);
}
#tinymce blockquote > *{
	margin-bottom:0;
}


#tinymce blockquote h2,
#tinymce blockquote h3{
	position: relative;
	font-size:18px;
	line-height: 1.5;
	font-weight: 700;
	padding-left: 22px;
}

#tinymce blockquote p{
	font-size: 14px;
}

#tinymce ul {
	position: relative;
	counter-reset: number;
	margin: 0;
	padding: 0;
	list-style-type: none !important;

}
#tinymce ul li {
	position: relative;
	font-size:16px;
	line-height: 1.5;
	font-weight: 500;
	padding-left: 30px;
	letter-spacing: 0.1em;
}
#tinymce ul li:before{
	content:"";
	position: absolute;
	display: block;
	top: 8px;
	left: 0;
	width: 16px;
	height: 8px;
	border-radius:4px;
	background-color:var(--base-color-blue);
}
#tinymce ul li + li{
	margin-top: 1.5rem;
}
#tinymce ul li > *{
	margin-top: 0;
	margin-bottom: 0;
}
#tinymce ol {
	position: relative;
	counter-reset: number;
	list-style-type: none !important;
	margin: 0;
	padding: 0;
}
#tinymce ol li {
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	padding-left: 22px;
	letter-spacing: 0.02em;
	counter-increment: number;
}
#tinymce ol li:before{
	content: counter(number) ". ";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: var(--base-color-blue);
	font-size: 18px;
	font-family: "Inter", sans-serif;
}
#tinymce ol li + li{
	margin-top: 1.5rem;
}
#tinymce ol li > *{
	margin-top: 0;
	margin-bottom:0;
}
#tinymce-templates-preview{
	background: #eee;
}
#tinymce ul + *,
#tinymce ol + *{
	margin-top: var(--mt);
}
#tinymce ul + h2,
#tinymce ol + h2{
	margin-top: var(--mth2);
}
#tinymce ul + h3,
#tinymce ol + h3{
	margin-top: var(--mth3);
}


#tinymce hr{
	border: none;
	border-top: 1px solid var(--base-color-gray06);
	margin:5rem 0;
}
#tinymce .mceTemp + *{
	margin-top: 55px;
}
/*# sourceMappingURL=editor-style.css.map */